Intecrio/Main_ECU_ETR07/data.bak3/Data/DTD/ES1320NodeMain.dtd

<?DTDVersion "3.2.0"?>
<?CompatibleDTDVersion "2.2"?>
<?CompatibleDTDVersion "2.0.2"?>
<?CompatibleDTDVersion "2.0.1"?>
<?CompatibleDTDVersion "2.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!NOTATION ofTypeES1320NodeDevice SYSTEM "ES1320NodeDevice">
<!NOTATION ofTypeES1320NodeMain SYSTEM "ES1320NodeMain">
<!NOTATION ofTypeES1320NodeSignal SYSTEM "ES1320NodeSignal">
<!NOTATION ofTypeES1320NodeSignalGroup SYSTEM "ES1320NodeSignalGroup">
<!NOTATION ofTypeES1320NodeSignalGroupReceive SYSTEM "ES1320NodeSignalGroupReceive">
<!NOTATION ofTypeES1320NodeSignalGroupSend SYSTEM "ES1320NodeSignalGroupSend">
<!NOTATION ofTypeES1320NodeSignalReceive SYSTEM "ES1320NodeSignalReceive">
<!NOTATION ofTypeES1320NodeSignalSend SYSTEM "ES1320NodeSignalSend">

<?SuperClass ES1320NodeMain->ESNodeMain ?>
<?SuperClass ES1320NodeDevice->ESNodeDevice ?>
<?SuperClass ES1320NodeSignalGroup->ESNodeUnsortedSignalGroup ?>
<?SuperClass ES1320NodeSignal->ESNodeSignal ?>
<?SuperClass ES1320NodeSignalReceive->ES1320NodeSignal ?>
<?SuperClass ES1320NodeSignalSend->ES1320NodeSignal ?>
<?SuperClass ES1320NodeDevice->ESNodeDevice ?>
<?SuperClass ES1320NodeSignalGroupReceive->ES1320NodeSignalGroup ?>
<?SuperClass ES1320NodeSignalGroupSend->ES1320NodeSignalGroup ?>

<!-- node main -->

<!ELEMENT ES1320NodeMain (ES1320NodeMain.Parameters, ES1320NodeMain.L1Generation, ES1320NodeMain.SubNodes, _System)>
<!ATTLIST ES1320NodeMain
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBOBoard ENTITY #REQUIRED
    GlobalParent.ofTypeYBOCPUBoard ENTITY #REQUIRED
>


<!ELEMENT ES1320NodeMain.Parameters (ES1320NodeMainParameters)>
<!ELEMENT ES1320NodeMain.L1Generation (ES1320NodeMainL1Generation)>
<!ELEMENT ES1320NodeMain.SubNodes (ES1320NodeMainSubNodeList)>

<!ELEMENT ES1320NodeMainL1Generation (ES1320NodeMainL1Generation.NotRunning, ES1320NodeMainL1Generation.Reconnect, ES1320NodeMainL1Generation.WriteToStream)>
<!ATTLIST ES1320NodeMainL1Generation  
    L1TreeIndex CDATA "-1"

    ConfigROID CDATA "-1"
>

<!ELEMENT ES1320NodeMainL1Generation.NotRunning (ES1320NodeMainL1GenerationNotRunning)>
<!ELEMENT ES1320NodeMainL1Generation.Reconnect (ES1320NodeMainL1GenerationReconnect)>
<!ELEMENT ES1320NodeMainL1Generation.WriteToStream (ES1320NodeMainL1GenerationWriteToStream)>
<!ELEMENT ES1320NodeMainL1GenerationNotRunning EMPTY>
<!ELEMENT ES1320NodeMainL1GenerationReconnect EMPTY>
<!ELEMENT ES1320NodeMainL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1320NodeMainParameters (ES1320NodeMainParameters.Name, ES1320NodeMainParameters.Enabled,  ES1320NodeMainParameters.VMEBaseAddress)>

<!ELEMENT ES1320NodeMainParameters.Name (ESParameterName)>
<!ELEMENT ES1320NodeMainParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES1320NodeMainParameters.VMEBaseAddress (ESParameterEnum)>
<!ATTLIST ES1320NodeMainParameters.VMEBaseAddress      
    EnumText1      CDATA "ID1 / 0xFE0400"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ID2 / 0xFE0C00"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "ID3 / 0xFE1400"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "ID4 / 0xFE1C00"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "ID5 / 0xFE2400"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "ID6 / 0xFE2C00"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "ID7 / 0xFE3400"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "ID8 / 0xFE3C00"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "ID9 / 0xFE4400"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "ID10 / 0xFE4C00"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "ID11 / 0xFE5400"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"

    EnumText12      CDATA "ID12 / 0xFE5C00"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"

    EnumText13      CDATA "ID13 / 0xFE6400"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"

    EnumText14      CDATA "ID14 / 0xFE6C00"
    EnumL1Value14     CDATA "13"
    EnumAvailable14 CDATA "1"

    EnumText15      CDATA "ID15 / 0xFE7400"
    EnumL1Value15     CDATA "14"
    EnumAvailable15 CDATA "1"
    
    EnumText16      CDATA "ID16 / 0xFE7C00"
    EnumL1Value16     CDATA "15"
    EnumAvailable16 CDATA "1"
>

<!ELEMENT ES1320NodeMainSubNodeList (ES1320NodeDevice)*>


<!-- node device -->

<!ELEMENT ES1320NodeDevice (ES1320NodeDevice.Parameters, ES1320NodeDevice.L1Generation, ES1320NodeDevice.SubNodes)>
<!ATTLIST ES1320NodeDevice
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
>

<!ELEMENT ES1320NodeDevice.Parameters (ES1320NodeDeviceParameters)>
<!ELEMENT ES1320NodeDevice.L1Generation (ES1320NodeDeviceL1Generation)>
<!ELEMENT ES1320NodeDevice.SubNodes (ES1320NodeDeviceSubNodeList)>

<!ELEMENT ES1320NodeDeviceL1Generation (ES1320NodeDeviceL1Generation.UnionCase, ES1320NodeDeviceL1Generation.Reconnect)>
<!ATTLIST ES1320NodeDeviceL1Generation  
    L1TreeIndex CDATA "-1"

    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
    APIROIDArray5 CDATA "-1"
>

<!ELEMENT ES1320NodeDeviceL1Generation.UnionCase (ES1320NodeDeviceL1GenerationUnionCase)>
<!ELEMENT ES1320NodeDeviceL1Generation.Reconnect (ES1320NodeDeviceL1GenerationReconnect)>

<!ELEMENT ES1320NodeDeviceL1GenerationUnionCase EMPTY>
<!ELEMENT ES1320NodeDeviceL1GenerationReconnect EMPTY>

<!ELEMENT ES1320NodeDeviceParameters (ES1320NodeDeviceParameters.Name, ES1320NodeDeviceParameters.Enabled, ES1320NodeDeviceParameters.PiggybackBoardID)>

<!ELEMENT ES1320NodeDeviceParameters.Name (ESParameterName)>
<!ELEMENT ES1320NodeDeviceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1320NodeDeviceParameters.PiggybackBoardID (ESParameterEnum)>
<!ATTLIST ES1320NodeDeviceParameters.PiggybackBoardID     
    EnumText1      CDATA "upper"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "lower"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES1320NodeDeviceSubNodeList (ES1320NodeSignalGroupReceive | ES1320NodeSignalGroupSend)*>

<!-- node signal group -->

<!ELEMENT ES1320NodeSignalGroup (ES1320NodeSignalGroup.Parameters, ES1320NodeSignalGroup.SubNodes)>
<!ATTLIST ES1320NodeSignalGroup
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1320NodeSignalGroup.Parameters (ES1320NodeSignalGroupParameters)>
<!ELEMENT ES1320NodeSignalGroup.SubNodes (ES1320NodeSignalGroupSubNodeList)>

<!ELEMENT ES1320NodeSignalGroupL1GenerationUnionCase EMPTY>


<!ELEMENT ES1320NodeSignalGroupParameters (ES1320NodeSignalGroupParameters.Name, ES1320NodeSignalGroupParameters.Enabled,ES1320NodeSignalGroupParameters.Direction, ES1320NodeSignalGroupParameters.Task)>

<!ELEMENT ES1320NodeSignalGroupParameters.Name (ESParameterName)>
<!ELEMENT ES1320NodeSignalGroupParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES1320NodeSignalGroupParameters.Task (ESParameterString)>
<!ELEMENT ES1320NodeSignalGroupParameters.Direction (ESParameterEnum)>
<!ATTLIST ES1320NodeSignalGroupParameters.Direction       
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES1320NodeSignalGroupSubNodeList (ES1320NodeSignal)*>

<!-- node signal group receive -->

<!ELEMENT ES1320NodeSignalGroupReceive (ES1320NodeSignalGroupReceive.Parameters, ES1320NodeSignalGroupReceive.L1Generation, ES1320NodeSignalGroupReceive.SubNodes)>
<!ATTLIST ES1320NodeSignalGroupReceive
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1320NodeSignalGroupReceive.L1Generation (ES1320NodeSignalGroupReceiveL1Generation)>
<!ELEMENT ES1320NodeSignalGroupReceive.SubNodes (ES1320NodeSignalGroupReceiveSubNodeList)>

<!ELEMENT ES1320NodeSignalGroupReceive.Parameters (ES1320NodeSignalGroupParameters)>

<!ELEMENT ES1320NodeSignalGroupReceiveL1Generation (ES1320NodeSignalGroupReceiveL1Generation.UnionCase, ES1320NodeSignalGroupReceiveL1Generation.Reconnect)>
<!ATTLIST ES1320NodeSignalGroupReceiveL1Generation  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
>

<!ELEMENT ES1320NodeSignalGroupReceiveL1Generation.UnionCase (ES1320NodeSignalGroupL1GenerationUnionCase)>
<!ELEMENT ES1320NodeSignalGroupReceiveL1Generation.Reconnect (ESL1GenerationCaseSignalGroupReconnect)>

<!ELEMENT ES1320NodeSignalGroupReceiveL1GenerationUnionCase EMPTY>

<!ELEMENT ES1320NodeSignalGroupReceiveSubNodeList (ES1320NodeSignalReceive)*>

<!-- node signal group send -->

<!ELEMENT ES1320NodeSignalGroupSend (ES1320NodeSignalGroupSend.Parameters, ES1320NodeSignalGroupSend.L1Generation, ES1320NodeSignalGroupSend.SubNodes)>
<!ATTLIST ES1320NodeSignalGroupSend
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1320NodeSignalGroupSend.L1Generation (ES1320NodeSignalGroupSendL1Generation)>
<!ELEMENT ES1320NodeSignalGroupSend.SubNodes (ES1320NodeSignalGroupSendSubNodeList)>

<!ELEMENT ES1320NodeSignalGroupSend.Parameters (ES1320NodeSignalGroupParameters)>

<!ELEMENT ES1320NodeSignalGroupSendL1Generation (ES1320NodeSignalGroupSendL1Generation.UnionCase, ES1320NodeSignalGroupSendL1Generation.Reconnect)>
<!ATTLIST ES1320NodeSignalGroupSendL1Generation  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
>

<!ELEMENT ES1320NodeSignalGroupSendL1Generation.UnionCase (ES1320NodeSignalGroupL1GenerationUnionCase)>
<!ELEMENT ES1320NodeSignalGroupSendL1Generation.Reconnect (ESL1GenerationCaseSignalGroupReconnect)>

<!ELEMENT ES1320NodeSignalGroupSendL1GenerationUnionCase EMPTY>

<!ELEMENT ES1320NodeSignalGroupSendSubNodeList (ES1320NodeSignalSend)*>

<!-- node signal -->

<!ELEMENT ES1320NodeSignal (ES1320NodeSignal.Parameters, ES1320NodeSignal.SubNodes)>
<!ATTLIST ES1320NodeSignal
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1320NodeSignal.Parameters (ES1320NodeSignalParameters)>
<!ELEMENT ES1320NodeSignal.SubNodes (ES1320NodeSignalSubNodeList)>

<!ELEMENT ES1320NodeSignalParameters (ES1320NodeSignalParameters.Name, ES1320NodeSignalParameters.Enabled, ES1320NodeSignalParameters.SignalType, ES1320NodeSignalParameters.Unit, ES1320NodeSignalParameters.Formula, ES1320NodeSignalParameters.Min, ES1320NodeSignalParameters.Max, ES1320NodeSignalParameters.InitValue, ES1320NodeSignalParameters.Logic, ES1320NodeSignalParameters.Message)>

<!ELEMENT ES1320NodeSignalParameters.Name (ESParameterName)>
<!ELEMENT ES1320NodeSignalParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES1320NodeSignalParameters.SignalType (ESParameterEnum)>
<!ATTLIST ES1320NodeSignalParameters.SignalType        
    EnumText1      CDATA "cont"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "sdisc"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "udisc"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "boolean"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "enum"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "0"
>

<!ELEMENT ES1320NodeSignalParameters.Unit (ESParameterString)>
<!ELEMENT ES1320NodeSignalParameters.Formula (ESParameterUnion)>
<!ELEMENT ES1320NodeSignalParameters.Min (ESParameterFloat)>
<!ELEMENT ES1320NodeSignalParameters.Max (ESParameterFloat)>
<!ELEMENT ES1320NodeSignalParameters.InitValue (ESParameterFloat)>

<!ELEMENT ES1320NodeSignalParameters.Logic (ESParameterEnum)>
<!ATTLIST ES1320NodeSignalParameters.Logic          
    EnumText1      CDATA "active HIGH"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "active LOW"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES1320NodeSignalParameters.Message (ESParameterString)>

<!ELEMENT ES1320NodeSignalSubNodeList EMPTY>


<!--node signal receive -->

<!ELEMENT ES1320NodeSignalReceive (ES1320NodeSignalReceive.Parameters, ES1320NodeSignalReceive.L1Generation, ES1320NodeSignalReceive.SubNodes)>
<!ATTLIST ES1320NodeSignalReceive
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED

>

<!ELEMENT ES1320NodeSignalReceive.L1Generation (ES1320NodeSignalReceiveL1Generation)>
<!ELEMENT ES1320NodeSignalReceive.SubNodes (ES1320NodeSignalReceiveSubNodeList)>

<!ELEMENT ES1320NodeSignalReceive.Parameters (ES1320NodeSignalParameters)>

<!ELEMENT ES1320NodeSignalReceiveL1Generation (ES1320NodeSignalReceiveL1Generation.UnionCase, ES1320NodeSignalReceiveL1Generation.Reconnect)>
<!ATTLIST ES1320NodeSignalReceiveL1Generation   
    L1TreeIndex CDATA "-1"
    
    MappingROID CDATA "-1"
>

<!ELEMENT ES1320NodeSignalReceiveL1Generation.UnionCase (ES1320NodeSignalReceiveL1GenerationUnionCase)>
<!ELEMENT ES1320NodeSignalReceiveL1Generation.Reconnect (ESL1GenerationCaseSignalReconnect)>

<!ELEMENT ES1320NodeSignalReceiveL1GenerationUnionCase EMPTY>


<!ELEMENT ES1320NodeSignalReceiveSubNodeList EMPTY>

<!-- node signal send -->

<!ELEMENT ES1320NodeSignalSend (ES1320NodeSignalSend.Parameters, ES1320NodeSignalSend.L1Generation, ES1320NodeSignalSend.SubNodes)>
<!ATTLIST ES1320NodeSignalSend
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1320NodeSignalSend.L1Generation (ES1320NodeSignalSendL1Generation)>
<!ELEMENT ES1320NodeSignalSend.SubNodes (ES1320NodeSignalSendSubNodeList)>

<!ELEMENT ES1320NodeSignalSend.Parameters (ES1320NodeSignalParameters)>

<!ELEMENT ES1320NodeSignalSendL1Generation (ES1320NodeSignalSendL1Generation.UnionCase, ES1320NodeSignalSendL1Generation.Reconnect)>
<!ATTLIST ES1320NodeSignalSendL1Generation    
    L1TreeIndex CDATA "-1"
    
    MappingROID CDATA "-1"
>

<!ELEMENT ES1320NodeSignalSendL1Generation.UnionCase (ES1320NodeSignalSendL1GenerationUnionCase)>
<!ELEMENT ES1320NodeSignalSendL1Generation.Reconnect (ESL1GenerationCaseSignalReconnect)>

<!ELEMENT ES1320NodeSignalSendL1GenerationUnionCase EMPTY>


<!ELEMENT ES1320NodeSignalSendSubNodeList EMPTY>
