Main_ECU/data.bak20/Data/DTD/ES800LINNodeMain.dtd

<?DTDVersion "5.0.0.0"?>
<?CompatibleDTDVersion "4.7.3.1"?>
<?CompatibleDTDVersion "4.7.2"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!ENTITY % ESLINBaseNodeMain SYSTEM "ESLINBaseNodeMain.dtd">
%ESLINBaseNodeMain;

<!NOTATION ofTypeES800LINNodeMain SYSTEM "ES800LINNodeMain">
<!NOTATION ofTypeES800LINNodeController SYSTEM "ES800LINNodeController">
<!NOTATION ofTypeES800LINNodeDevice SYSTEM "ES800LINNodeDevice">



<?SuperClass ES800LINNodeMain->ES800Component ?>
<?SuperClass ES800LINNodeMain->ESLINBaseNodeMain ?>
<?SuperClass ES800LINNodeController->ESLINBaseNodeController ?>
<?SuperClass ES800LINNodeController->StackLocationParametersNode ?>
<?SuperClass ES800LINNodeDevice->ESLINBaseNodeDevice ?>


<!-- node main -->
<!ELEMENT ES800LINNodeMain (ES800LINNodeMain.Parameters, ES800LINNodeMain.L1Generation, ES800LINNodeMain.SubNodes,  _System)>
<!ATTLIST ES800LINNodeMain
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOBoard ENTITY #REQUIRED
    GlobalParent.ofTypeYBOCPUBoard ENTITY #REQUIRED
>

<!ELEMENT ES800LINNodeMain.Parameters (ES800LINNodeMainParameters)>
<!ELEMENT ES800LINNodeMain.L1Generation (ES800LINNodeMainL1GenerationBlock)>
<!ELEMENT ES800LINNodeMain.SubNodes (ES800LINNodeMainSubNodeList)>

<!ELEMENT ES800LINNodeMainL1GenerationBlock (ES800LINNodeMainL1GenerationBlock.NotRunning, ES800LINNodeMainL1GenerationBlock.Reconnect, ES800LINNodeMainL1GenerationBlock.WriteToStream)>
<!ATTLIST ES800LINNodeMainL1GenerationBlock
    L1TreeIndex CDATA "-1"

    ConfigROID CDATA "-1"
>

<!ELEMENT ES800LINNodeMainL1GenerationBlock.NotRunning (ES800LINNodeMainL1GenerationNotRunning)>
<!ELEMENT ES800LINNodeMainL1GenerationBlock.Reconnect (ES800LINNodeMainL1GenerationReconnect)>
<!ELEMENT ES800LINNodeMainL1GenerationBlock.WriteToStream (ES800LINNodeMainL1GenerationWriteToStream)>

<!ELEMENT ES800LINNodeMainL1GenerationNotRunning EMPTY>
<!ELEMENT ES800LINNodeMainL1GenerationReconnect EMPTY>
<!ELEMENT ES800LINNodeMainL1GenerationWriteToStream EMPTY>


<!ELEMENT ES800LINNodeMainParameters (ES800LINNodeMainParameters.Name, ES800LINNodeMainParameters.Enabled)>

<!ELEMENT ES800LINNodeMainParameters.Name (ESParameterName)>
<!ELEMENT ES800LINNodeMainParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES800LINNodeMainSubNodeList (ES800LINNodeController)*>

<!-- node controller-->

<!ELEMENT ES800LINNodeController (ES800LINNodeController.Parameters, ES800LINNodeController.L1Generation, ES800LINNodeController.SubNodes)>
<!ATTLIST ES800LINNodeController
    Name ID #REQUIRED
>


<!ELEMENT ES800LINNodeController.Parameters (ES800LINNodeControllerParameters)>
<!ELEMENT ES800LINNodeController.L1Generation (ES800LINNodeControllerL1GenerationBlock)>
<!ELEMENT ES800LINNodeController.SubNodes (ES800LINNodeControllerSubNodeList)>

<!ELEMENT ES800LINNodeControllerL1GenerationBlock (ES800LINNodeControllerL1GenerationBlock.UnionCase, ES800LINNodeControllerL1GenerationBlock.Reconnect)>
<!ATTLIST ES800LINNodeControllerL1GenerationBlock
    L1TreeIndex CDATA "-1"

>

<!ELEMENT ES800LINNodeControllerL1GenerationBlock.UnionCase (ES800LINNodeControllerL1GenerationUnionCase)>
<!ELEMENT ES800LINNodeControllerL1GenerationBlock.Reconnect (ES800LINNodeControllerL1GenerationReconnect)>

<!ELEMENT ES800LINNodeControllerL1GenerationUnionCase EMPTY>
<!ELEMENT ES800LINNodeControllerL1GenerationReconnect EMPTY>

<!ELEMENT ES800LINNodeControllerParameters (ES800LINNodeControllerParameters.Enabled,
                                            ES800LINNodeControllerParameters.Name,
                                            ES800LINNodeControllerParameters.LDFFile,
                                            ES800LINNodeControllerParameters.LDFFileVersion,
                                            ES800LINNodeControllerParameters.ModuleType,
                                            ES800LINNodeControllerParameters.ModuleTypeInstance,
                                            ES800LINNodeControllerParameters.Port,
                                            ES800LINNodeControllerParameters.BaudRate,
                                            ES800LINNodeControllerParameters.SpecialBaudRate)>

<!ELEMENT ES800LINNodeControllerParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES800LINNodeControllerParameters.Name (ESParameterName)>
<!ELEMENT ES800LINNodeControllerParameters.LDFFile (ESParameterString)>
<!ELEMENT ES800LINNodeControllerParameters.LDFFileVersion (ESParameterEnum)>
<!ATTLIST ES800LINNodeControllerParameters.LDFFileVersion
    EnumText1      CDATA "-"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "1.3"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "2.0"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "2.1"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "2.2"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
>
<!ELEMENT ES800LINNodeControllerParameters.ModuleType (ESParameterDynamicEnum)>

<!ELEMENT ES800LINNodeControllerParameters.ModuleTypeInstance (ESParameterUInt)>

<!ELEMENT ES800LINNodeControllerParameters.Port (ESParameterDynamicEnum)>

<!ELEMENT ES800LINNodeControllerParameters.BaudRate (ESParameterEnum)>
<!ATTLIST ES800LINNodeControllerParameters.BaudRate
    EnumText1      CDATA "19200"
    EnumL1Value1     CDATA "19200"
    EnumAvailable1 CDATA "1"

     EnumText2      CDATA "10400"
    EnumL1Value2     CDATA "10400"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "9600"
    EnumL1Value3     CDATA "9600"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "2400"
    EnumL1Value4     CDATA "2400"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "special settings"
    EnumL1Value5     CDATA "-1"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "automatic"
    EnumL1Value6     CDATA "-10"
    EnumAvailable6 CDATA "0"
>

<!ELEMENT ES800LINNodeControllerParameters.SpecialBaudRate (ESParameterUInt)>

<!ELEMENT ES800LINNodeControllerSubNodeList (ES800LINNodeDevice )*>


<!-- node device-->

<!-- The attribute IRQSource is a leftover and is no longer used. It has been replaced by the parameter IRQSource. The code of the attribute is deleted.  -->
<!ELEMENT ES800LINNodeDevice (ES800LINNodeDevice.Parameters, ES800LINNodeDevice.L1Generation, ES800LINNodeDevice.SubNodes, ES800LINNodeDevice.SignalPool)>
<!ATTLIST ES800LINNodeDevice
    Name ID #REQUIRED

    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED

    IRQSource CDATA ""
>

<!ELEMENT ES800LINNodeDevice.Parameters (ES800LINNodeDeviceParameters)>
<!ELEMENT ES800LINNodeDevice.L1Generation (ES800LINNodeDeviceL1GenerationBlock)>
<!ELEMENT ES800LINNodeDevice.SubNodes (ES800LINNodeDeviceSubNodeList)>
<!ELEMENT ES800LINNodeDevice.SignalPool (ESLINPoolSignal)>


<!ELEMENT ES800LINNodeDeviceL1GenerationBlock (ES800LINNodeDeviceL1GenerationBlock.UnionCaseMaster, ES800LINNodeDeviceL1GenerationBlock.UnionCaseSlave, ES800LINNodeDeviceL1GenerationBlock.Reconnect)>
<!ATTLIST ES800LINNodeDeviceL1GenerationBlock
    L1TreeIndex CDATA "-1"

    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
    APIROIDArray5 CDATA "-1"
    APIROIDArray6 CDATA "-1"

    IRQTriggeredSignalGroups CDATA "0"
    L1RelevantSignalGroups CDATA "0"
>

<!ELEMENT ES800LINNodeDeviceL1GenerationBlock.UnionCaseMaster (ES800LINNodeDeviceL1GenerationUnionCaseMaster)>
<!ELEMENT ES800LINNodeDeviceL1GenerationBlock.UnionCaseSlave (ES800LINNodeDeviceL1GenerationUnionCaseSlave)>
<!ELEMENT ES800LINNodeDeviceL1GenerationBlock.Reconnect (ES800LINNodeDeviceL1GenerationReconnect)>

<!ELEMENT ES800LINNodeDeviceL1GenerationUnionCaseMaster EMPTY>
<!ELEMENT ES800LINNodeDeviceL1GenerationUnionCaseSlave EMPTY>
<!ELEMENT ES800LINNodeDeviceL1GenerationReconnect EMPTY>


<!ELEMENT ES800LINNodeDeviceParameters (ES800LINNodeDeviceParameters.Name,
    ES800LINNodeDeviceParameters.Enabled,
    ES800LINNodeDeviceParameters.ProtocolVersionDevice,
    ES800LINNodeDeviceParameters.TimeBase,
    ES800LINNodeDeviceParameters.ConfiguredNAD,
    ES800LINNodeDeviceParameters.InitialNAD,
    ES800LINNodeDeviceParameters.SupplierID,
    ES800LINNodeDeviceParameters.FunctionID,
    ES800LINNodeDeviceParameters.VariantID,
    ES800LINNodeDeviceParameters.SerialNumber,
    ES800LINNodeDeviceParameters.NodeType,
    ES800LINNodeDeviceParameters.DeviceInstance,
    ES800LINNodeDeviceParameters.ISR,
    ES800LINNodeDeviceParameters.IRQSource)>

<!ELEMENT ES800LINNodeDeviceParameters.NodeType (ESParameterEnum)>
<!ATTLIST ES800LINNodeDeviceParameters.NodeType
    EnumText1      CDATA "Master Node"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Slave Node"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES800LINNodeDeviceParameters.DeviceInstance (ESParameterEnum)>
<!ATTLIST ES800LINNodeDeviceParameters.DeviceInstance
    EnumText1      CDATA "Master Device: Instance 0"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Slave Device: Instance 0"
    EnumL1Value2     CDATA "0"
    EnumAvailable2 CDATA "1"

    EnumText2      CDATA "Slave Device: Instance 1"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "0"

    EnumText2      CDATA "Slave Device: Instance 2"
    EnumL1Value2     CDATA "2"
    EnumAvailable2 CDATA "0"

    EnumText2      CDATA "Slave Device: Instance 3"
    EnumL1Value2     CDATA "3"
    EnumAvailable2 CDATA "0"
>
<!--ES800LINNodeDeviceParameters.SupportedSIDs-->


<!ELEMENT ES800LINNodeDeviceParameters.SerialNumber (ESParameterUInt)>

<!ELEMENT ES800LINNodeDeviceParameters.Name (ESParameterName)>
<!ELEMENT ES800LINNodeDeviceParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES800LINNodeDeviceParameters.ProtocolVersionDevice (ESParameterEnum)>
<!ATTLIST ES800LINNodeDeviceParameters.ProtocolVersionDevice
    EnumText1      CDATA "1.3"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "2.0"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "2.1"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "2.2"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
>

<!ELEMENT ES800LINNodeDeviceParameters.TimeBase (ESParameterFloat)>
<!ELEMENT ES800LINNodeDeviceParameters.ConfiguredNAD (ESParameterUInt)>
<!ELEMENT ES800LINNodeDeviceParameters.InitialNAD (ESParameterUInt)>
<!ELEMENT ES800LINNodeDeviceParameters.SupplierID (ESParameterUInt)>
<!ELEMENT ES800LINNodeDeviceParameters.FunctionID (ESParameterUInt)>
<!ELEMENT ES800LINNodeDeviceParameters.VariantID (ESParameterUInt)>
<!ELEMENT ES800LINNodeDeviceParameters.ISR (ESParameterString)>
<!ELEMENT ES800LINNodeDeviceParameters.IRQSource (ESParameterString)>

<!ELEMENT ES800LINNodeDeviceSubNodeList (ESLINNodeScheduleTables | ESLINNodeStatus | ESLINNodeFramePool | ESLINNodeDiagnosticFramePool)*>
