Intecrio/Main_ECU_ETR07/cgen/pi/system/OILWorkspace/DTD/oilresource.dtd

<?DTDVersion "2.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;
<!ENTITY % OILBO SYSTEM "OILALARM_ACTION_ACTIVATETASK.DTD">
%OILBO;


<?SuperClass OILRESOURCE->OILBO ?>

<!ELEMENT OILRESOURCE (OILRESOURCE.OILRESOURCEREFs, OILRESOURCE.OILRESOURCERESOURCE_PROPERTYs, _System)>
<!ATTLIST OILRESOURCE
    Name ID #REQUIRED
    Description CDATA ""
>


<!ELEMENT OILRESOURCE.OILRESOURCEREFs (OILOBJREFList)>
<!ELEMENT OILRESOURCE.OILRESOURCERESOURCE_PROPERTYs (OILRESOURCERESOURCE_PROPERTYList)>

