Main_ECU/data.bak13/Data/DTD/ES8XXSysCtrNodeMain.dtd

<?DTDVersion "4.7.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!NOTATION ofTypeES8XXSysCtrNodeMain SYSTEM "ES8XXSysCtrNodeMain">
<!NOTATION ofTypeES8XXSysCtrNodeDevice SYSTEM "ES8XXSysCtrNodeDevice">
<!NOTATION ofTypeES8XXSysCtrNodeSignalGroupSendBase SYSTEM "ES8XXSysCtrNodeSignalGroupSendBase">
<!NOTATION ofTypeES8XXSysCtrNodeSignalGroupReceiveBase SYSTEM "ES8XXSysCtrNodeSignalGroupReceiveBase">
<!NOTATION ofTypeES8XXSysCtrNodeSignalGroupStatusSend SYSTEM "ES8XXSysCtrNodeSignalGroupStatusSend">
<!NOTATION ofTypeES8XXSysCtrNodeSignalGroupStatusReceive SYSTEM "ES8XXSysCtrNodeSignalGroupStatusReceive">
<!NOTATION ofTypeES8XXSysCtrNodeSignalGroupWatchdogSend SYSTEM "ES8XXSysCtrNodeSignalGroupWatchdogSend">
<!NOTATION ofTypeES8XXSysCtrNodeSignalGroupWatchdogReceive SYSTEM "ES8XXSysCtrNodeSignalGroupWatchdogReceive">
<!NOTATION ofTypeES8XXSysCtrNodeSignal SYSTEM "ES8XXSysCtrNodeSignal">

<?SuperClass ES8XXSysCtrNodeMain->ES800Component ?>

<?SuperClass ES8XXSysCtrNodeMain->ESNodeMain ?>
<?SuperClass ES8XXSysCtrNodeDevice->ESNodeDevice?>
<?SuperClass ES8XXSysCtrNodeSignalGroupBase->ESNodeSignalGroup ?>
<?SuperClass ES8XXSysCtrNodeSignalGroupReceiveBase->ES8XXSysCtrNodeSignalGroupBase ?>
<?SuperClass ES8XXSysCtrNodeSignalGroupSendBase->ES8XXSysCtrNodeSignalGroupBase ?>
<?SuperClass ES8XXSysCtrNodeSignalGroupStatusSend->ES8XXSysCtrNodeSignalGroupSendBase ?>
<?SuperClass ES8XXSysCtrNodeSignalGroupStatusReceive->ES8XXSysCtrNodeSignalGroupReceiveBase ?>
<?SuperClass ES8XXSysCtrNodeSignalGroupWatchdogSend->ES8XXSysCtrNodeSignalGroupSendBase ?>
<?SuperClass ES8XXSysCtrNodeSignalGroupWatchdogReceive->ES8XXSysCtrNodeSignalGroupReceiveBase ?>
<?SuperClass ES8XXSysCtrNodeSignal->ESNodeSignal ?>

<!-- node main -->

<!ELEMENT ES8XXSysCtrNodeMain (ES8XXSysCtrNodeMain.Parameters, ES8XXSysCtrNodeMain.L1Generation, ES8XXSysCtrNodeMain.SubNodes, _System)>
<!ATTLIST ES8XXSysCtrNodeMain
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOBoard ENTITY #REQUIRED
    GlobalParent.ofTypeYBOCPUBoard ENTITY #REQUIRED
>

<!ELEMENT ES8XXSysCtrNodeMain.Parameters (ES8XXSysCtrNodeMainParameters)>
<!ELEMENT ES8XXSysCtrNodeMain.L1Generation (ES8XXSysCtrNodeMainL1GenerationBlock)>
<!ELEMENT ES8XXSysCtrNodeMain.SubNodes (ES8XXSysCtrNodeMainSubNodeList)>

<!ELEMENT ES8XXSysCtrNodeMainL1GenerationBlock (ES8XXSysCtrNodeMainL1GenerationBlock.NotRunning, ES8XXSysCtrNodeMainL1GenerationBlock.Reconnect, ES8XXSysCtrNodeMainL1GenerationBlock.WriteToStream)>
<!ATTLIST ES8XXSysCtrNodeMainL1GenerationBlock
    L1TreeIndex CDATA "-1"

    ConfigROID CDATA "-1"
    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
>

<!ELEMENT ES8XXSysCtrNodeMainL1GenerationBlock.NotRunning (ES8XXSysCtrNodeMainL1GenerationNotRunning)>
<!ELEMENT ES8XXSysCtrNodeMainL1GenerationBlock.Reconnect (ES8XXSysCtrNodeMainL1GenerationReconnect)>
<!ELEMENT ES8XXSysCtrNodeMainL1GenerationBlock.WriteToStream (ES8XXSysCtrNodeMainL1GenerationWriteToStream)>

<!ELEMENT ES8XXSysCtrNodeMainL1GenerationNotRunning EMPTY>
<!ELEMENT ES8XXSysCtrNodeMainL1GenerationReconnect EMPTY>
<!ELEMENT ES8XXSysCtrNodeMainL1GenerationWriteToStream EMPTY>

<!ELEMENT ES8XXSysCtrNodeMainParameters (ES8XXSysCtrNodeMainParameters.Name,ES8XXSysCtrNodeMainParameters.Enabled)>

<!ELEMENT ES8XXSysCtrNodeMainParameters.Name (ESParameterName)>
<!ELEMENT ES8XXSysCtrNodeMainParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES8XXSysCtrNodeMainSubNodeList (ES8XXSysCtrNodeDevice)*>


<!-- node device -->

<!ELEMENT ES8XXSysCtrNodeDevice (ES8XXSysCtrNodeDevice.Parameters, ES8XXSysCtrNodeDevice.L1Generation, ES8XXSysCtrNodeDevice.SubNodes)>
<!ATTLIST ES8XXSysCtrNodeDevice
    Name ID #REQUIRED
    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
>

<!ELEMENT ES8XXSysCtrNodeDevice.Parameters (ES8XXSysCtrNodeDeviceParameters)>
<!ELEMENT ES8XXSysCtrNodeDevice.L1Generation (ES8XXSysCtrNodeDeviceL1GenerationBlock)>
<!ELEMENT ES8XXSysCtrNodeDevice.SubNodes (ES8XXSysCtrNodeDeviceSubNodeList)>

<!ELEMENT ES8XXSysCtrNodeDeviceL1GenerationBlock (ES8XXSysCtrNodeDeviceL1GenerationBlock.UnionCase, ES8XXSysCtrNodeDeviceL1GenerationBlock.Reconnect)>
<!ATTLIST ES8XXSysCtrNodeDeviceL1GenerationBlock
    L1TreeIndex CDATA "-1"

    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
>

<!ELEMENT ES8XXSysCtrNodeDeviceL1GenerationBlock.UnionCase (ES8XXSysCtrNodeDeviceL1GenerationUnionCase)>
<!ELEMENT ES8XXSysCtrNodeDeviceL1GenerationBlock.Reconnect (ES8XXSysCtrNodeDeviceL1GenerationReconnect)>

<!ELEMENT ES8XXSysCtrNodeDeviceL1GenerationUnionCase EMPTY>
<!ELEMENT ES8XXSysCtrNodeDeviceL1GenerationReconnect EMPTY>

<!ELEMENT ES8XXSysCtrNodeDeviceParameters (ES8XXSysCtrNodeDeviceParameters.Name,ES8XXSysCtrNodeDeviceParameters.Enabled, ES8XXSysCtrNodeDeviceParameters.UseBuzzer, ES8XXSysCtrNodeDeviceParameters.UseLED, ES8XXSysCtrNodeDeviceParameters.UseUserButton, ES8XXSysCtrNodeDeviceParameters.UseTemperatureMonitoring, ES8XXSysCtrNodeDeviceParameters.UseTemperatureAlarm, ES8XXSysCtrNodeDeviceParameters.UseUserWatchdog, ES8XXSysCtrNodeDeviceParameters.UseIoIn, ES8XXSysCtrNodeDeviceParameters.UseIoOut, ES8XXSysCtrNodeDeviceParameters.UseSystemLoad, ES8XXSysCtrNodeDeviceParameters.UseKeepAlive, ES8XXSysCtrNodeDeviceParameters.UseRTIOLockedStatus, ES8XXSysCtrNodeDeviceParameters.UseModelRuntime, ES8XXSysCtrNodeDeviceParameters.ISR)>

<!ELEMENT ES8XXSysCtrNodeDeviceParameters.Name (ESParameterName)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseBuzzer (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseLED (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseUserButton (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseTemperatureMonitoring (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseTemperatureAlarm (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseUserWatchdog (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseIoIn (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseIoOut (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseSystemLoad (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseKeepAlive (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseRTIOLockedStatus (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.UseModelRuntime (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeDeviceParameters.ISR (ESParameterString)>

<!ELEMENT ES8XXSysCtrNodeDeviceSubNodeList (ES8XXSysCtrNodeSignalGroupStatusSend|ES8XXSysCtrNodeSignalGroupStatusReceive|ES8XXSysCtrNodeSignalGroupWatchdogSend|ES8XXSysCtrNodeSignalGroupWatchdogReceive)*>

<!-- node signal group Status Send-->

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSend (ES8XXSysCtrNodeSignalGroupStatusSend.Parameters, ES8XXSysCtrNodeSignalGroupStatusSend.L1Generation, ES8XXSysCtrNodeSignalGroupStatusSend.SubNodes)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupStatusSend
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSend.Parameters (ES8XXSysCtrNodeSignalGroupStatusSendParameters)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSend.L1Generation (ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationBlock)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSend.SubNodes (ES8XXSysCtrNodeSignalGroupStatusSendSubNodeList)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationBlock (ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationBlock.UnionCase, ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationBlock.Reconnect)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationBlock  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationBlock.UnionCase (ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationUnionCase)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationBlock.Reconnect (ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationReconnect)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationUnionCase EMPTY>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendL1GenerationReconnect EMPTY>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendParameters (ES8XXSysCtrNodeSignalGroupStatusSendParameters.Name, ES8XXSysCtrNodeSignalGroupStatusSendParameters.Enabled, ES8XXSysCtrNodeSignalGroupStatusSendParameters.Direction,ES8XXSysCtrNodeSignalGroupStatusSendParameters.Polling, ES8XXSysCtrNodeSignalGroupStatusSendParameters.dTMonitoring, ES8XXSysCtrNodeSignalGroupStatusSendParameters.Functionality, ES8XXSysCtrNodeSignalGroupStatusSendParameters.Task)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendParameters.Name (ESParameterName)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendParameters.Task (ESParameterString)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendParameters.Direction (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupStatusSendParameters.Direction
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendParameters.dTMonitoring (ESParameterBoolean)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendParameters.Functionality (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupStatusSendParameters.Functionality
    EnumText1      CDATA "Undefined"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Buzzer"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "LED"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "UserButton"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "TemperatureMonitoring"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "TemperatureAlarm"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "WatchdogIn"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "WatchdogOut"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "IOIn"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "IOOut"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "SystemLoad"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"

    EnumText12      CDATA "KeepAlive"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"

    EnumText13      CDATA "RTIOLockedStatus"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"

    EnumText14      CDATA "ModelRuntime"
    EnumL1Value14     CDATA "13"
    EnumAvailable14 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusSendSubNodeList (ES8XXSysCtrNodeSignal)*>

<!-- node signal group Status Receive-->

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceive (ES8XXSysCtrNodeSignalGroupStatusReceive.Parameters, ES8XXSysCtrNodeSignalGroupStatusReceive.L1Generation, ES8XXSysCtrNodeSignalGroupStatusReceive.SubNodes)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupStatusReceive
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceive.Parameters (ES8XXSysCtrNodeSignalGroupStatusReceiveParameters)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceive.L1Generation (ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationBlock)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceive.SubNodes (ES8XXSysCtrNodeSignalGroupStatusReceiveSubNodeList)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationBlock (ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationBlock.UnionCase, ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationBlock.Reconnect)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationBlock  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "0"
    ExecutionROID CDATA "-1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationBlock.UnionCase (ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationUnionCase)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationBlock.Reconnect (ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationReconnect)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationUnionCase EMPTY>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveL1GenerationReconnect EMPTY>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveParameters (ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Name, ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Enabled, ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Direction, ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Polling, ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.dTMonitoring,ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Functionality,ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Task)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Name (ESParameterName)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Task (ESParameterString)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Direction (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Direction
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.dTMonitoring (ESParameterBoolean)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Functionality (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupStatusReceiveParameters.Functionality
    EnumText1      CDATA "Undefined"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Buzzer"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "LED"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "UserButton"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "TemperatureMonitoring"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "TemperatureAlarm"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "WatchdogIn"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "WatchdogOut"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "IOIn"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "IOOut"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "SystemLoad"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"

    EnumText12      CDATA "KeepAlive"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"

    EnumText13      CDATA "RTIOLockedStatus"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"

    EnumText14      CDATA "ModelRuntime"
    EnumL1Value14     CDATA "13"
    EnumAvailable14 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupStatusReceiveSubNodeList (ES8XXSysCtrNodeSignal)*>

<!-- node signal group Watchdog Send-->

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSend (ES8XXSysCtrNodeSignalGroupWatchdogSend.Parameters, ES8XXSysCtrNodeSignalGroupWatchdogSend.L1Generation, ES8XXSysCtrNodeSignalGroupWatchdogSend.SubNodes)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupWatchdogSend
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSend.Parameters (ES8XXSysCtrNodeSignalGroupWatchdogSendParameters)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSend.L1Generation (ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationBlock)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSend.SubNodes (ES8XXSysCtrNodeSignalGroupWatchdogSendSubNodeList)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationBlock (ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationBlock.UnionCase, ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationBlock.Reconnect)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationBlock  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationBlock.UnionCase (ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationUnionCase)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationBlock.Reconnect (ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationReconnect)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationUnionCase EMPTY>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendL1GenerationReconnect EMPTY>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters (ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Name, ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Enabled, ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Direction,ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Polling, ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.dTMonitoring, ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Functionality, ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.WatchdogPeriod, ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.WatchdogEvent, ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Task)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Name (ESParameterName)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Task (ESParameterString)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Direction (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Direction
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.dTMonitoring (ESParameterBoolean)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Functionality (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.Functionality
    EnumText1      CDATA "Undefined"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Buzzer"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "LED"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "UserButton"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "TemperatureMonitoring"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "TemperatureAlarm"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "WatchdogIn"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "WatchdogOut"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "IOIn"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "IOOut"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "SystemLoad"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"

    EnumText12      CDATA "KeepAlive"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"

    EnumText13      CDATA "RTIOLockedStatus"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"

    EnumText14      CDATA "ModelRuntime"
    EnumL1Value14     CDATA "13"
    EnumAvailable14 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.WatchdogPeriod (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.WatchdogPeriod
    EnumText1      CDATA "1ms"
    EnumL1Value1     CDATA "1"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "4ms"
    EnumL1Value2     CDATA "4"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "16ms"
    EnumL1Value3     CDATA "16"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "64ms"
    EnumL1Value4     CDATA "64"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "256ms"
    EnumL1Value5     CDATA "256"
    EnumAvailable5 CDATA "1"	

    EnumText6      CDATA "1024ms"
    EnumL1Value6     CDATA "1024"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "4096ms"
    EnumL1Value7     CDATA "4096"
    EnumAvailable7 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.WatchdogEvent (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupWatchdogSendParameters.WatchdogEvent
    EnumText1      CDATA "Disable"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ISR"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Terminate"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "Kill"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogSendSubNodeList (ES8XXSysCtrNodeSignal)*>

<!-- node signal group Watchdog Receive-->

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceive (ES8XXSysCtrNodeSignalGroupWatchdogReceive.Parameters, ES8XXSysCtrNodeSignalGroupWatchdogReceive.SubNodes)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupWatchdogReceive
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceive.Parameters (ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceive.SubNodes (ES8XXSysCtrNodeSignalGroupWatchdogReceiveSubNodeList)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters (ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Name, ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Enabled, ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Direction, ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Polling, ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.dTMonitoring,ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Functionality, ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.ISR)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Name (ESParameterName)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.ISR (ESParameterString)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Direction (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Direction
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.dTMonitoring (ESParameterBoolean)>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Functionality (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalGroupWatchdogReceiveParameters.Functionality
    EnumText1      CDATA "Undefined"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Buzzer"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "LED"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "UserButton"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "TemperatureMonitoring"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "TemperatureAlarm"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "WatchdogIn"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "WatchdogOut"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "IOIn"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "IOOut"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "SystemLoad"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"

    EnumText12      CDATA "KeepAlive"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"

    EnumText13      CDATA "RTIOLockedStatus"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"

    EnumText14      CDATA "ModelRuntime"
    EnumL1Value14     CDATA "13"
    EnumAvailable14 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalGroupWatchdogReceiveSubNodeList (ES8XXSysCtrNodeSignal)*>

<!-- node signal -->

<!ELEMENT ES8XXSysCtrNodeSignal (ES8XXSysCtrNodeSignal.Parameters, ES8XXSysCtrNodeSignal.L1Generation, ES8XXSysCtrNodeSignal.SubNodes)>
<!ATTLIST ES8XXSysCtrNodeSignal
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>


<!ELEMENT ES8XXSysCtrNodeSignal.Parameters (ES8XXSysCtrNodeSignalParameters)>
<!ELEMENT ES8XXSysCtrNodeSignal.L1Generation (ES8XXSysCtrNodeSignalL1GenerationBlock)>
<!ELEMENT ES8XXSysCtrNodeSignal.SubNodes (ES8XXSysCtrNodeSignalSubNodeList)>

<!ELEMENT ES8XXSysCtrNodeSignalL1GenerationBlock (ES8XXSysCtrNodeSignalL1GenerationBlock.UnionCase, ES8XXSysCtrNodeSignalL1GenerationBlock.Reconnect)>
<!ATTLIST ES8XXSysCtrNodeSignalL1GenerationBlock     
    L1TreeIndex CDATA "-1"
    
    MappingROID CDATA "-1"
>

<!ELEMENT ES8XXSysCtrNodeSignalL1GenerationBlock.UnionCase (ES8XXSysCtrNodeSignalL1GenerationUnionCase)>
<!ELEMENT ES8XXSysCtrNodeSignalL1GenerationBlock.Reconnect (ES8XXSysCtrNodeSignalL1GenerationReconnect)>

<!ELEMENT ES8XXSysCtrNodeSignalL1GenerationUnionCase EMPTY>
<!ELEMENT ES8XXSysCtrNodeSignalL1GenerationReconnect EMPTY>

<!ELEMENT ES8XXSysCtrNodeSignalParameters (ES8XXSysCtrNodeSignalParameters.Name,ES8XXSysCtrNodeSignalParameters.Enabled,ES8XXSysCtrNodeSignalParameters.SignalType, ES8XXSysCtrNodeSignalParameters.Unit, ES8XXSysCtrNodeSignalParameters.Formula, ES8XXSysCtrNodeSignalParameters.Min, ES8XXSysCtrNodeSignalParameters.Max, ES8XXSysCtrNodeSignalParameters.InitValue, ES8XXSysCtrNodeSignalParameters.Message, ES8XXSysCtrNodeSignalParameters.Functionality, ES8XXSysCtrNodeSignalParameters.Channel)>

<!ELEMENT ES8XXSysCtrNodeSignalParameters.Name (ESParameterName)>
<!ELEMENT ES8XXSysCtrNodeSignalParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES8XXSysCtrNodeSignalParameters.SignalType (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalParameters.SignalType 
    EnumText1      CDATA "cont"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "sdisc"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "udisc"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "boolean"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "enum"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
>

<!ELEMENT ES8XXSysCtrNodeSignalParameters.Unit (ESParameterString)>
<!ELEMENT ES8XXSysCtrNodeSignalParameters.Formula (ESParameterUnion)>
<!ELEMENT ES8XXSysCtrNodeSignalParameters.Min (ESParameterFloat)>
<!ELEMENT ES8XXSysCtrNodeSignalParameters.Max (ESParameterFloat)>
<!ELEMENT ES8XXSysCtrNodeSignalParameters.InitValue (ESParameterFloat)>
<!ELEMENT ES8XXSysCtrNodeSignalParameters.Message (ESParameterString)>

<!-- The Functionality enum values here should be same as that of the Signal Group -->
<!ELEMENT ES8XXSysCtrNodeSignalParameters.Functionality (ESParameterEnum)>
<!ATTLIST ES8XXSysCtrNodeSignalParameters.Functionality
    EnumText1      CDATA "Undefined"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Buzzer"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "LED"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "UserButton"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "TemperatureMonitoring"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "TemperatureAlarm"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "WatchdogIn"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "WatchdogOut"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "IOIn"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "IOOut"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "SystemLoad"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"

    EnumText12      CDATA "KeepAlive"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"

    EnumText13      CDATA "RTIOLockedStatus"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"

    EnumText14      CDATA "ModelRuntime"
    EnumL1Value14     CDATA "13"
    EnumAvailable14 CDATA "1"
>
<!ELEMENT ES8XXSysCtrNodeSignalParameters.Channel (ESParameterUInt)>

<!ELEMENT ES8XXSysCtrNodeSignalSubNodeList EMPTY>
