Main_ECU/data.bak13/Data/DTD/ESFlexRayNodeMainBase.dtd

<?DTDVersion "4.7.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!NOTATION ofTypeESFlexRayNodeMainBase SYSTEM "ESFlexRayNodeMainBase">

<!NOTATION ofTypeES920NodeChannel SYSTEM "ES920NodeChannel">
<!NOTATION ofTypeES920NodeChannelA SYSTEM "ES920NodeChannelA">
<!NOTATION ofTypeES920NodeChannelB SYSTEM "ES920NodeChannelB">
<!NOTATION ofTypeES920NodeChannels SYSTEM "ES920NodeChannels">
<!NOTATION ofTypeES920NodeFrame SYSTEM "ES920NodeFrame">
<!NOTATION ofTypeES920NodeFrameInstance SYSTEM "ES920NodeFrameInstance">
<!NOTATION ofTypeES920NodeFrameNull SYSTEM "ES920NodeFrameNull">
<!NOTATION ofTypeES920NodeFramePool SYSTEM "ES920NodeFramePool">
<!NOTATION ofTypeES920NodePDUPool SYSTEM "ES920NodePDUPool">
<!NOTATION ofTypeES920NodeFrameStandard SYSTEM "ES920NodeFrameStandard">
<!NOTATION ofTypeES920NodePDU SYSTEM "ES920NodePDU">
<!NOTATION ofTypeES920NodePDUInstance SYSTEM "ES920NodePDUInstance">
<!NOTATION ofTypeES920NodeMultiplexGroup SYSTEM "ES920NodeMultiplexGroup">
<!NOTATION ofTypeES920NodeSignal SYSTEM "ES920NodeSignal">
<!NOTATION ofTypeES920NodeSignalGroup SYSTEM "ES920NodeSignalGroup">
<!NOTATION ofTypeES920NodeSignalGroupEvent SYSTEM "ES920NodeSignalGroupEvent">
<!NOTATION ofTypeES920NodeSignalGroupEventDynamic SYSTEM "ES920NodeSignalGroupEventDynamic">
<!NOTATION ofTypeES920NodeSignalGroupEventStatic SYSTEM "ES920NodeSignalGroupEventStatic">
<!NOTATION ofTypeES920NodeSignalGroupStatus SYSTEM "ES920NodeSignalGroupStatus">
<!NOTATION ofTypeES920NodeSignalGroupStatusChannel SYSTEM "ES920NodeSignalGroupStatusChannel">
<!NOTATION ofTypeES920NodeSignalGroupStatusCommon SYSTEM "ES920NodeSignalGroupStatusCommon">
<!NOTATION ofTypeES920NodeSignalGroupStatusNetworkManagement SYSTEM "ES920NodeSignalGroupStatusNetworkManagement">
<!NOTATION ofTypeES920NodeSignalInstance SYSTEM "ES920NodeSignalInstance">
<!NOTATION ofTypeES920NodeSignalStandard SYSTEM "ES920NodeSignalStandard">
<!NOTATION ofTypeES920NodeSignalStatus SYSTEM "ES920NodeSignalStatus">
<!NOTATION ofTypeES920NodeSlot SYSTEM "ES920NodeSlot">
<!NOTATION ofTypeES920NodeStatus SYSTEM "ES920NodeStatus">
<!NOTATION ofTypeES920PoolSignal SYSTEM "ES920PoolSignal">

<?SuperClass ESFlexRayNodeMainBase->ESNodeMain ?>
<?SuperClass ESFlexRayNodeDeviceBase->ESNodeDevice ?>
<?SuperClass ES920NodeChannel->ESNodeSubNode ?>
<?SuperClass ES920NodeChannelA->ES920NodeChannel ?>
<?SuperClass ES920NodeChannelB->ES920NodeChannel ?>
<?SuperClass ES920NodeChannels->ESNodeSubNode ?>
<?SuperClass ES920NodeFrame->ESNodeSignalGroup ?>
<?SuperClass ES920NodeFrameInstance->ESNodeSignalGroup ?>
<?SuperClass ES920NodeFrameNull->ES920NodeFrame ?>
<?SuperClass ES920NodeFramePool->ESNodeSubNode ?>
<?SuperClass ES920NodePDUPool->ESNodeSubNode ?>
<?SuperClass ES920NodeFrameStandard->ES920NodeFrame ?>
<?SuperClass ES920NodePDU->ES920NodeSignalGroup ?>
<?SuperClass ES920NodePDUInstance->ESNodeSignalGroup ?>
<?SuperClass ES920NodeMultiplexGroup->ESNodeMultiplexGroup ?>
<?SuperClass ES920NodeSignal->ESNodeSignal ?>
<?SuperClass ES920NodeSignalGroup->ESNodeSignalGroup ?>
<?SuperClass ES920NodeSignalGroupEvent->ES920NodeSignalGroupStatus ?>
<?SuperClass ES920NodeSignalGroupEventDynamic->ES920NodeSignalGroupEvent ?>
<?SuperClass ES920NodeSignalGroupEventStatic->ES920NodeSignalGroupEvent ?>
<?SuperClass ES920NodeSignalGroupStatus->ES920NodeSignalGroup ?>
<?SuperClass ES920NodeSignalGroupStatusChannel->ES920NodeSignalGroupStatus ?>
<?SuperClass ES920NodeSignalGroupStatusCommon->ES920NodeSignalGroupStatus ?>
<?SuperClass ES920NodeSignalGroupStatusNetworkManagement->ES920NodeSignalGroupStatus ?>
<?SuperClass ES920NodeSignalInstance->ESNodeSignal ?>
<?SuperClass ES920NodeSignalStandard->ES920NodeSignal ?>
<?SuperClass ES920NodeSignalStatus->ES920NodeSignal ?>
<?SuperClass ES920NodeSlot->ESNodeSubNode ?>
<?SuperClass ES920NodeStatus->ESNodeSubNode ?>
<?SuperClass ES920PoolSignal->ESPoolSignal ?>

<!-- dummy main nodes -->
<!ELEMENT ESFlexRayNodeMainBase EMPTY>
<!ELEMENT ESFlexRayNodeDeviceBase EMPTY>

<!-- node channels -->

<!ELEMENT ES920NodeChannels (ES920NodeChannels.Parameters, ES920NodeChannels.SubNodes)>
<!ATTLIST ES920NodeChannels
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeChannels.Parameters (ES920NodeChannelsParameters)>
<!ELEMENT ES920NodeChannels.SubNodes (ES920NodeChannelsSubNodeList)>

<!ELEMENT ES920NodeChannelsParameters (ES920NodeChannelsParameters.Name, ES920NodeChannelsParameters.Enabled)>

<!ELEMENT ES920NodeChannelsParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeChannelsParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES920NodeChannelsSubNodeList (ES920NodeChannelA | ES920NodeChannelB)*>

<!-- node channel -->

<!ELEMENT ES920NodeChannel (ES920NodeChannel.SubNodes)>
<!ATTLIST ES920NodeChannel
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeChannel.SubNodes (ESSubNodeList)>

<!ELEMENT ES920NodeChannelParameters (ES920NodeChannelParameters.Name, ES920NodeChannelParameters.Enabled, ES920NodeChannelParameters.ChannelNumber)>

<!ELEMENT ES920NodeChannelParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeChannelParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeChannelParameters.ChannelNumber (ESParameterEnum)>
<!ATTLIST ES920NodeChannelParameters.ChannelNumber     
    EnumText1      CDATA "A"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "B"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES920NodeChannelSubNodeList (ES920NodeSlot)*>


<!-- node channel A -->

<!ELEMENT ES920NodeChannelA (ES920NodeChannelA.Parameters, ES920NodeChannelA.SubNodes)>
<!ATTLIST ES920NodeChannelA
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeChannelA.Parameters (ES920NodeChannelAParameters)>
<!ELEMENT ES920NodeChannelA.SubNodes (ES920NodeChannelASubNodeList)>


<!ELEMENT ES920NodeChannelAParameters (ES920NodeChannelAParameters.Name, ES920NodeChannelAParameters.Enabled, ES920NodeChannelAParameters.ChannelNumber)>

<!ELEMENT ES920NodeChannelAParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeChannelAParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeChannelAParameters.ChannelNumber (ESParameterEnum)>
<!ATTLIST ES920NodeChannelAParameters.ChannelNumber     
    EnumText1      CDATA "A"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "B"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES920NodeChannelASubNodeList (ES920NodeSlot)*>

<!-- node channel B -->

<!ELEMENT ES920NodeChannelB (ES920NodeChannelB.Parameters, ES920NodeChannelB.SubNodes)>
<!ATTLIST ES920NodeChannelB
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeChannelB.Parameters (ES920NodeChannelBParameters)>
<!ELEMENT ES920NodeChannelB.SubNodes (ES920NodeChannelBSubNodeList)>

<!ELEMENT ES920NodeChannelBParameters (ES920NodeChannelBParameters.Name, ES920NodeChannelBParameters.Enabled, ES920NodeChannelBParameters.ChannelNumber)>

<!ELEMENT ES920NodeChannelBParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeChannelBParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeChannelBParameters.ChannelNumber (ESParameterEnum)>
<!ATTLIST ES920NodeChannelBParameters.ChannelNumber     
    EnumText1      CDATA "A"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "B"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES920NodeChannelBSubNodeList (ES920NodeSlot)*>

<!-- node slot -->

<!ELEMENT ES920NodeSlot (ES920NodeSlot.Parameters, ES920NodeSlot.SubNodes)>
<!ATTLIST ES920NodeSlot
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeSlot.Parameters (ES920NodeSlotParameters)>
<!ELEMENT ES920NodeSlot.SubNodes (ES920NodeSlotSubNodeList)>

<!ELEMENT ES920NodeSlotParameters (ES920NodeSlotParameters.Name, ES920NodeSlotParameters.Enabled, ES920NodeSlotParameters.SlotNumber, ES920NodeSlotParameters.UseAsKeySlot,ES920NodeSlotParameters.IsStaticSlot, ES920NodeSlotParameters.Direction)>

<!ELEMENT ES920NodeSlotParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSlotParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSlotParameters.SlotNumber (ESParameterUIntWithPrevious)>
<!ELEMENT ES920NodeSlotParameters.UseAsKeySlot (ESParameterBoolean)>
<!ELEMENT ES920NodeSlotParameters.IsStaticSlot (ESParameterBoolean)>
<!ELEMENT ES920NodeSlotParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodeSlotParameters.Direction
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "undetermined"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

>

<!ELEMENT ES920NodeSlotSubNodeList (ES920NodeFrameInstance)*>

<!-- node status -->

<!ELEMENT ES920NodeStatus (ES920NodeStatus.Parameters, ES920NodeStatus.L1Generation, ES920NodeStatus.SubNodes)>
<!ATTLIST ES920NodeStatus
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeStatus.Parameters (ES920NodeStatusParameters)>
<!ELEMENT ES920NodeStatus.L1Generation (ES920NodeStatusL1Generation)>
<!ELEMENT ES920NodeStatus.SubNodes (ES920NodeStatusSubNodeList)>

<!ELEMENT ES920NodeStatusL1Generation (ES920NodeStatusL1Generation.EmptyCase, ES920NodeStatusL1Generation.EmptyCaseReconnect)>
<!ATTLIST ES920NodeStatusL1Generation
    L1TreeIndex CDATA "-1"

>

<!ELEMENT ES920NodeStatusL1Generation.EmptyCase (ESL1GenerationCaseEmptySubNode)>

<!ELEMENT ES920NodeStatusL1Generation.EmptyCaseReconnect (ESL1GenerationCaseEmptySubNodeReconnect)>

<!ELEMENT ES920NodeStatusParameters (ES920NodeStatusParameters.Name, ES920NodeStatusParameters.Enabled, ES920NodeStatusParameters.EnableCommonStatusSignals, ES920NodeStatusParameters.EnableChannelStatusSignals, ES920NodeStatusParameters.EnableNetworkManagementStatusSignals, ES920NodeStatusParameters.EnableEventStaticForSegmentStart, ES920NodeStatusParameters.EnableEventDynamicForSegmentStart)>

<!ELEMENT ES920NodeStatusParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeStatusParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeStatusParameters.EnableCommonStatusSignals (ESParameterBoolean)>
<!ELEMENT ES920NodeStatusParameters.EnableChannelStatusSignals (ESParameterBoolean)>
<!ELEMENT ES920NodeStatusParameters.EnableNetworkManagementStatusSignals (ESParameterBoolean)>
<!ELEMENT ES920NodeStatusParameters.EnableEventStaticForSegmentStart (ESParameterBoolean)>
<!ELEMENT ES920NodeStatusParameters.EnableEventDynamicForSegmentStart (ESParameterBoolean)>

<!ELEMENT ES920NodeStatusSubNodeList (ES920NodeSignalGroupStatusCommon | ES920NodeSignalGroupStatusChannel | ES920NodeSignalGroupStatusNetworkManagement | ES920NodeSignalGroupEventDynamic | ES920NodeSignalGroupEventStatic)*>

<!-- node frame pool -->

<!ELEMENT ES920NodeFramePool (ES920NodeFramePool.Parameters, ES920NodeFramePool.SubNodes)>
<!ATTLIST ES920NodeFramePool
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeFramePool.Parameters (ES920NodeFramePoolParameters)>
<!ELEMENT ES920NodeFramePool.SubNodes (ES920NodeFramePoolSubNodeList)>

<!ELEMENT ES920NodeFramePoolParameters (ES920NodeFramePoolParameters.Name, ES920NodeFramePoolParameters.Enabled)>

<!ELEMENT ES920NodeFramePoolParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeFramePoolParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES920NodeFramePoolSubNodeList (ES920NodeFrameStandard | ES920NodeFrameNull)*>

<!-- node pdu pool -->

<!ELEMENT ES920NodePDUPool (ES920NodePDUPool.Parameters, ES920NodePDUPool.L1Generation, ES920NodePDUPool.SubNodes)>
<!ATTLIST ES920NodePDUPool
    Name ID #REQUIRED
>

<!ELEMENT ES920NodePDUPool.Parameters (ES920NodePDUPoolParameters)>
<!ELEMENT ES920NodePDUPool.L1Generation (ES920NodePDUPoolL1Generation)>
<!ELEMENT ES920NodePDUPool.SubNodes (ES920NodePDUPoolSubNodeList)>

<!ELEMENT ES920NodePDUPoolL1Generation (ES920NodePDUPoolL1Generation.EmptyCase, ES920NodePDUPoolL1Generation.EmptyCaseReconnect)>
<!ATTLIST ES920NodePDUPoolL1Generation
    L1TreeIndex CDATA "-1"

>

<!ELEMENT ES920NodePDUPoolL1Generation.EmptyCase (ESL1GenerationCaseEmptySubNode)>

<!ELEMENT ES920NodePDUPoolL1Generation.EmptyCaseReconnect (ESL1GenerationCaseEmptySubNodeReconnect)>

<!ELEMENT ES920NodePDUPoolParameters (ES920NodePDUPoolParameters.Name, ES920NodePDUPoolParameters.Enabled)>

<!ELEMENT ES920NodePDUPoolParameters.Name (ESParameterName)>
<!ELEMENT ES920NodePDUPoolParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES920NodePDUPoolSubNodeList (ES920NodePDU| ES920NodeFrameNull)*>
<!--the null frame is here due to compatibility reasons to old workspaces (< 4.2.1)-->

<!-- node signal group -->

<!ELEMENT ES920NodeSignalGroup (ES920NodeSignalGroup.SubNodes)>
<!ATTLIST ES920NodeSignalGroup
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeSignalGroup.SubNodes (ESSubNodeList)>

<!ELEMENT ES920NodeSignalGroupEvent (ES920NodeSignalGroupEvent.SubNodes)>
<!ATTLIST ES920NodeSignalGroupEvent
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeSignalGroupL1GenerationReconnect EMPTY>

<!ELEMENT ES920NodeSignalGroupParameters (ES920NodeSignalGroupParameters.Name, ES920NodeSignalGroupParameters.Enabled, ES920NodeSignalGroupParameters.Direction, ES920NodeSignalGroupParameters.Polling, ES920NodeSignalGroupParameters.dTMonitoring)>

<!ELEMENT ES920NodeSignalGroupParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalGroupParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupParameters.Direction (ESParameterEnum)>
<!ELEMENT ES920NodeSignalGroupParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupParameters.dTMonitoring (ESParameterBoolean)>

<!ELEMENT ES920NodeSignalGroupSubNodeList EMPTY>

<!-- node signal group event -->

<!ELEMENT ES920NodeSignalGroupEvent.SubNodes (ESSubNodeList)>

<!ELEMENT ES920NodeSignalGroupEventParameters (ES920NodeSignalGroupEventParameters.Name, ES920NodeSignalGroupEventParameters.Enabled, ES920NodeSignalGroupEventParameters.Direction, ES920NodeSignalGroupEventParameters.Polling,ES920NodeSignalGroupEventParameters.dTMonitoring, ES920NodeSignalGroupEventParameters.Task)>

<!ELEMENT ES920NodeSignalGroupEventParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalGroupEventParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupEventParameters.Direction (ESParameterEnum)>
<!ELEMENT ES920NodeSignalGroupEventParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupEventParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupEventParameters.Task (ESParameterString)>

<!ELEMENT ES920NodeSignalGroupEventSubNodeList EMPTY>

<!-- node signal group event dynamic -->

<!ELEMENT ES920NodeSignalGroupEventDynamic (ES920NodeSignalGroupEventDynamic.Parameters, ES920NodeSignalGroupEventDynamic.L1Generation, ES920NodeSignalGroupEventDynamic.SubNodes)>
<!ATTLIST ES920NodeSignalGroupEventDynamic
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED

    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED

>

<!ELEMENT ES920NodeSignalGroupEventDynamic.Parameters (ES920NodeSignalGroupEventDynamicParameters)>
<!ELEMENT ES920NodeSignalGroupEventDynamic.L1Generation (ES920NodeSignalGroupEventDynamicL1Generation)>
<!ELEMENT ES920NodeSignalGroupEventDynamic.SubNodes (ES920NodeSignalGroupEventDynamicSubNodeList)>

<!ELEMENT ES920NodeSignalGroupEventDynamicL1Generation (ES920NodeSignalGroupEventDynamicL1Generation.UnionCase, ES920NodeSignalGroupEventDynamicL1Generation.Reconnect)>
<!ATTLIST ES920NodeSignalGroupEventDynamicL1Generation  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "0"
    ExecutionROID CDATA "-1"
    
    IsRelevant ( False | True ) "True"
>

<!ELEMENT ES920NodeSignalGroupEventDynamicL1Generation.UnionCase (ES920NodeSignalGroupEventDynamicL1GenerationUnionCase)>
<!ELEMENT ES920NodeSignalGroupEventDynamicL1Generation.Reconnect (ES920NodeSignalGroupL1GenerationReconnect)>

<!ELEMENT ES920NodeSignalGroupEventDynamicL1GenerationUnionCase EMPTY>

<!ELEMENT ES920NodeSignalGroupEventDynamicParameters (ES920NodeSignalGroupEventDynamicParameters.Name, ES920NodeSignalGroupEventDynamicParameters.Enabled, ES920NodeSignalGroupEventDynamicParameters.Direction, ES920NodeSignalGroupEventDynamicParameters.Polling,ES920NodeSignalGroupEventDynamicParameters.dTMonitoring, ES920NodeSignalGroupEventDynamicParameters.Task)>

<!ELEMENT ES920NodeSignalGroupEventDynamicParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalGroupEventDynamicParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupEventDynamicParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodeSignalGroupEventDynamicParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES920NodeSignalGroupEventDynamicParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupEventDynamicParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupEventDynamicParameters.Task (ESParameterString)>

<!ELEMENT ES920NodeSignalGroupEventDynamicSubNodeList EMPTY>

<!-- node signal group event static -->

<!ELEMENT ES920NodeSignalGroupEventStatic (ES920NodeSignalGroupEventStatic.Parameters, ES920NodeSignalGroupEventStatic.L1Generation, ES920NodeSignalGroupEventStatic.SubNodes)>
<!ATTLIST ES920NodeSignalGroupEventStatic
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED

    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES920NodeSignalGroupEventStatic.Parameters (ES920NodeSignalGroupEventStaticParameters)>
<!ELEMENT ES920NodeSignalGroupEventStatic.L1Generation (ES920NodeSignalGroupEventStaticL1Generation)>
<!ELEMENT ES920NodeSignalGroupEventStatic.SubNodes (ES920NodeSignalGroupEventStaticSubNodeList)>

<!ELEMENT ES920NodeSignalGroupEventStaticL1Generation (ES920NodeSignalGroupEventStaticL1Generation.UnionCase, ES920NodeSignalGroupEventStaticL1Generation.Reconnect)>
<!ATTLIST ES920NodeSignalGroupEventStaticL1Generation  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "0"
    ExecutionROID CDATA "-1"
    
    IsRelevant ( False | True ) "True"
>

<!ELEMENT ES920NodeSignalGroupEventStaticL1Generation.UnionCase (ES920NodeSignalGroupEventStaticL1GenerationUnionCase)>
<!ELEMENT ES920NodeSignalGroupEventStaticL1Generation.Reconnect (ES920NodeSignalGroupL1GenerationReconnect)>

<!ELEMENT ES920NodeSignalGroupEventStaticL1GenerationUnionCase EMPTY>

<!ELEMENT ES920NodeSignalGroupEventStaticParameters (ES920NodeSignalGroupEventStaticParameters.Name, ES920NodeSignalGroupEventStaticParameters.Enabled, ES920NodeSignalGroupEventStaticParameters.Direction, ES920NodeSignalGroupEventStaticParameters.Polling,ES920NodeSignalGroupEventStaticParameters.dTMonitoring, ES920NodeSignalGroupEventStaticParameters.Task)>

<!ELEMENT ES920NodeSignalGroupEventStaticParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalGroupEventStaticParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupEventStaticParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodeSignalGroupEventStaticParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES920NodeSignalGroupEventStaticParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupEventStaticParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupEventStaticParameters.Task (ESParameterString)>

<!ELEMENT ES920NodeSignalGroupEventStaticSubNodeList EMPTY>

<!-- node signal group status -->

<!ELEMENT ES920NodeSignalGroupStatus (ES920NodeSignalGroupStatus.SubNodes)>
<!ATTLIST ES920NodeSignalGroupStatus
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeSignalGroupStatus.SubNodes (ESSubNodeList)>

<!ELEMENT ES920NodeSignalGroupStatusParameters (ES920NodeSignalGroupStatusParameters.Name, ES920NodeSignalGroupStatusParameters.Enabled, ES920NodeSignalGroupStatusParameters.Direction, ES920NodeSignalGroupStatusParameters.Polling,ES920NodeSignalGroupStatusParameters.dTMonitoring, ES920NodeSignalGroupStatusParameters.Task)>

<!ELEMENT ES920NodeSignalGroupStatusParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalGroupStatusParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusParameters.Direction (ESParameterEnum)>
<!ELEMENT ES920NodeSignalGroupStatusParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusParameters.Task (ESParameterString)>

<!ELEMENT ES920NodeSignalGroupStatusSubNodeList EMPTY>


<!-- node signal group status channel -->

<!ELEMENT ES920NodeSignalGroupStatusChannel (ES920NodeSignalGroupStatusChannel.Parameters, ES920NodeSignalGroupStatusChannel.L1Generation, ES920NodeSignalGroupStatusChannel.SubNodes)>
<!ATTLIST ES920NodeSignalGroupStatusChannel
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES920NodeSignalGroupStatusChannel.Parameters (ES920NodeSignalGroupStatusChannelParameters)>
<!ELEMENT ES920NodeSignalGroupStatusChannel.L1Generation (ES920NodeSignalGroupStatusChannelL1Generation)>
<!ELEMENT ES920NodeSignalGroupStatusChannel.SubNodes (ES920NodeSignalGroupStatusChannelSubNodeList)>

<!ELEMENT ES920NodeSignalGroupStatusChannelL1Generation (ES920NodeSignalGroupStatusChannelL1Generation.UnionCase, ES920NodeSignalGroupStatusChannelL1Generation.Reconnect)>
<!ATTLIST ES920NodeSignalGroupStatusChannelL1Generation  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "0"
    ExecutionROID CDATA "-1"
    
    IsRelevant ( False | True ) "True"
>

<!ELEMENT ES920NodeSignalGroupStatusChannelL1Generation.UnionCase (ES920NodeSignalGroupStatusChannelL1GenerationUnionCase)>
<!ELEMENT ES920NodeSignalGroupStatusChannelL1Generation.Reconnect (ES920NodeSignalGroupL1GenerationReconnect)>

<!ELEMENT ES920NodeSignalGroupStatusChannelL1GenerationUnionCase EMPTY>

<!ELEMENT ES920NodeSignalGroupStatusChannelParameters (ES920NodeSignalGroupStatusChannelParameters.Name, ES920NodeSignalGroupStatusChannelParameters.Enabled, ES920NodeSignalGroupStatusChannelParameters.Direction, ES920NodeSignalGroupStatusChannelParameters.Polling,ES920NodeSignalGroupStatusChannelParameters.dTMonitoring, ES920NodeSignalGroupStatusChannelParameters.Task)>

<!ELEMENT ES920NodeSignalGroupStatusChannelParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalGroupStatusChannelParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusChannelParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodeSignalGroupStatusChannelParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES920NodeSignalGroupStatusChannelParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusChannelParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusChannelParameters.Task (ESParameterString)>

<!ELEMENT ES920NodeSignalGroupStatusChannelSubNodeList (ES920NodeSignalStatus)*>

<!-- node signal group status common -->

<!ELEMENT ES920NodeSignalGroupStatusCommon (ES920NodeSignalGroupStatusCommon.Parameters, ES920NodeSignalGroupStatusCommon.L1Generation, ES920NodeSignalGroupStatusCommon.SubNodes)>
<!ATTLIST ES920NodeSignalGroupStatusCommon
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED

    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES920NodeSignalGroupStatusCommon.Parameters (ES920NodeSignalGroupStatusCommonParameters)>
<!ELEMENT ES920NodeSignalGroupStatusCommon.L1Generation (ES920NodeSignalGroupStatusCommonL1Generation)>
<!ELEMENT ES920NodeSignalGroupStatusCommon.SubNodes (ES920NodeSignalGroupStatusCommonSubNodeList)>

<!ELEMENT ES920NodeSignalGroupStatusCommonL1Generation (ES920NodeSignalGroupStatusCommonL1Generation.UnionCase, ES920NodeSignalGroupStatusCommonL1Generation.Reconnect)>
<!ATTLIST ES920NodeSignalGroupStatusCommonL1Generation  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "0"
    ExecutionROID CDATA "-1"
    
    IsRelevant ( False | True ) "True"
>

<!ELEMENT ES920NodeSignalGroupStatusCommonL1Generation.UnionCase (ES920NodeSignalGroupStatusCommonL1GenerationUnionCase)>
<!ELEMENT ES920NodeSignalGroupStatusCommonL1Generation.Reconnect (ES920NodeSignalGroupL1GenerationReconnect)>

<!ELEMENT ES920NodeSignalGroupStatusCommonL1GenerationUnionCase EMPTY>


<!ELEMENT ES920NodeSignalGroupStatusCommonParameters (ES920NodeSignalGroupStatusCommonParameters.Name, ES920NodeSignalGroupStatusCommonParameters.Enabled, ES920NodeSignalGroupStatusCommonParameters.Direction, ES920NodeSignalGroupStatusCommonParameters.Polling,ES920NodeSignalGroupStatusCommonParameters.dTMonitoring, ES920NodeSignalGroupStatusCommonParameters.Task)>

<!ELEMENT ES920NodeSignalGroupStatusCommonParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalGroupStatusCommonParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusCommonParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodeSignalGroupStatusCommonParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES920NodeSignalGroupStatusCommonParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusCommonParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusCommonParameters.Task (ESParameterString)>

<!ELEMENT ES920NodeSignalGroupStatusCommonSubNodeList (ES920NodeSignalStatus)*>

<!-- node signal group status network management -->

<!ELEMENT ES920NodeSignalGroupStatusNetworkManagement (ES920NodeSignalGroupStatusNetworkManagement.Parameters, ES920NodeSignalGroupStatusNetworkManagement.L1Generation, ES920NodeSignalGroupStatusNetworkManagement.SubNodes)>
<!ATTLIST ES920NodeSignalGroupStatusNetworkManagement
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED

    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES920NodeSignalGroupStatusNetworkManagement.Parameters (ES920NodeSignalGroupStatusNetworkManagementParameters)>
<!ELEMENT ES920NodeSignalGroupStatusNetworkManagement.L1Generation (ES920NodeSignalGroupStatusNetworkManagementL1Generation)>
<!ELEMENT ES920NodeSignalGroupStatusNetworkManagement.SubNodes (ES920NodeSignalGroupStatusNetworkManagementSubNodeList)>

<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementL1Generation (ES920NodeSignalGroupStatusNetworkManagementL1Generation.UnionCase, ES920NodeSignalGroupStatusNetworkManagementL1Generation.Reconnect)>
<!ATTLIST ES920NodeSignalGroupStatusNetworkManagementL1Generation  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "0"
    ExecutionROID CDATA "-1"
    
    IsRelevant ( False | True ) "True"
>

<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementL1Generation.UnionCase (ES920NodeSignalGroupStatusNetworkManagementL1GenerationUnionCase)>
<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementL1Generation.Reconnect (ES920NodeSignalGroupL1GenerationReconnect)>

<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementL1GenerationUnionCase EMPTY>

<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementParameters (ES920NodeSignalGroupStatusNetworkManagementParameters.Name, ES920NodeSignalGroupStatusNetworkManagementParameters.Enabled, ES920NodeSignalGroupStatusNetworkManagementParameters.Direction, ES920NodeSignalGroupStatusNetworkManagementParameters.Polling,ES920NodeSignalGroupStatusNetworkManagementParameters.dTMonitoring, ES920NodeSignalGroupStatusNetworkManagementParameters.Task)>

<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodeSignalGroupStatusNetworkManagementParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementParameters.Task (ESParameterString)>

<!ELEMENT ES920NodeSignalGroupStatusNetworkManagementSubNodeList (ES920NodeSignalStatus)*>

<!-- node frame -->

<!ELEMENT ES920NodeFrame (ES920NodeFrame.SubNodes)>
<!ATTLIST ES920NodeFrame
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeFrame.SubNodes (ESSubNodeList)>

<!ELEMENT ES920NodeFrameParameters (ES920NodeFrameParameters.Name, ES920NodeFrameParameters.Enabled, ES920NodeFrameParameters.Direction, ES920NodeFrameParameters.Polling,ES920NodeFrameParameters.dTMonitoring)>

<!ELEMENT ES920NodeFrameParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeFrameParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeFrameParameters.Direction (ESParameterEnum)>
<!ELEMENT ES920NodeFrameParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodeFrameParameters.dTMonitoring (ESParameterBoolean)>

<!ELEMENT ES920NodeFrameSubNodeList EMPTY>

<!-- node frame instance -->

<!ELEMENT ES920NodeFrameInstance (ES920NodeFrameInstance.Parameters, ES920NodeFrameInstance.SubNodes, ES920NodeFrameInstance.NodeLink)>
<!ATTLIST ES920NodeFrameInstance
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeFrameInstance.Parameters (ES920NodeFrameInstanceParameters)>
<!ELEMENT ES920NodeFrameInstance.NodeLink (ES920NodeFrameLink)>
<!ELEMENT ES920NodeFrameInstance.SubNodes (ES920NodeFrameInstanceSubNodeList)>

<!ELEMENT ES920NodeFrameInstanceParameters (ES920NodeFrameInstanceParameters.RedundantTransmission, ES920NodeFrameInstanceParameters.BaseCycle, ES920NodeFrameInstanceParameters.CycleRepetition, ES920NodeFrameInstanceParameters.PayloadLength,ES920NodeFrameInstanceParameters.PayloadPreambleIndicator,ES920NodeFrameInstanceParameters.Name, ES920NodeFrameInstanceParameters.Direction)>

<!ELEMENT ES920NodeFrameInstanceParameters.RedundantTransmission (ESParameterBoolean)>
<!ELEMENT ES920NodeFrameInstanceParameters.BaseCycle (ESParameterUInt)>
<!ELEMENT ES920NodeFrameInstanceParameters.CycleRepetition (ESParameterUInt)>

<!ELEMENT ES920NodeFrameInstanceParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeFrameInstanceParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodeFrameInstanceParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "undetermined"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

>
<!ELEMENT ES920NodeFrameInstanceParameters.PayloadLength (ESParameterUInt)>
<!ELEMENT ES920NodeFrameInstanceParameters.PayloadPreambleIndicator (ESParameterBoolean)>

<!ELEMENT ES920NodeFrameInstanceSubNodeList EMPTY>

<!-- node frame null -->

<!ELEMENT ES920NodeFrameNull (ES920NodeFrameNull.Parameters, ES920NodeFrameNull.SubNodes)>
<!ATTLIST ES920NodeFrameNull
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeFrameNull.Parameters (ES920NodeFrameNullParameters)>
<!ELEMENT ES920NodeFrameNull.SubNodes (ES920NodeFrameNullSubNodeList)>

<!ELEMENT ES920NodeFrameNullParameters (ES920NodeFrameNullParameters.PayloadLength,ES920NodeFrameNullParameters.PayloadPreambleIndicator, ES920NodeFrameNullParameters.Name, ES920NodeFrameNullParameters.Enabled, ES920NodeFrameNullParameters.Direction)>

<!ELEMENT ES920NodeFrameNullParameters.PayloadLength (ESParameterUInt)>
<!ELEMENT ES920NodeFrameNullParameters.PayloadPreambleIndicator (ESParameterBoolean)>
<!ELEMENT ES920NodeFrameNullParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeFrameNullParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeFrameNullParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodeFrameNullParameters.Direction  
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "undetermined"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ES920NodeFrameNullSubNodeList EMPTY>

<!-- node frame standard -->

<!ELEMENT ES920NodeFrameStandard (ES920NodeFrameStandard.Parameters, ES920NodeFrameStandard.L1Generation, ES920NodeFrameStandard.SubNodes)>
<!ATTLIST ES920NodeFrameStandard
    Name ID #REQUIRED
>

<!ELEMENT ES920NodeFrameStandard.Parameters (ES920NodeFrameStandardParameters)>
<!ELEMENT ES920NodeFrameStandard.L1Generation (ES920NodeFrameStandardL1GenerationBlock)>
<!ELEMENT ES920NodeFrameStandard.SubNodes (ES920NodeFrameStandardSubNodeList)>

<!ELEMENT ES920NodeFrameStandardL1GenerationBlock (ES920NodeFrameStandardL1GenerationBlock.UnionCase, ES920NodeFrameStandardL1GenerationBlock.Reconnect)>
<!ATTLIST ES920NodeFrameStandardL1GenerationBlock  
    L1TreeIndex CDATA "-1"
    L1InstanceBase CDATA "-1"
    
    APIROID CDATA "-1"
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "0"
    ExecutionROID CDATA "-1"
    
    IsRelevant ( False | True ) "True"
>

<!ELEMENT ES920NodeFrameStandardL1GenerationBlock.UnionCase (ES920NodeFrameStandardL1GenerationUnionCase)>
<!ELEMENT ES920NodeFrameStandardL1GenerationBlock.Reconnect (ES920NodeSignalGroupL1GenerationReconnect)>

<!ELEMENT ES920NodeFrameStandardL1GenerationUnionCase EMPTY>

<!ELEMENT ES920NodeFrameStandardParameters (ES920NodeFrameStandardParameters.PayloadLength,ES920NodeFrameStandardParameters.PayloadPreambleIndicator, ES920NodeFrameStandardParameters.Name, ES920NodeFrameStandardParameters.Enabled, ES920NodeFrameStandardParameters.Direction, ES920NodeFrameStandardParameters.Criteria)>

<!ELEMENT ES920NodeFrameStandardParameters.PayloadLength (ESParameterUInt)>
<!ELEMENT ES920NodeFrameStandardParameters.PayloadPreambleIndicator (ESParameterBoolean)>
<!ELEMENT ES920NodeFrameStandardParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeFrameStandardParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeFrameStandardParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodeFrameStandardParameters.Direction   
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "undetermined"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>
<!ELEMENT ES920NodeFrameStandardParameters.Criteria (ES920ParameterCriteria)>

<!ELEMENT ES920NodeFrameStandardSubNodeList (ES920NodePDUInstance)*>

<!-- node pdu -->

<!ELEMENT ES920NodePDU (ES920NodePDU.Parameters, ES920NodePDU.L1Generation, ES920NodePDU.SubNodes)>
<!ATTLIST ES920NodePDU
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED

    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES920NodePDU.Parameters (ES920NodePDUParameters)>
<!ELEMENT ES920NodePDU.L1Generation (ES920NodePDUL1Generation)>
<!ELEMENT ES920NodePDU.SubNodes (ES920NodePDUSubNodeList)>

<!ELEMENT ES920NodePDUL1Generation (ES920NodePDUL1Generation.UnionCase, ES920NodePDUL1Generation.Reconnect, APIROIDList, PDUIndexList)>
<!ATTLIST ES920NodePDUL1Generation  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "0"
    ExecutionROID CDATA "-1"

    IsRelevant ( False | True ) "True"
>

<!ELEMENT APIROIDList (IntAttributeValue*)>
<!ELEMENT PDUIndexList (IntAttributeValue*)>

<!ELEMENT IntAttributeValue EMPTY>
<!ATTLIST IntAttributeValue
    Value CDATA "-1"
>

<!ELEMENT ES920NodePDUL1Generation.UnionCase (ES920NodePDUL1GenerationUnionCase)>
<!ELEMENT ES920NodePDUL1Generation.Reconnect (ES920NodeSignalGroupL1GenerationReconnect)>

<!ELEMENT ES920NodePDUL1GenerationUnionCase EMPTY>

<!ELEMENT ES920NodePDUParameters (ES920NodePDUParameters.PayloadLength,ES920NodePDUParameters.PayloadPreambleIndicator,ES920NodePDUParameters.Criteria, ES920NodePDUParameters.Name, ES920NodePDUParameters.Enabled, ES920NodePDUParameters.Direction, ES920NodePDUParameters.Polling, ES920NodePDUParameters.dTMonitoring, ES920NodePDUParameters.EnableStatusSignals,ES920NodePDUParameters.Task,ES920NodePDUParameters.PDULength, ES920NodePDUParameters.DefaultExecutionPeriod, ES920NodePDUParameters.EnableOSAutomap)>

<!--Leftovers from INTECRIO < 4.2.1 -->
<!ELEMENT ES920NodePDUParameters.PayloadLength (ESParameterUInt)>
<!ELEMENT ES920NodePDUParameters.PayloadPreambleIndicator (ESParameterBoolean)>
<!ELEMENT ES920NodePDUParameters.Criteria (ES920ParameterCriteria)>
<!-->>>>>>>>>>>>>>>>>>>>>>>>>>-->

<!ELEMENT ES920NodePDUParameters.Name (ESParameterName)>
<!ELEMENT ES920NodePDUParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodePDUParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodePDUParameters.Direction   
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES920NodePDUParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodePDUParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES920NodePDUParameters.Task (ESParameterString)>
<!ELEMENT ES920NodePDUParameters.EnableStatusSignals (ESParameterBoolean)>

<!ELEMENT ES920NodePDUParameters.PDULength (ESParameterUInt)>
<!ELEMENT ES920NodePDUParameters.DefaultExecutionPeriod (ESParameterFloat)>
<!ELEMENT ES920NodePDUParameters.EnableOSAutomap (ESParameterBoolean)>

<!ELEMENT ES920NodePDUSubNodeList (ES920NodeSignalInstance,ES920NodeSignalStatus)*>

<!-- node PDUInstanceInstance -->

<!ELEMENT ES920NodePDUInstance (ES920NodePDUInstance.Parameters, ES920NodePDUInstance.SubNodes,  ES920NodePDUInstance.NodeLink, ES920NodePDUInstance.L1Generation)>
<!ATTLIST ES920NodePDUInstance
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED

    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES920NodePDUInstance.Parameters (ES920NodePDUInstanceParameters)>
<!ELEMENT ES920NodePDUInstance.NodeLink (ES920NodePDULink)>
<!ELEMENT ES920NodePDUInstance.SubNodes (ES920NodePDUInstanceSubNodeList)>
<!ELEMENT ES920NodePDUInstance.L1Generation (ES920NodePDUInstanceL1GenerationBlock)>
<!ELEMENT ES920NodePDUInstanceL1GenerationBlock (ES920NodePDUInstanceL1GenerationBlock.EmptyCase, ES920NodePDUInstanceL1GenerationBlock.EmptyCaseReconnect)>
<!ATTLIST ES920NodePDUInstanceL1GenerationBlock
    L1TreeIndex CDATA "-1"
    IsRelevant ( False | True ) "True"
>

<!ELEMENT ES920NodePDUInstanceL1GenerationBlock.EmptyCase (ESL1GenerationCaseEmptySubNode)>
<!ELEMENT ES920NodePDUInstanceL1GenerationBlock.EmptyCaseReconnect (ESL1GenerationCaseEmptySubNodeReconnect)>

<!ELEMENT ES920NodePDUInstanceParameters (ES920NodePDUInstanceParameters.Name, ES920NodePDUInstanceParameters.Enabled, ES920NodePDUInstanceParameters.Direction, ES920NodePDUInstanceParameters.Polling, ES920NodePDUInstanceParameters.dTMonitoring,ES920NodePDUInstanceParameters.Task,ES920NodePDUInstanceParameters.PDULength,ES920NodePDUInstanceParameters.PDUStartBit,ES920NodePDUInstanceParameters.PDUUpdateBitPosition,ES920NodePDUInstanceParameters.PDUByteOrder,ES920NodePDUInstanceParameters.EnableStatusSignals)>

<!ELEMENT ES920NodePDUInstanceParameters.PDUStartBit (ESParameterUInt)>
<!ELEMENT ES920NodePDUInstanceParameters.PDUByteOrder (ESParameterEnum)>
<!ATTLIST ES920NodePDUInstanceParameters.PDUByteOrder   
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES920NodePDUInstanceParameters.Name (ESParameterName)>
<!ELEMENT ES920NodePDUInstanceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodePDUInstanceParameters.Direction (ESParameterEnum)>
<!ATTLIST ES920NodePDUInstanceParameters.Direction   
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES920NodePDUInstanceParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES920NodePDUInstanceParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES920NodePDUInstanceParameters.Task (ESParameterString)>
<!ELEMENT ES920NodePDUInstanceParameters.PDULength (ESParameterUInt)>
<!ELEMENT ES920NodePDUInstanceParameters.PDUUpdateBitPosition (ESParameterSInt)>
<!ELEMENT ES920NodePDUInstanceParameters.EnableStatusSignals (ESParameterBoolean)>

<!ELEMENT ES920NodePDUInstanceSubNodeList EMPTY>

<!-- node multiplex group -->

<!ELEMENT ES920NodeMultiplexGroup (ES920NodeMultiplexGroup.Parameters, ES920NodeMultiplexGroup.L1Generation, ES920NodeMultiplexGroup.SubNodes)>
<!ATTLIST ES920NodeMultiplexGroup
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
    
    OldName CDATA ""
>

<!ELEMENT ES920NodeMultiplexGroup.Parameters (ES920NodeMultiplexGroupParameters)>
<!ELEMENT ES920NodeMultiplexGroup.L1Generation (ES920NodeMultiplexGroupL1Generation)>
<!ELEMENT ES920NodeMultiplexGroup.SubNodes (ES920NodeMultiplexGroupSubNodeList)>

<!ELEMENT ES920NodeMultiplexGroupL1Generation (ES920NodeMultiplexGroupL1Generation.UnionCase, ES920NodeMultiplexGroupL1Generation.Reconnect)>
<!ATTLIST ES920NodeMultiplexGroupL1Generation  
    L1TreeIndex CDATA "-1"
    MonitoringROID CDATA "-1"
>

<!ELEMENT ES920NodeMultiplexGroupL1Generation.UnionCase (ES920NodeMultiplexGroupL1GenerationUnionCase)>
<!ELEMENT ES920NodeMultiplexGroupL1Generation.Reconnect (ES920NodeMultiplexGroupL1GenerationReconnect)>

<!ELEMENT ES920NodeMultiplexGroupL1GenerationUnionCase EMPTY>
<!ELEMENT ES920NodeMultiplexGroupL1GenerationReconnect EMPTY>

<!ELEMENT ES920NodeMultiplexGroupParameters (ES920NodeMultiplexGroupParameters.Name, ES920NodeMultiplexGroupParameters.Enabled, ES920NodeMultiplexGroupParameters.MultiplexValue,ES920NodeMultiplexGroupParameters.dTMonitoring)>

<!ELEMENT ES920NodeMultiplexGroupParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeMultiplexGroupParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeMultiplexGroupParameters.MultiplexValue (ESParameterUInt)>
<!ELEMENT ES920NodeMultiplexGroupParameters.dTMonitoring (ESParameterBoolean)>

<!ELEMENT ES920NodeMultiplexGroupSubNodeList (ES920NodeSignalInstance)*>


<!-- node signal -->

<!ELEMENT ES920NodeSignal (ES920NodeSignal.SubNodes)>
<!ATTLIST ES920NodeSignal
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES920NodeSignal.SubNodes (ESSubNodeList)>


<!-- node signal instance -->

<!ELEMENT ES920NodeSignalInstance (ES920NodeSignalInstance.Parameters, ES920NodeSignalInstance.L1Generation, ES920NodeSignalInstance.SubNodes, ES920NodeSignalInstance.NodeLink)>
<!ATTLIST ES920NodeSignalInstance
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>


<!ELEMENT ES920NodeSignalInstance.Parameters (ES920NodeSignalInstanceParameters)>
<!ELEMENT ES920NodeSignalInstance.L1Generation (ES920NodeSignalInstanceL1Generation)>
<!ELEMENT ES920NodeSignalInstance.SubNodes (ES920NodeSignalInstanceSubNodeList)>
<!ELEMENT ES920NodeSignalInstance.NodeLink (ES920NodeSignalLink)>

<!ELEMENT ES920NodeSignalInstanceL1Generation (ES920NodeSignalInstanceL1Generation.UnionCase, ES920NodeSignalInstanceL1Generation.Reconnect)>
<!ATTLIST ES920NodeSignalInstanceL1Generation   
    L1TreeIndex CDATA "-1"
    
    MappingROID CDATA "-1"
    MultiplexROID CDATA "-1"
    
    DirectionReceive ( False | True ) "False"
>

<!ELEMENT ES920NodeSignalInstanceL1Generation.UnionCase (ES920NodeSignalInstanceL1GenerationUnionCase)>
<!ELEMENT ES920NodeSignalInstanceL1Generation.Reconnect (ES920NodeSignalInstanceL1GenerationReconnect)>

<!ELEMENT ES920NodeSignalInstanceL1GenerationUnionCase EMPTY>
<!ELEMENT ES920NodeSignalInstanceL1GenerationReconnect EMPTY>

<!ELEMENT ES920NodeSignalInstanceParameters (ES920NodeSignalInstanceParameters.StartBit, ES920NodeSignalInstanceParameters.InstanceType, ES920NodeSignalInstanceParameters.Message, ES920NodeSignalInstanceParameters.SignalByteOrder)>


<!ELEMENT ES920NodeSignalInstanceParameters.StartBit (ESParameterUInt)>
<!ELEMENT ES920NodeSignalInstanceParameters.InstanceType (ESParameterEnum)>
<!ATTLIST ES920NodeSignalInstanceParameters.InstanceType   
    EnumText1      CDATA "Standard Signal"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Multiplexor Signal"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "Multiplexed Signal"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ES920NodeSignalInstanceParameters.Message (ESParameterString)>

<!ELEMENT ES920NodeSignalInstanceParameters.SignalByteOrder (ESParameterEnum)>
<!ATTLIST ES920NodeSignalInstanceParameters.SignalByteOrder 
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!-- node signal standard -->

<!ELEMENT ES920NodeSignalStandard (ES920NodeSignalStandard.Parameters, ES920NodeSignalStandard.SubNodes)>
<!ATTLIST ES920NodeSignalStandard
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>


<!ELEMENT ES920NodeSignalStandard.Parameters (ES920NodeSignalStandardParameters)>
<!ELEMENT ES920NodeSignalStandard.SubNodes (ES920NodeSignalStandardSubNodeList)>

<!ELEMENT ES920NodeSignalStandardParameters (ES920NodeSignalStandardParameters.Name, ES920NodeSignalStandardParameters.Enabled, ES920NodeSignalStandardParameters.SignalType, ES920NodeSignalStandardParameters.Unit, ES920NodeSignalStandardParameters.Formula, ES920NodeSignalStandardParameters.Min, ES920NodeSignalStandardParameters.Max, ES920NodeSignalStandardParameters.InitValue, ES920NodeSignalStandardParameters.DataType, ES920NodeSignalStandardParameters.SignalLength, ES920NodeSignalStandardParameters.SignalByteOrder, ES920NodeSignalStandardParameters.AutoMinMax, ES920NodeSignalStandardParameters.SignalPurpose, ES920NodeSignalStandardParameters.Method, ES920NodeSignalStandardParameters.MethodAttributes)>

<!ELEMENT ES920NodeSignalStandardParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalStandardParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalStandardParameters.SignalType (ESParameterEnum)>
<!ATTLIST ES920NodeSignalStandardParameters.SignalType  
    EnumText1      CDATA "cont"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "sdisc"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "udisc"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "boolean"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "enum"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
>
<!ELEMENT ES920NodeSignalStandardParameters.Unit (ESParameterString)>
<!ELEMENT ES920NodeSignalStandardParameters.Formula (ESParameterUnion)>
<!ELEMENT ES920NodeSignalStandardParameters.Min (ESParameterFloat)>
<!ELEMENT ES920NodeSignalStandardParameters.Max (ESParameterFloat)>
<!ELEMENT ES920NodeSignalStandardParameters.InitValue (ESParameterFloat)>
<!ELEMENT ES920NodeSignalStandardParameters.DataType (ESParameterEnum)>
<!ATTLIST ES920NodeSignalStandardParameters.DataType  
    EnumText1      CDATA "boolean"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "uint8"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "sint8"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "uint16"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "sint16"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "uint32"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "sint32"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "real32"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "real64"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"
>

<!ELEMENT ES920NodeSignalStandardParameters.SignalLength (ESParameterUInt)>
<!--Leftovers from INTECRIO < 4.6.2 -->
<!ELEMENT ES920NodeSignalStandardParameters.SignalByteOrder (ESParameterEnum)>
<!ATTLIST ES920NodeSignalStandardParameters.SignalByteOrder 
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!-->>>>>>>>>>>>>>>>>>>>>>>>>>-->

<!ELEMENT ES920NodeSignalStandardParameters.AutoMinMax (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalStandardParameters.SignalPurpose (ESParameterEnum)>
<!ATTLIST ES920NodeSignalStandardParameters.SignalPurpose 
    EnumText1      CDATA "Normal Payload"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Response Error"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "Request"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "Alive Counter"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
    
    EnumText5      CDATA "Checksum"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
    
    EnumText6      CDATA "Other"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"    
>
<!ELEMENT ES920NodeSignalStandardParameters.Method (ESParameterString)>
<!ELEMENT ES920NodeSignalStandardParameters.MethodAttributes (ESParameterStringList)>


<!ELEMENT ES920NodeSignalStandardSubNodeList EMPTY>


<!-- node signal status -->

<!ELEMENT ES920NodeSignalStatus (ES920NodeSignalStatus.Parameters, ES920NodeSignalStatus.L1Generation, ES920NodeSignalStatus.SubNodes)>
<!ATTLIST ES920NodeSignalStatus
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>


<!ELEMENT ES920NodeSignalStatus.Parameters (ES920NodeSignalStatusParameters)>
<!ELEMENT ES920NodeSignalStatus.L1Generation (ES920NodeSignalStatusL1Generation)>
<!ELEMENT ES920NodeSignalStatus.SubNodes (ES920NodeSignalStatusSubNodeList)>

<!ELEMENT ES920NodeSignalStatusL1Generation (ES920NodeSignalStatusL1Generation.UnionCase, ES920NodeSignalStatusL1Generation.Reconnect)>
<!ATTLIST ES920NodeSignalStatusL1Generation  
    L1TreeIndex CDATA "-1"
    
    MappingROID CDATA "-1"
    
    DirectionReceive ( False | True ) "False"
>

<!ELEMENT ES920NodeSignalStatusL1Generation.UnionCase (ES920NodeSignalStatusL1GenerationUnionCase)>
<!ELEMENT ES920NodeSignalStatusL1Generation.Reconnect (ESL1GenerationCaseSignalReconnect)>

<!ELEMENT ES920NodeSignalStatusL1GenerationUnionCase EMPTY>

<!ELEMENT ES920NodeSignalStatusParameters (ES920NodeSignalStatusParameters.StartBit, ES920NodeSignalStatusParameters.Name, ES920NodeSignalStatusParameters.Enabled, ES920NodeSignalStatusParameters.SignalType, ES920NodeSignalStatusParameters.Unit, ES920NodeSignalStatusParameters.Formula, ES920NodeSignalStatusParameters.Min, ES920NodeSignalStatusParameters.Max, ES920NodeSignalStatusParameters.InitValue, ES920NodeSignalStatusParameters.DataType, ES920NodeSignalStatusParameters.SignalLength, ES920NodeSignalStatusParameters.SignalByteOrder,ES920NodeSignalStatusParameters.SignalKind, ES920NodeSignalStatusParameters.AutoMinMax, ES920NodeSignalStatusParameters.Message)>

<!ELEMENT ES920NodeSignalStatusParameters.StartBit (ESParameterUInt)>
<!ELEMENT ES920NodeSignalStatusParameters.SignalKind (ESParameterEnum)>
<!ATTLIST ES920NodeSignalStatusParameters.SignalKind   
    EnumText1      CDATA "CommonStatus_ProtocolOperationControlStatus"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "CommonStatus_RemainingColdStartAttempts"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "CommonStatus_ClockCorrectionFailedCounter"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "CommonStatus_PassiveToActiveCount"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "CommonStatus_CycleCounterValue"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "CommonStatus_RateCorrectionValue"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "CommonStatus_OffsetCorrectionValue"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "CommonStatus_SignalGroupIndicators"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "ChannelStatus_MissingValidFrameOnChannelA"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "ChannelStatus_MissingValidFrameOnChannelB"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "ChannelStatus_SyntaxErrorDetectedOnChannelA"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"

    EnumText12      CDATA "ChannelStatus_SyntaxErrorDetectedOnChannelB"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"

    EnumText13      CDATA "ChannelStatus_ContextErrorDetectedOnChannelA"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"

    EnumText14      CDATA "ChannelStatus_ContextErrorDetectedOnChannelB"
    EnumL1Value14     CDATA "13"
    EnumAvailable14 CDATA "1"

    EnumText15      CDATA "ChannelStatus_CommunicationIndicatorForChannelA"
    EnumL1Value15     CDATA "14"
    EnumAvailable15 CDATA "1"

    EnumText16      CDATA "ChannelStatus_CommunicationIndicatorForChannelB"
    EnumL1Value16     CDATA "15"
    EnumAvailable16 CDATA "1"

    EnumText17      CDATA "ChannelStatus_SlotBoundaryViolationOnChannelA"
    EnumL1Value17     CDATA "16"
    EnumAvailable17 CDATA "1"

    EnumText18      CDATA "ChannelStatus_SlotBoundaryViolationOnChannelB"
    EnumL1Value18     CDATA "17"
    EnumAvailable18 CDATA "1"

    EnumText19      CDATA "ChannelStatus_WakeUpPatternOnChannelA"
    EnumL1Value19     CDATA "18"
    EnumAvailable19 CDATA "1"

    EnumText20      CDATA "ChannelStatus_WakeUpPatternOnChannelB"
    EnumL1Value20     CDATA "19"
    EnumAvailable20 CDATA "1"

    EnumText21      CDATA "ChannelStatus_MediaTestSymbolOnChannelA"
    EnumL1Value21     CDATA "20"
    EnumAvailable21 CDATA "1"

    EnumText22      CDATA "ChannelStatus_MediaTestSymbolOnChannelB"
    EnumL1Value22     CDATA "21"
    EnumAvailable22 CDATA "1"

    EnumText23      CDATA "ChannelStatus_LatestTransmitViolationOnChannelA"
    EnumL1Value23     CDATA "22"
    EnumAvailable23 CDATA "1"

    EnumText24      CDATA "ChannelStatus_LatestTransmitViolationOnChannelB"
    EnumL1Value24     CDATA "23"
    EnumAvailable24 CDATA "1"

    EnumText25      CDATA "ChannelStatus_TransmissionAccrossBoundaryOnChannelA"
    EnumL1Value25     CDATA "24"
    EnumAvailable25 CDATA "1"

    EnumText26      CDATA "ChannelStatus_TransmissionAccrossBoundaryOnChannelB"
    EnumL1Value26     CDATA "25"
    EnumAvailable26 CDATA "1"

    EnumText27      CDATA "ChannelStatus_SignalGroupIndicators"
    EnumL1Value27     CDATA "26"
    EnumAvailable27 CDATA "1"

    EnumText28      CDATA "Network_NetworkManagementVectorByte"
    EnumL1Value28     CDATA "27"
    EnumAvailable28 CDATA "1"

    EnumText29      CDATA "Network_SignalGroupIndicators"
    EnumL1Value29     CDATA "28"
    EnumAvailable29 CDATA "1"
  
    EnumText30      CDATA "PDUs_SignalGroupIndicators"
    EnumL1Value30     CDATA "29"
    EnumAvailable30 CDATA "1"

>

<!ELEMENT ES920NodeSignalStatusParameters.Name (ESParameterName)>
<!ELEMENT ES920NodeSignalStatusParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalStatusParameters.SignalType (ESParameterEnum)>
<!ATTLIST ES920NodeSignalStatusParameters.SignalType   
    EnumText1      CDATA "cont"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "sdisc"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "udisc"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "boolean"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "enum"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
>
<!ELEMENT ES920NodeSignalStatusParameters.Unit (ESParameterString)>
<!ELEMENT ES920NodeSignalStatusParameters.Formula (ESParameterUnion)>
<!ELEMENT ES920NodeSignalStatusParameters.Min (ESParameterFloat)>
<!ELEMENT ES920NodeSignalStatusParameters.Max (ESParameterFloat)>
<!ELEMENT ES920NodeSignalStatusParameters.InitValue (ESParameterFloat)>
<!ELEMENT ES920NodeSignalStatusParameters.DataType (ESParameterEnum)>
<!ATTLIST ES920NodeSignalStatusParameters.DataType   
    EnumText1      CDATA "boolean"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "uint8"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "sint8"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "uint16"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "sint16"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "uint32"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "sint32"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "real32"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "real64"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"
>

<!ELEMENT ES920NodeSignalStatusParameters.SignalLength (ESParameterUInt)>
<!ELEMENT ES920NodeSignalStatusParameters.SignalByteOrder (ESParameterEnum)>
<!ATTLIST ES920NodeSignalStatusParameters.SignalByteOrder 
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES920NodeSignalStatusParameters.AutoMinMax (ESParameterBoolean)>
<!ELEMENT ES920NodeSignalStatusParameters.Message (ESParameterString)>

<!ELEMENT ES920NodeSignalStatusSubNodeList EMPTY>

<!-- links -->

<!ELEMENT ES920NodeFrameLink EMPTY>
<!ATTLIST ES920NodeFrameLink
    NodeLink.ofTypeESNode ENTITY #IMPLIED
>

<!ELEMENT ES920NodeSignalLink EMPTY>
<!ATTLIST ES920NodeSignalLink
    NodeLink.ofTypeESNode ENTITY #IMPLIED
>

<!ELEMENT ES920NodePDULink EMPTY>
<!ATTLIST ES920NodePDULink
    NodeLink.ofTypeESNode ENTITY #IMPLIED
>

<!ELEMENT ES920NodeSignalInstanceSubNodeList (ES920NodeMultiplexGroup)*>

<!-- pool -->

<!ELEMENT ES920PoolSignal (ES920PoolSignal.SignalList)>
<!ATTLIST ES920PoolSignal
    Name ID #REQUIRED
>

<!ELEMENT ES920PoolSignal.SignalList (ES920PoolSignalList)>

<!ELEMENT ES920PoolSignalList (ES920NodeSignalStandard)*>

<!-- criteria parameter -->

<!ELEMENT ES920ParameterCriteria (ES920ParameterCriteria.TableNormalized, ES920ParameterCriteria.TableOptimized)>
<!ATTLIST ES920ParameterCriteria
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>

<!ELEMENT ES920ParameterCriteria.TableNormalized (ES920CriteriaTableNormalized) >
<!ELEMENT ES920CriteriaTableNormalized (ES920CriteriaTableNormalized.ES920CriteriaTableNormalizedRows) >
<!ELEMENT ES920CriteriaTableNormalized.ES920CriteriaTableNormalizedRows (ES920CriteriaTableNormalizedRows) >

<!ELEMENT ES920ParameterCriteria.TableOptimized (ES920CriteriaTableOptimized) >
<!ELEMENT ES920CriteriaTableOptimized (ES920CriteriaTableOptimized.ES920CriteriaTableOptimizedRows) >
<!ELEMENT ES920CriteriaTableOptimized.ES920CriteriaTableOptimizedRows (ES920CriteriaTableOptimizedRows) >

<!ELEMENT ES920CriteriaTableNormalizedRows (ES920CriteriaTableNormalizedRow*) >

<!ELEMENT ES920CriteriaTableNormalizedRow EMPTY>
<!ATTLIST ES920CriteriaTableNormalizedRow
    SlotNumber CDATA ""
    Channel CDATA ""
    Period CDATA ""
    Offset CDATA "" 
    FirstFrameInstance.ofTypeES920NodeFrameInstance ENTITY #REQUIRED
    SecondFrameInstance.ofTypeES920NodeFrameInstance ENTITY #REQUIRED
>

<!ELEMENT ES920CriteriaTableOptimizedRows (ES920CriteriaTableOptimizedRow*) >

<!ELEMENT ES920CriteriaTableOptimizedRow (ES920CriteriaTableOptimizedRowFrameInstances)>
<!ATTLIST ES920CriteriaTableOptimizedRow
    SlotNumber CDATA ""
    Channel CDATA ""
    Period CDATA ""
    Offset CDATA "" 
>

<!ELEMENT ES920CriteriaTableOptimizedRowFrameInstances (ES920CriteriaTableOptimizedRowFrameInstance*)>

<!ELEMENT ES920CriteriaTableOptimizedRowFrameInstance EMPTY>
<!ATTLIST ES920CriteriaTableOptimizedRowFrameInstance

    FrameInstance.ofTypeES920NodeFrameInstance ENTITY #REQUIRED
>


















