Main_ECU/data.bak1/Data/DTD/ESx86RPES4XXNodeDevice.dtd

<?DTDVersion "5.0.0.0"?>
<?CompatibleDTDVersion "4.2.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!ENTITY % ES4XXFoundationNodeMainBase SYSTEM "ES4XXFoundationNodeMainBase.dtd">
%ES4XXFoundationNodeMainBase;

<!NOTATION ofTypeESx86RPES4XXNodeDevice SYSTEM "ESx86RPES4XXNodeDevice">

<?SuperClass ESx86RPES4XXNodeDevice->ES4XXFoundationNodeDeviceBase ?>

<!-- node device -->

<!ELEMENT ESx86RPES4XXNodeDevice (ESx86RPES4XXNodeDevice.Parameters, ESx86RPES4XXNodeDevice.L1Generation, ESx86RPES4XXNodeDevice.SubNodes, ESx86RPES4XXNodeDevice.VariableParameters)>
<!ATTLIST ESx86RPES4XXNodeDevice
    Name ID #REQUIRED

    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
>

<!ELEMENT ESx86RPES4XXNodeDevice.Parameters (ESx86RPES4XXNodeDeviceParameters)>
<!ELEMENT ESx86RPES4XXNodeDevice.L1Generation (ESx86RPES4XXNodeDeviceL1Generation)>
<!ELEMENT ESx86RPES4XXNodeDevice.SubNodes (ESx86RPES4XXNodeDeviceSubNodeList)>
<!ELEMENT ESx86RPES4XXNodeDevice.VariableParameters (ES4XXVariableParameters)>

<!ELEMENT ESx86RPES4XXNodeDeviceParameters (ESx86RPES4XXNodeDeviceParameters.Name,ESx86RPES4XXNodeDeviceParameters.Enabled,ESx86RPES4XXNodeDeviceParameters.ChainName,ESx86RPES4XXNodeDeviceParameters.ConfigurationFile,ESx86RPES4XXNodeDeviceParameters.ConfigurationFileVersion,ESx86RPES4XXNodeDeviceParameters.GCFFileName,ESx86RPES4XXNodeDeviceParameters.IPAddress,ESx86RPES4XXNodeDeviceParameters.ShowStatusSignalForDevice, ESx86RPES4XXNodeDeviceParameters.XCPVersion, ESx86RPES4XXNodeDeviceParameters.UDPIPVersion, ESx86RPES4XXNodeDeviceParameters.Port, ESx86RPES4XXNodeDeviceParameters.EPKValue, ESx86RPES4XXNodeDeviceParameters.EPKAddress, ESx86RPES4XXNodeDeviceParameters.EPKValueLength, ESx86RPES4XXNodeDeviceParameters.DAQ_MaxODTEntrySize, ESx86RPES4XXNodeDeviceParameters.DAQ_MaxEntries,ESx86RPES4XXNodeDeviceParameters.DAQ_MinEntries, ESx86RPES4XXNodeDeviceParameters.STIM_MaxODTEntrySize, ESx86RPES4XXNodeDeviceParameters.STIM_MaxEntries, ESx86RPES4XXNodeDeviceParameters.STIM_MinEntries, ESx86RPES4XXNodeDeviceParameters.TimestampSize, ESx86RPES4XXNodeDeviceParameters.ISR, ESx86RPES4XXNodeDeviceParameters.RapidPrototypingEnabled, ESx86RPES4XXNodeDeviceParameters.Instance, ESx86RPES4XXNodeDeviceParameters.IRQSource)>

<!ELEMENT ESx86RPES4XXNodeDeviceParameters.Name (ESParameterName)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.ChainName (ESParameterString)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.ConfigurationFile (ESParameterString)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.ConfigurationFileVersion (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.GCFFileName (ESParameterString)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.IPAddress (ESParameterIPAddress)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.ShowStatusSignalForDevice (ESParameterBoolean)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.XCPVersion (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.UDPIPVersion (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.Port (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.EPKValue (ESParameterString)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.EPKAddress (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.EPKValueLength (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.DAQ_MaxODTEntrySize (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.DAQ_MaxEntries (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.DAQ_MinEntries (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.STIM_MaxODTEntrySize (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.STIM_MaxEntries (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.STIM_MinEntries (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.TimestampSize (ESParameterEnum)>
<!ATTLIST ESx86RPES4XXNodeDeviceParameters.TimestampSize  
    EnumText1      CDATA "NO_TIME_STAMP"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "SIZE_DWORD"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.ISR (ESParameterString)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.RapidPrototypingEnabled (ESParameterBoolean)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.Instance (ESParameterUInt)>
<!ELEMENT ESx86RPES4XXNodeDeviceParameters.IRQSource (ESParameterString)>


<!ELEMENT ESx86RPES4XXNodeDeviceL1Generation (ESx86RPES4XXNodeDeviceL1Generation.UnionCase, ESx86RPES4XXNodeDeviceL1Generation.Reconnect)>
<!ATTLIST ESx86RPES4XXNodeDeviceL1Generation
    L1TreeIndex CDATA "-1"

    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
    APIROIDArray5 CDATA "-1"
    APIROIDArray6 CDATA "-1"

    IRQTriggeredSignalGroups CDATA "0"
    L1SignalGroupCount CDATA "0"
>
<!ELEMENT ESx86RPES4XXNodeDeviceL1Generation.UnionCase (ESx86RPES4XXNodeDeviceL1GenerationUnionCase)>
<!ELEMENT ESx86RPES4XXNodeDeviceL1Generation.Reconnect (ES4XXNodeDeviceL1GenerationReconnect)>

<!ELEMENT ESx86RPES4XXNodeDeviceL1GenerationUnionCase EMPTY>

<!ELEMENT ESx86RPES4XXNodeDeviceSubNodeList (ES4XXNodeSignalGroupSend | ES4XXNodeSignalGroupReceive | ES4XXNodeSignalGroupStatus)*>