Main_ECU/data.bak9/Data/DTD/_TxnReverseLinks.dtd

<?DTDVersion "2.0"?>

<!ELEMENT _TxnReverseLinks (RevLinks, DiffLog)>

<!ELEMENT RevLinks (ByTarget*)>
<!ELEMENT ByTarget (Entry*)>
<!ELEMENT Entry EMPTY>

<!ATTLIST ByTarget
      TargetOID CDATA "0">

<!ATTLIST Entry
      SourceOID CDATA "0"
      Cardinality   CDATA "1">

<!ELEMENT DiffLog (DiffEntry*)>

<!ELEMENT DiffEntry EMPTY>
<!ATTLIST DiffEntry
      Source    CDATA "0"
      Target    CDATA "0"
      Diff      CDATA "1">
