Main_ECU/data.bak4/Data/DTD/ES900ETHNodeMain.dtd

<?DTDVersion "4.7.2"?>
<?CompatibleDTDVersion "4.7.0"?>
<?CompatibleDTDVersion "4.6.2"?>
<?CompatibleDTDVersion "4.6.0"?>
<?CompatibleDTDVersion "3.2.0"?>
<?CompatibleDTDVersion "2.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!ENTITY % ESXCPBNodeMain SYSTEM "ESXCPBNodeMain.DTD">
%ESXCPBNodeMain;

<!ENTITY % ESETKonXCPNodeETKController SYSTEM "ESETKonXCPNodeETKController.DTD">
%ESETKonXCPNodeETKController;

<!ENTITY % ESETKFoundationNodeMainBase SYSTEM "ESETKFoundationNodeMainBase.DTD">
%ESETKFoundationNodeMainBase;

<!NOTATION ofTypeES900ETHNodeController SYSTEM "ES900ETHNodeController">
<!NOTATION ofTypeES900XCPBUdpNodeDevice SYSTEM "ES900XCPBUdpNodeDevice">
<!NOTATION ofTypeES900ETHNodeMain SYSTEM "ES900ETHNodeMain">

<?SuperClass ESETHBaseNodeMainBase->ESNodeMain?>
<?SuperClass ES900ETHNodeMain->ES900Component ?>
<?SuperClass ES900ETHNodeMain->ESETHBaseNodeMainBase ?>

<?SuperClass ESETHBaseNodeControllerBase->ESNodeController ?>
<?SuperClass ES900ETHNodeController->ESETHBaseNodeControllerBase ?>

<?SuperClass ESXCPBNodeDevice->ESNodeDevice ?>
<?SuperClass ESXCPBUdpNodeDeviceBase->ESXCPBNodeDevice ?>
<?SuperClass ES900XCPBUdpNodeDevice->ESXCPBUdpNodeDeviceBase ?>

<!-- main node -->

<!ELEMENT ES900ETHNodeMain (ES900ETHNodeMain.Parameters, ES900ETHNodeMain.L1Generation, ES900ETHNodeMain.SubNodes, _System)>
<!ATTLIST ES900ETHNodeMain
    Name ID #REQUIRED
  
    GlobalObject.ofTypeYBOBoard ENTITY #REQUIRED
    GlobalParent.ofTypeYBOCPUBoard ENTITY #REQUIRED
>
<!ELEMENT ES900ETHNodeMain.Parameters (ES900ETHNodeMainParameters)>
<!ELEMENT ES900ETHNodeMain.L1Generation (ES900ETHNodeMainL1GenerationBlock)>
<!ELEMENT ES900ETHNodeMain.SubNodes (ES900ETHNodeMainSubNodeList)>


<!ELEMENT ES900ETHNodeMainL1GenerationBlock (ES900ETHNodeMainL1GenerationBlock.NotRunning, ES900ETHNodeMainL1GenerationBlock.Reconnect, ES900ETHNodeMainL1GenerationBlock.WriteToStream)>
<!ATTLIST ES900ETHNodeMainL1GenerationBlock
    L1TreeIndex CDATA "-1"

    ConfigROID CDATA "-1"
>

<!ELEMENT ES900ETHNodeMainL1GenerationBlock.NotRunning (ESETHBaseNodeMainL1GenerationNotRunning)>
<!ELEMENT ES900ETHNodeMainL1GenerationBlock.Reconnect (ESETHBaseNodeMainL1GenerationReconnect)>
<!ELEMENT ES900ETHNodeMainL1GenerationBlock.WriteToStream (ESETHBaseNodeMainL1GenerationWriteToStream)>

<!--MPP dies gehört eignentlich in die ESETHBaseNodeMain.dtd -->
<!ELEMENT ESETHBaseNodeMainL1GenerationNotRunning EMPTY>
<!ELEMENT ESETHBaseNodeMainL1GenerationReconnect EMPTY>
<!ELEMENT ESETHBaseNodeMainL1GenerationWriteToStream EMPTY>

<!ELEMENT ES900ETHNodeMainParameters (ES900ETHNodeMainParameters.Name, ES900ETHNodeMainParameters.Enabled)>
<!ELEMENT ES900ETHNodeMainParameters.Name (ESParameterName)>
<!ELEMENT ES900ETHNodeMainParameters.Enabled (ESParameterBoolean)>


<!ELEMENT ES900ETHNodeMainSubNodeList (ES900ETHNodeController)*>



<!-- controller node -->

<!ELEMENT ES900ETHNodeController (ES900ETHNodeController.Parameters, ES900ETHNodeController.L1Generation, ES900ETHNodeController.SubNodes)>
<!ATTLIST ES900ETHNodeController
    Name ID #REQUIRED
>

<!ELEMENT ES900ETHNodeController.Parameters (ES900ETHNodeControllerParameters)>
<!ELEMENT ES900ETHNodeController.L1Generation (ESETHBaseNodeControllerL1GenerationBlock)>
<!ELEMENT ES900ETHNodeController.SubNodes (ES900ETHNodeControllerSubNodeList)>

<!--MPP dies gehört eignentlich in die ESETHBaseNodeMain.dtd  -->
<!ELEMENT ESETHBaseNodeControllerL1GenerationBlock (ESETHBaseNodeControllerL1GenerationBlock.UnionCase, ESETHBaseNodeControllerL1GenerationBlock.Reconnect)>
<!ATTLIST ESETHBaseNodeControllerL1GenerationBlock
    L1TreeIndex CDATA "-1"

>

<!ELEMENT ESETHBaseNodeControllerL1GenerationBlock.UnionCase (ESETHBaseNodeControllerL1GenerationUnionCase)>
<!ELEMENT ESETHBaseNodeControllerL1GenerationBlock.Reconnect (ESETHBaseNodeControllerL1GenerationReconnect)>

<!ELEMENT ESETHBaseNodeControllerL1GenerationUnionCase EMPTY>
<!ELEMENT ESETHBaseNodeControllerL1GenerationReconnect EMPTY>


<!ELEMENT ES900ETHNodeControllerParameters (ES900ETHNodeControllerParameters.Name, 
                                                 ES900ETHNodeControllerParameters.Enabled, 
                                                 ES900ETHNodeControllerParameters.Port,
                                                 ES900ETHNodeControllerParameters.IPAddress,
                                                 ES900ETHNodeControllerParameters.SubnetMask)>


<!ELEMENT ES900ETHNodeControllerParameters.Name (ESParameterName)>
<!ELEMENT ES900ETHNodeControllerParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES900ETHNodeControllerParameters.Port (ESParameterEnum)>
<!ATTLIST ES900ETHNodeControllerParameters.Port 
    EnumText1      CDATA "Port 1"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Port 2"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "0"
>

<!ELEMENT ES900ETHNodeControllerParameters.IPAddress (ESParameterIPAddress)>
<!ELEMENT ES900ETHNodeControllerParameters.SubnetMask (ESParameterIPAddress)>

<!ELEMENT ES900ETHNodeControllerSubNodeList (ES900XCPBUdpNodeDevice, ESETKonXCPNodeETKController)*>

<!-- device node -->

<!ELEMENT ES900XCPBUdpNodeDevice (ES900XCPBUdpNodeDevice.Parameters, ES900XCPBUdpNodeDevice.L1Generation, ES900XCPBUdpNodeDevice.SubNodes)>
<!ATTLIST ES900XCPBUdpNodeDevice
    Name ID #REQUIRED

    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
  
    a2lFile.ofTypeA2LFile ENTITY #REQUIRED
    BypassEnableLabel.ofTypeCharacteristic ENTITY #REQUIRED
>

<!ELEMENT ES900XCPBUdpNodeDevice.Parameters (ES900XCPBUdpNodeDeviceParameters)>
<!ELEMENT ES900XCPBUdpNodeDevice.L1Generation (ESXCPBUdpNodeDeviceL1GenerationBlock)>
<!ELEMENT ES900XCPBUdpNodeDevice.SubNodes (ES900XCPBUdpNodeDeviceSubNodeList)>


<!--MPP dies gehört eignentlich in die ESUDPBaseNodeDevice.dtd  -->
<!ELEMENT ESXCPBUdpNodeDeviceL1GenerationBlock (ESXCPBUdpNodeDeviceL1GenerationBlock.UnionCase, ESXCPBUdpNodeDeviceL1GenerationBlock.Reconnect)>
<!ATTLIST ESXCPBUdpNodeDeviceL1GenerationBlock 
    L1TreeIndex CDATA "-1"

    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
    APIROIDArray5 CDATA "-1"
    APIROIDArray6 CDATA "-1"

    IRQTriggeredSignalGroups CDATA "0"
    RelevantSignalGroups CDATA "0"
>

<!ELEMENT ESXCPBUdpNodeDeviceL1GenerationBlock.UnionCase (ESXCPBUdpNodeDeviceL1GenerationUnionCase)>
<!ELEMENT ESXCPBUdpNodeDeviceL1GenerationBlock.Reconnect (ESXCPBNodeDeviceL1GenerationReconnect)>

<!ELEMENT ESXCPBUdpNodeDeviceL1GenerationUnionCase EMPTY>



<!ELEMENT ES900XCPBUdpNodeDeviceParameters (ES900XCPBUdpNodeDeviceParameters.Name, 
                                             ES900XCPBUdpNodeDeviceParameters.Enabled,
                                             ES900XCPBUdpNodeDeviceParameters.ASAMMCD2File, 
                                             ES900XCPBUdpNodeDeviceParameters.ECUByteOrder, 
                                             ES900XCPBUdpNodeDeviceParameters.ECUSWVersion, 
                                             ES900XCPBUdpNodeDeviceParameters.SWConsistencyCheck, 
                                             ES900XCPBUdpNodeDeviceParameters.EPK, 
                                             ES900XCPBUdpNodeDeviceParameters.EPKAddress, 
                                             ES900XCPBUdpNodeDeviceParameters.AutomaticBypassActivation, 
                                             ES900XCPBUdpNodeDeviceParameters.BypassEnableLabel, 
                                             ES900XCPBUdpNodeDeviceParameters.BypassEnableLabelTransferMethod,
                                             ES900XCPBUdpNodeDeviceParameters.BypassEnableDelay, 
                                             ES900XCPBUdpNodeDeviceParameters.SignalSelectionMode, 
                                             ES900XCPBUdpNodeDeviceParameters.TransferMode, 
                                             ES900XCPBUdpNodeDeviceParameters.XCPProtocolLayerVersion, 
                                             ES900XCPBUdpNodeDeviceParameters.TimeoutT1,
                                             ES900XCPBUdpNodeDeviceParameters.TimeoutT2,
                                             ES900XCPBUdpNodeDeviceParameters.TimeoutT3,
                                             ES900XCPBUdpNodeDeviceParameters.TimeoutT4,
                                             ES900XCPBUdpNodeDeviceParameters.TimeoutT5,
                                             ES900XCPBUdpNodeDeviceParameters.TimeoutT6,
                                             ES900XCPBUdpNodeDeviceParameters.TimeoutT7,
                                             ES900XCPBUdpNodeDeviceParameters.MaxCTO, 
                                             ES900XCPBUdpNodeDeviceParameters.MaxDTO, 
                                             ES900XCPBUdpNodeDeviceParameters.AddressGranularity, 
                                             ES900XCPBUdpNodeDeviceParameters.DAQConfigType, 
                                             ES900XCPBUdpNodeDeviceParameters.MaxDAQ, 
                                             ES900XCPBUdpNodeDeviceParameters.MinDAQ, 
                                             ES900XCPBUdpNodeDeviceParameters.MaxEventChannel, 
                                             ES900XCPBUdpNodeDeviceParameters.OptimisationType, 
                                             ES900XCPBUdpNodeDeviceParameters.AddressExtensionType, 
                                             ES900XCPBUdpNodeDeviceParameters.IdentificationFieldType, 
                                             ES900XCPBUdpNodeDeviceParameters.GranularityODTEntrySizeDAQ, 
                                             ES900XCPBUdpNodeDeviceParameters.MaxODTEntrySizeDAQ, 
                                             ES900XCPBUdpNodeDeviceParameters.OverloadIndication, 
                                             ES900XCPBUdpNodeDeviceParameters.PrescalerSupported, 
                                             ES900XCPBUdpNodeDeviceParameters.ResumeSupported, 
                                             ES900XCPBUdpNodeDeviceParameters.ResumeMode, 
                                             ES900XCPBUdpNodeDeviceParameters.GranularityODTEntrySizeSTIM, 
                                             ES900XCPBUdpNodeDeviceParameters.MaxODTEntrySizeSTIM, 
                                             ES900XCPBUdpNodeDeviceParameters.BitSTIMSupported, 
                                             ES900XCPBUdpNodeDeviceParameters.TimestampSupported, 
                                             ES900XCPBUdpNodeDeviceParameters.TimestampTicks, 
                                             ES900XCPBUdpNodeDeviceParameters.TimestampUnit, 
                                             ES900XCPBUdpNodeDeviceParameters.TimestampFixed, 
                                             ES900XCPBUdpNodeDeviceParameters.TimestampSize, 
                                             ES900XCPBUdpNodeDeviceParameters.PIDOffSupported, 
                                             ES900XCPBUdpNodeDeviceParameters.AutomaticBypassDetection, 
                                             ES900XCPBUdpNodeDeviceParameters.BypassReceiveNamePrefix, 
                                             ES900XCPBUdpNodeDeviceParameters.BypassReceiveNameSuffix, 
                                             ES900XCPBUdpNodeDeviceParameters.BypassSendNamePrefix, 
                                             ES900XCPBUdpNodeDeviceParameters.BypassSendNameSuffix, 
                                             ES900XCPBUdpNodeDeviceParameters.LogCTO, 
                                             ES900XCPBUdpNodeDeviceParameters.LogDTO, 
                                             ES900XCPBUdpNodeDeviceParameters.LogCalibration, 
                                             ES900XCPBUdpNodeDeviceParameters.LogWarnings, 
                                             ES900XCPBUdpNodeDeviceParameters.LogInformation, 
                                             ES900XCPBUdpNodeDeviceParameters.BehaviorOnInconsistentA2LandECUConfiguration,
                                             ES900XCPBUdpNodeDeviceParameters.IRQSource,
                                             ES900XCPBUdpNodeDeviceParameters.XCPByteOrder,
                                             ES900XCPBUdpNodeDeviceParameters.XCPInstance,
                                             ES900XCPBUdpNodeDeviceParameters.XCPonUDPIPVersion, 
                                             ES900XCPBUdpNodeDeviceParameters.UDPPortSlave, 
                                             ES900XCPBUdpNodeDeviceParameters.PacketAlignment, 
                                             ES900XCPBUdpNodeDeviceParameters.IPAddressSlave,
                                             ES900XCPBUdpNodeDeviceParameters.Checksum,
                                             ES900XCPBUdpNodeDeviceParameters.ISR,
                                             ES900XCPBUdpNodeDeviceParameters.SeedAndKeyLibrary,
                                             ES900XCPBUdpNodeDeviceParameters.TransportLayerName,
                                             ES900XCPBUdpNodeDeviceParameters.MaxDTOSTIM,
                                             ES900XCPBUdpNodeDeviceParameters.StoreDAQSupported,
                                             ES900XCPBUdpNodeDeviceParameters.DTOCTRFieldSupported,
                                             ES900XCPBUdpNodeDeviceParameters.MaxDAQTotal,
                                             ES900XCPBUdpNodeDeviceParameters.MaxODTTotal,
                                             ES900XCPBUdpNodeDeviceParameters.MaxODTDAQTotal,
                                             ES900XCPBUdpNodeDeviceParameters.MaxODTSTIMTotal,
                                             ES900XCPBUdpNodeDeviceParameters.MaxODTEntriesDAQTotal,
                                             ES900XCPBUdpNodeDeviceParameters.MaxODTEntriesSTIMTotal,
                                             ES900XCPBUdpNodeDeviceParameters.MaxODTEntriesTotal,
                                             ES900XCPBUdpNodeDeviceParameters.DAQMemoryLimit,
                                             ES900XCPBUdpNodeDeviceParameters.DAQSize,
                                             ES900XCPBUdpNodeDeviceParameters.ODTSize,
                                             ES900XCPBUdpNodeDeviceParameters.ODTEntrySize,
                                             ES900XCPBUdpNodeDeviceParameters.ODTDAQBufferElementSize,
                                             ES900XCPBUdpNodeDeviceParameters.ODTSTIMBufferElementSize,
                                             ES900XCPBUdpNodeDeviceParameters.ODTDAQBufferElementReserve,
                                             ES900XCPBUdpNodeDeviceParameters.ODTSTIMBufferElementReserve,
                                             ES900XCPBUdpNodeDeviceParameters.OptimisationTypeODTStrict,
                                             ES900XCPBUdpNodeDeviceParameters.MinSTSTIM,
                                             ES900XCPBUdpNodeDeviceParameters.ImportSignalGroupforXCPEventwithoutConsistency,
                                             ES900XCPBUdpNodeDeviceParameters.RespectDataConsistencyDeclarationfromECUforSignalLists)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.Name (ESParameterName)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ASAMMCD2File (ESParameterString)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ECUByteOrder (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.ECUByteOrder
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ECUSWVersion (ESParameterString)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.SWConsistencyCheck (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.SWConsistencyCheck 
    EnumText1      CDATA "enabled"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "disabled"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.EPK (ESParameterString)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.EPKAddress (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.AutomaticBypassActivation (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.BypassEnableLabel (ESXCPBParameterBypassEnableLabel)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.BypassEnableLabelTransferMethod (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.BypassEnableLabelTransferMethod  
    EnumText1      CDATA "DOWNLOAD"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "DAQ_STIM_LIST"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.BypassEnableDelay (ESParameterUInt)>


<!ELEMENT ES900XCPBUdpNodeDeviceParameters.SignalSelectionMode (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.SignalSelectionMode 
    EnumText1      CDATA "Declared Fixed or Default for Event"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "Declared Fixed, Default or Available for Event"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "All"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TransferMode (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.TransferMode 
    EnumText1      CDATA "Bypass"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Bypass and Measurement"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Bypass, Measurement and Calibration"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>


<!ELEMENT ES900XCPBUdpNodeDeviceParameters.XCPProtocolLayerVersion (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.XCPProtocolLayerVersion  
    EnumText1      CDATA "1.0"
    EnumL1Value1     CDATA "256"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "1.1"
    EnumL1Value2     CDATA "257"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "1.2"
    EnumL1Value3     CDATA "258"
    EnumAvailable3 CDATA "1"
    
    EnumText4      CDATA "1.3"
    EnumL1Value4    CDATA "259"
    EnumAvailable4 CDATA "1"
    
    EnumText5      CDATA "1.4"
    EnumL1Value5     CDATA "260"
    EnumAvailable5 CDATA "1"
    
    EnumText6      CDATA "1.5"
    EnumL1Value6     CDATA "261"
    EnumAvailable6 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimeoutT1 (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimeoutT2 (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimeoutT3 (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimeoutT4 (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimeoutT5 (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimeoutT6 (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimeoutT7 (ESParameterUInt)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxCTO (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxDTO (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.AddressGranularity (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.AddressGranularity   
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.DAQConfigType (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.DAQConfigType  
    EnumText1      CDATA "Static"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Dynamic"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxDAQ (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MinDAQ (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxEventChannel (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.OptimisationType (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.OptimisationType   
    EnumText1      CDATA "Default"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ODT_Type_16"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "ODT_Type_32"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "ODT_Type_64"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
  
    EnumText5      CDATA "ODT_Type_Alignment"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
  
    EnumText6      CDATA "Max_Entry_Size"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.AddressExtensionType (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.AddressExtensionType    
    EnumText1      CDATA "Free"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ODT"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "DAQ"
    EnumL1Value3     CDATA "3"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.IdentificationFieldType (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.IdentificationFieldType     
    EnumText1      CDATA "Absolute"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Relative Byte"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Relative Word"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "Relative Word Aligned"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.GranularityODTEntrySizeDAQ (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.GranularityODTEntrySizeDAQ      
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxODTEntrySizeDAQ (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.OverloadIndication (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.OverloadIndication       
    EnumText1      CDATA "No"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "PID"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Event"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>


<!ELEMENT ES900XCPBUdpNodeDeviceParameters.PrescalerSupported (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ResumeSupported (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ResumeMode (ESParameterBoolean)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.GranularityODTEntrySizeSTIM (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.GranularityODTEntrySizeSTIM     
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxODTEntrySizeSTIM (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.BitSTIMSupported (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimestampSupported (ESParameterBoolean)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimestampTicks (ESParameterUInt)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimestampUnit (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.TimestampUnit        
    EnumText1      CDATA "1 ns"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "10 ns"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "100 ns"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "1 us"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "10 us"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "100 us"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "1 ms"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "10 ms"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "100 ms"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "1 s"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"
    
    EnumText11      CDATA "1 ps"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"
    
    EnumText12      CDATA "10 ps"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"
    
    EnumText13      CDATA "100 ps"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"
 >


<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimestampFixed (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TimestampSize (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.TimestampSize        
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.PIDOffSupported (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.AutomaticBypassDetection (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.BypassReceiveNamePrefix (ESParameterString)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.BypassReceiveNameSuffix (ESParameterString)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.BypassSendNamePrefix (ESParameterString)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.BypassSendNameSuffix (ESParameterString)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.LogCTO (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.LogDTO (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.LogCalibration (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.LogWarnings (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.LogInformation (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.BehaviorOnInconsistentA2LandECUConfiguration (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.BehaviorOnInconsistentA2LandECUConfiguration          
    EnumText1      CDATA "Use Configuration from ASAM-MCD2 file"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Use Configuration reported from ECU"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Abort start of XCP System"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
 >
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.IRQSource (ESParameterString)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.XCPByteOrder (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.XCPByteOrder         
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.XCPInstance (ESParameterUInt)>


<!ELEMENT ES900XCPBUdpNodeDeviceParameters.XCPonUDPIPVersion (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.XCPonUDPIPVersion
    EnumText1      CDATA "1.0"
    EnumL1Value1     CDATA "256"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "1.1"
    EnumL1Value2     CDATA "257"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "1.2"
    EnumL1Value3     CDATA "258"
    EnumAvailable3 CDATA "1"
    
    EnumText4      CDATA "1.3"
    EnumL1Value4     CDATA "259"
    EnumAvailable4 CDATA "1"
    
    EnumText5      CDATA "1.4"
    EnumL1Value5     CDATA "260"
    EnumAvailable5 CDATA "1"
    
    EnumText6      CDATA "1.5"
    EnumL1Value6     CDATA "261"
    EnumAvailable6 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.UDPPortSlave (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.IPAddressSlave (ESParameterIPAddress)>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.PacketAlignment (ESParameterEnum)>
<!ATTLIST ES900XCPBUdpNodeDeviceParameters.PacketAlignment
    EnumText1      CDATA "PACKET_ALIGNMENT_8"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "PACKET_ALIGNMENT_16"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "PACKET_ALIGNMENT_32"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ES900XCPBUdpNodeDeviceParameters.Checksum (ESParameterString)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ISR (ESParameterString)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.SeedAndKeyLibrary (ESParameterString)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.TransportLayerName (ESParameterString)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxDTOSTIM (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.StoreDAQSupported (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.DTOCTRFieldSupported (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxDAQTotal (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxODTTotal (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxODTDAQTotal (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxODTSTIMTotal (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxODTEntriesDAQTotal (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxODTEntriesSTIMTotal (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MaxODTEntriesTotal (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.DAQMemoryLimit (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.DAQSize (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ODTSize (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ODTEntrySize (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ODTDAQBufferElementSize (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ODTSTIMBufferElementSize (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ODTDAQBufferElementReserve (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ODTSTIMBufferElementReserve (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.OptimisationTypeODTStrict (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.MinSTSTIM (ESParameterUInt)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.ImportSignalGroupforXCPEventwithoutConsistency (ESParameterBoolean)>
<!ELEMENT ES900XCPBUdpNodeDeviceParameters.RespectDataConsistencyDeclarationfromECUforSignalLists (ESParameterBoolean)>

<!ELEMENT ES900XCPBUdpNodeDeviceSubNodeList (ESXCPBNodeStatus| ESXCPBNodeRasters)*>








