Main_ECU/data.bak4/Data/DTD/ESx86RPETHNodeMain.dtd

<?DTDVersion "4.7.2"?>
<?CompatibleDTDVersion "4.7.0"?>
<?CompatibleDTDVersion "4.6.2"?>
<?CompatibleDTDVersion "4.6.0"?>
<?CompatibleDTDVersion "3.3.0"?>
<?CompatibleDTDVersion "2.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!ENTITY % ESXCPBNodeMain SYSTEM "ESXCPBNodeMain.DTD">
%ESXCPBNodeMain;

<!ENTITY % ESx86RPES4XXNodeDevice SYSTEM "ESx86RPES4XXNodeDevice.dtd">
%ESx86RPES4XXNodeDevice;

<!ENTITY % ES4XXFoundationNodeMainBase SYSTEM "ES4XXFoundationNodeMainBase.dtd">
%ES4XXFoundationNodeMainBase;

<!NOTATION ofTypeESx86RPETHNodeController SYSTEM "ESx86RPETHNodeController">
<!NOTATION ofTypeESx86RPXCPBUdpNodeDevice SYSTEM "ESx86RPXCPBUdpNodeDevice">
<!NOTATION ofTypeESx86RPETHNodeMain SYSTEM "ESx86RPETHNodeMain">

<?SuperClass ESETHBaseNodeMainBase->ESNodeMain?>
<?SuperClass ESx86RPETHNodeMain->ESx86RPComponent ?>
<?SuperClass ESx86RPETHNodeMain->ESETHBaseNodeMainBase ?>

<?SuperClass ESETHBaseNodeControllerBase->ESNodeController ?>
<?SuperClass ESx86RPETHNodeController->ESETHBaseNodeControllerBase ?>

<?SuperClass ESXCPBNodeDevice->ESNodeDevice ?>
<?SuperClass ESXCPBUdpNodeDeviceBase->ESXCPBNodeDevice ?>
<?SuperClass ESx86RPXCPBUdpNodeDevice->ESXCPBUdpNodeDeviceBase ?>

<!-- main node -->

<!ELEMENT ESx86RPETHNodeMain (ESx86RPETHNodeMain.Parameters, ESx86RPETHNodeMain.L1Generation, ESx86RPETHNodeMain.SubNodes, _System)>
<!ATTLIST ESx86RPETHNodeMain
    Name ID #REQUIRED
  
    GlobalObject.ofTypeYBOBoard ENTITY #REQUIRED
    GlobalParent.ofTypeYBOCPUBoard ENTITY #REQUIRED
>
<!ELEMENT ESx86RPETHNodeMain.Parameters (ESx86RPETHNodeMainParameters)>
<!ELEMENT ESx86RPETHNodeMain.L1Generation (ESx86RPETHNodeMainL1GenerationBlock)>
<!ELEMENT ESx86RPETHNodeMain.SubNodes (ESx86RPETHNodeMainSubNodeList)>


<!ELEMENT ESx86RPETHNodeMainL1GenerationBlock (ESx86RPETHNodeMainL1GenerationBlock.NotRunning, ESx86RPETHNodeMainL1GenerationBlock.Reconnect, ESx86RPETHNodeMainL1GenerationBlock.WriteToStream)>
<!ATTLIST ESx86RPETHNodeMainL1GenerationBlock
    L1TreeIndex CDATA "-1"

    ConfigROID CDATA "-1"
>

<!ELEMENT ESx86RPETHNodeMainL1GenerationBlock.NotRunning (ESETHBaseNodeMainL1GenerationNotRunning)>
<!ELEMENT ESx86RPETHNodeMainL1GenerationBlock.Reconnect (ESETHBaseNodeMainL1GenerationReconnect)>
<!ELEMENT ESx86RPETHNodeMainL1GenerationBlock.WriteToStream (ESETHBaseNodeMainL1GenerationWriteToStream)>

<!--MPP dies gehört eignentlich in die ESETHBaseNodeMain.dtd -->
<!ELEMENT ESETHBaseNodeMainL1GenerationNotRunning EMPTY>
<!ELEMENT ESETHBaseNodeMainL1GenerationReconnect EMPTY>
<!ELEMENT ESETHBaseNodeMainL1GenerationWriteToStream EMPTY>

<!ELEMENT ESx86RPETHNodeMainParameters (ESx86RPETHNodeMainParameters.Name, ESx86RPETHNodeMainParameters.Enabled)>
<!ELEMENT ESx86RPETHNodeMainParameters.Name (ESParameterName)>
<!ELEMENT ESx86RPETHNodeMainParameters.Enabled (ESParameterBoolean)>


<!ELEMENT ESx86RPETHNodeMainSubNodeList (ESx86RPETHNodeController)*>



<!-- controller node -->

<!ELEMENT ESx86RPETHNodeController (ESx86RPETHNodeController.Parameters, ESx86RPETHNodeController.L1Generation, ESx86RPETHNodeController.SubNodes)>
<!ATTLIST ESx86RPETHNodeController
    Name ID #REQUIRED
>

<!ELEMENT ESx86RPETHNodeController.Parameters (ESx86RPETHNodeControllerParameters)>
<!ELEMENT ESx86RPETHNodeController.L1Generation (ESETHBaseNodeControllerL1GenerationBlock)>
<!ELEMENT ESx86RPETHNodeController.SubNodes (ESx86RPETHNodeControllerSubNodeList)>

<!--MPP dies gehört eignentlich in die ESETHBaseNodeMain.dtd  -->
<!ELEMENT ESETHBaseNodeControllerL1GenerationBlock (ESETHBaseNodeControllerL1GenerationBlock.UnionCase, ESETHBaseNodeControllerL1GenerationBlock.Reconnect)>
<!ATTLIST ESETHBaseNodeControllerL1GenerationBlock
    L1TreeIndex CDATA "-1"

>

<!ELEMENT ESETHBaseNodeControllerL1GenerationBlock.UnionCase (ESETHBaseNodeControllerL1GenerationUnionCase)>
<!ELEMENT ESETHBaseNodeControllerL1GenerationBlock.Reconnect (ESETHBaseNodeControllerL1GenerationReconnect)>

<!ELEMENT ESETHBaseNodeControllerL1GenerationUnionCase EMPTY>
<!ELEMENT ESETHBaseNodeControllerL1GenerationReconnect EMPTY>


<!ELEMENT ESx86RPETHNodeControllerParameters (ESx86RPETHNodeControllerParameters.Name, 
                                                 ESx86RPETHNodeControllerParameters.Enabled, 
                                                 ESx86RPETHNodeControllerParameters.Port,
                                                 ESx86RPETHNodeControllerParameters.IPAddress,
                                                 ESx86RPETHNodeControllerParameters.SubnetMask)>


<!ELEMENT ESx86RPETHNodeControllerParameters.Name (ESParameterName)>
<!ELEMENT ESx86RPETHNodeControllerParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESx86RPETHNodeControllerParameters.Port (ESParameterEnum)>
<!ATTLIST ESx86RPETHNodeControllerParameters.Port 
    EnumText1      CDATA "Port 1"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Port 2"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "0"
>

<!ELEMENT ESx86RPETHNodeControllerParameters.IPAddress (ESParameterIPAddress)>
<!ELEMENT ESx86RPETHNodeControllerParameters.SubnetMask (ESParameterIPAddress)>

<!ELEMENT ESx86RPETHNodeControllerSubNodeList (ESx86RPXCPBUdpNodeDevice, ESx86RPES4XXNodeDevice)*>

<!-- device node -->

<!ELEMENT ESx86RPXCPBUdpNodeDevice (ESx86RPXCPBUdpNodeDevice.Parameters, ESx86RPXCPBUdpNodeDevice.L1Generation, ESx86RPXCPBUdpNodeDevice.SubNodes)>
<!ATTLIST ESx86RPXCPBUdpNodeDevice
    Name ID #REQUIRED

    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
  
    a2lFile.ofTypeA2LFile ENTITY #REQUIRED
    BypassEnableLabel.ofTypeCharacteristic ENTITY #REQUIRED
>

<!ELEMENT ESx86RPXCPBUdpNodeDevice.Parameters (ESx86RPXCPBUdpNodeDeviceParameters)>
<!ELEMENT ESx86RPXCPBUdpNodeDevice.L1Generation (ESXCPBUdpNodeDeviceL1GenerationBlock)>
<!ELEMENT ESx86RPXCPBUdpNodeDevice.SubNodes (ESx86RPXCPBUdpNodeDeviceSubNodeList)>


<!--MPP dies gehört eignentlich in die ESUDPBaseNodeDevice.dtd  -->
<!ELEMENT ESXCPBUdpNodeDeviceL1GenerationBlock (ESXCPBUdpNodeDeviceL1GenerationBlock.UnionCase, ESXCPBUdpNodeDeviceL1GenerationBlock.Reconnect)>
<!ATTLIST ESXCPBUdpNodeDeviceL1GenerationBlock 
    L1TreeIndex CDATA "-1"

    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
    APIROIDArray5 CDATA "-1"
    APIROIDArray6 CDATA "-1"

    IRQTriggeredSignalGroups CDATA "0"
    RelevantSignalGroups CDATA "0"
>

<!ELEMENT ESXCPBUdpNodeDeviceL1GenerationBlock.UnionCase (ESXCPBUdpNodeDeviceL1GenerationUnionCase)>
<!ELEMENT ESXCPBUdpNodeDeviceL1GenerationBlock.Reconnect (ESXCPBNodeDeviceL1GenerationReconnect)>

<!ELEMENT ESXCPBUdpNodeDeviceL1GenerationUnionCase EMPTY>



<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters (ESx86RPXCPBUdpNodeDeviceParameters.Name, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.Enabled,
                                             ESx86RPXCPBUdpNodeDeviceParameters.ASAMMCD2File, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.ECUByteOrder, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.ECUSWVersion, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.SWConsistencyCheck, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.EPK, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.EPKAddress, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.AutomaticBypassActivation, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.BypassEnableLabel, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.BypassEnableLabelTransferMethod,
                                             ESx86RPXCPBUdpNodeDeviceParameters.BypassEnableDelay, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.SignalSelectionMode, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.TransferMode, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.XCPProtocolLayerVersion, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT1,
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT2,
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT3,
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT4,
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT5,
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT6,
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT7,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxCTO, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxDTO, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.AddressGranularity, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.DAQConfigType, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxDAQ, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.MinDAQ, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxEventChannel, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.OptimisationType, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.AddressExtensionType, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.IdentificationFieldType, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.GranularityODTEntrySizeDAQ, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntrySizeDAQ, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.OverloadIndication, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.PrescalerSupported, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.ResumeSupported, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.ResumeMode, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.GranularityODTEntrySizeSTIM, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntrySizeSTIM, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.BitSTIMSupported, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimestampSupported, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimestampTicks, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimestampUnit, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimestampFixed, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.TimestampSize, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.PIDOffSupported, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.AutomaticBypassDetection, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.BypassReceiveNamePrefix, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.BypassReceiveNameSuffix, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.BypassSendNamePrefix, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.BypassSendNameSuffix, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.LogCTO, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.LogDTO, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.LogCalibration, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.LogWarnings, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.LogInformation, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.BehaviorOnInconsistentA2LandECUConfiguration,
                                             ESx86RPXCPBUdpNodeDeviceParameters.IRQSource,
                                             ESx86RPXCPBUdpNodeDeviceParameters.XCPByteOrder,
                                             ESx86RPXCPBUdpNodeDeviceParameters.XCPInstance,
                                             ESx86RPXCPBUdpNodeDeviceParameters.XCPonUDPIPVersion, 
                                             ESx86RPXCPBUdpNodeDeviceParameters.UDPPortSlave,
                                             ESx86RPXCPBUdpNodeDeviceParameters.PacketAlignment,
                                             ESx86RPXCPBUdpNodeDeviceParameters.IPAddressSlave,
                                             ESx86RPXCPBUdpNodeDeviceParameters.Checksum,
                                             ESx86RPXCPBUdpNodeDeviceParameters.ISR,
                                             ESx86RPXCPBUdpNodeDeviceParameters.SeedAndKeyLibrary,
                                             ESx86RPXCPBUdpNodeDeviceParameters.TransportLayerName,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxDTOSTIM,
                                             ESx86RPXCPBUdpNodeDeviceParameters.StoreDAQSupported,
                                             ESx86RPXCPBUdpNodeDeviceParameters.DTOCTRFieldSupported,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxDAQTotal,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxODTTotal,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxODTDAQTotal,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxODTSTIMTotal,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntriesDAQTotal,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntriesSTIMTotal,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntriesTotal,
                                             ESx86RPXCPBUdpNodeDeviceParameters.DAQMemoryLimit,
                                             ESx86RPXCPBUdpNodeDeviceParameters.DAQSize,
                                             ESx86RPXCPBUdpNodeDeviceParameters.ODTSize,
                                             ESx86RPXCPBUdpNodeDeviceParameters.ODTEntrySize,
                                             ESx86RPXCPBUdpNodeDeviceParameters.ODTDAQBufferElementSize,
                                             ESx86RPXCPBUdpNodeDeviceParameters.ODTSTIMBufferElementSize,
                                             ESx86RPXCPBUdpNodeDeviceParameters.ODTDAQBufferElementReserve,
                                             ESx86RPXCPBUdpNodeDeviceParameters.ODTSTIMBufferElementReserve,
                                             ESx86RPXCPBUdpNodeDeviceParameters.OptimisationTypeODTStrict,
                                             ESx86RPXCPBUdpNodeDeviceParameters.MinSTSTIM,
                                             ESx86RPXCPBUdpNodeDeviceParameters.ImportSignalGroupforXCPEventwithoutConsistency,
                                             ESx86RPXCPBUdpNodeDeviceParameters.RespectDataConsistencyDeclarationfromECUforSignalLists)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.Name (ESParameterName)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ASAMMCD2File (ESParameterString)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ECUByteOrder (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.ECUByteOrder
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ECUSWVersion (ESParameterString)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.SWConsistencyCheck (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.SWConsistencyCheck 
    EnumText1      CDATA "enabled"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "disabled"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.EPK (ESParameterString)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.EPKAddress (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.AutomaticBypassActivation (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.BypassEnableLabel (ESXCPBParameterBypassEnableLabel)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.BypassEnableLabelTransferMethod (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.BypassEnableLabelTransferMethod  
    EnumText1      CDATA "DOWNLOAD"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "DAQ_STIM_LIST"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.BypassEnableDelay (ESParameterUInt)>


<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.SignalSelectionMode (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.SignalSelectionMode 
    EnumText1      CDATA "Declared Fixed or Default for Event"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "Declared Fixed, Default or Available for Event"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "All"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TransferMode (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.TransferMode 
    EnumText1      CDATA "Bypass"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Bypass and Measurement"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Bypass, Measurement and Calibration"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>


<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.XCPProtocolLayerVersion (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.XCPProtocolLayerVersion  
    EnumText1      CDATA "1.0"
    EnumL1Value1     CDATA "256"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "1.1"
    EnumL1Value2     CDATA "257"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "1.2"
    EnumL1Value3     CDATA "258"
    EnumAvailable3 CDATA "1"
    
    EnumText4      CDATA "1.3"
    EnumL1Value4    CDATA "259"
    EnumAvailable4 CDATA "1"
    
    EnumText5      CDATA "1.4"
    EnumL1Value5     CDATA "260"
    EnumAvailable5 CDATA "1"
    
    EnumText6      CDATA "1.5"
    EnumL1Value6     CDATA "261"
    EnumAvailable6 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT1 (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT2 (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT3 (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT4 (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT5 (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT6 (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimeoutT7 (ESParameterUInt)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxCTO (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxDTO (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.AddressGranularity (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.AddressGranularity   
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.DAQConfigType (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.DAQConfigType  
    EnumText1      CDATA "Static"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Dynamic"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxDAQ (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MinDAQ (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxEventChannel (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.OptimisationType (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.OptimisationType   
    EnumText1      CDATA "Default"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ODT_Type_16"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "ODT_Type_32"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "ODT_Type_64"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
  
    EnumText5      CDATA "ODT_Type_Alignment"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
  
    EnumText6      CDATA "Max_Entry_Size"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.AddressExtensionType (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.AddressExtensionType    
    EnumText1      CDATA "Free"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ODT"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "DAQ"
    EnumL1Value3     CDATA "3"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.IdentificationFieldType (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.IdentificationFieldType     
    EnumText1      CDATA "Absolute"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Relative Byte"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Relative Word"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "Relative Word Aligned"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.GranularityODTEntrySizeDAQ (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.GranularityODTEntrySizeDAQ      
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntrySizeDAQ (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.OverloadIndication (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.OverloadIndication       
    EnumText1      CDATA "No"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "PID"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Event"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>


<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.PrescalerSupported (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ResumeSupported (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ResumeMode (ESParameterBoolean)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.GranularityODTEntrySizeSTIM (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.GranularityODTEntrySizeSTIM     
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntrySizeSTIM (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.BitSTIMSupported (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimestampSupported (ESParameterBoolean)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimestampTicks (ESParameterUInt)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimestampUnit (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.TimestampUnit        
    EnumText1      CDATA "1 ns"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "10 ns"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "100 ns"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "1 us"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "10 us"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "100 us"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "1 ms"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "10 ms"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "100 ms"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "1 s"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"
    
    EnumText11      CDATA "1 ps"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"
    
    EnumText12      CDATA "10 ps"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"
    
    EnumText13      CDATA "100 ps"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"
 >


<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimestampFixed (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TimestampSize (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.TimestampSize        
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.PIDOffSupported (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.AutomaticBypassDetection (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.BypassReceiveNamePrefix (ESParameterString)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.BypassReceiveNameSuffix (ESParameterString)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.BypassSendNamePrefix (ESParameterString)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.BypassSendNameSuffix (ESParameterString)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.LogCTO (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.LogDTO (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.LogCalibration (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.LogWarnings (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.LogInformation (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.BehaviorOnInconsistentA2LandECUConfiguration (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.BehaviorOnInconsistentA2LandECUConfiguration          
    EnumText1      CDATA "Use Configuration from ASAM-MCD2 file"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Use Configuration reported from ECU"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Abort start of XCP System"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
 >
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.IRQSource (ESParameterString)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.XCPByteOrder (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.XCPByteOrder         
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.XCPInstance (ESParameterUInt)>


<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.XCPonUDPIPVersion (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.XCPonUDPIPVersion
    EnumText1      CDATA "1.0"
    EnumL1Value1     CDATA "256"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "1.1"
    EnumL1Value2     CDATA "257"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "1.2"
    EnumL1Value3     CDATA "258"
    EnumAvailable3 CDATA "1"
    
    EnumText4      CDATA "1.3"
    EnumL1Value4     CDATA "259"
    EnumAvailable4 CDATA "1"
    
    EnumText5      CDATA "1.4"
    EnumL1Value5     CDATA "260"
    EnumAvailable5 CDATA "1"
    
    EnumText6      CDATA "1.5"
    EnumL1Value6     CDATA "261"
    EnumAvailable6 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.UDPPortSlave (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.IPAddressSlave (ESParameterIPAddress)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.PacketAlignment (ESParameterEnum)>
<!ATTLIST ESx86RPXCPBUdpNodeDeviceParameters.PacketAlignment
    EnumText1      CDATA "PACKET_ALIGNMENT_8"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "PACKET_ALIGNMENT_16"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "PACKET_ALIGNMENT_32"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.Checksum (ESParameterString)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ISR (ESParameterString)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.SeedAndKeyLibrary (ESParameterString)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.TransportLayerName (ESParameterString)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxDTOSTIM (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.StoreDAQSupported (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.DTOCTRFieldSupported (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxDAQTotal (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxODTTotal (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxODTDAQTotal (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxODTSTIMTotal (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntriesDAQTotal (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntriesSTIMTotal (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MaxODTEntriesTotal (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.DAQMemoryLimit (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.DAQSize (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ODTSize (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ODTEntrySize (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ODTDAQBufferElementSize (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ODTSTIMBufferElementSize (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ODTDAQBufferElementReserve (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ODTSTIMBufferElementReserve (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.OptimisationTypeODTStrict (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.MinSTSTIM (ESParameterUInt)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.ImportSignalGroupforXCPEventwithoutConsistency (ESParameterBoolean)>
<!ELEMENT ESx86RPXCPBUdpNodeDeviceParameters.RespectDataConsistencyDeclarationfromECUforSignalLists (ESParameterBoolean)>

<!ELEMENT ESx86RPXCPBUdpNodeDeviceSubNodeList (ESXCPBNodeStatus| ESXCPBNodeRasters)*>








