Main_ECU/data.bak3/Data/DTD/ESNode.dtd

<?DTDVersion "4.7.3"?>
<?CompatibleDTDVersion "4.2.1"?>
<?CompatibleDTDVersion "4.0.0"?>
<?CompatibleDTDVersion "3.0.1"?>
<?CompatibleDTDVersion "2.2.1"?>
<?CompatibleDTDVersion "2.2"?>
<?CompatibleDTDVersion "2.1"?>
<?CompatibleDTDVersion "2.0.1"?>
<?CompatibleDTDVersion "2.0"?>

<!NOTATION ofTypeESNode SYSTEM "ESNode">
<!NOTATION ofTypeESNodeDevice SYSTEM "ESNodeDevice">
<!NOTATION ofTypeESNodeMain SYSTEM "ESNodeMain">
<!NOTATION ofTypeESNodeProcessor SYSTEM "ESNodeProcessor">
<!NOTATION ofTypeESNodeSignal SYSTEM "ESNodeSignal">
<!NOTATION ofTypeESNodeSignalGroup SYSTEM "ESNodeSignalGroup">
<!NOTATION ofTypeESPoolSignal SYSTEM "ESPoolSignal">
<!NOTATION ofTypeESSystem SYSTEM "ESSystem">

<!NOTATION ofTypeYBOHardware              SYSTEM "YBOHardware">
<!NOTATION ofTypeYBOECU                   SYSTEM "YBOECU">
<!NOTATION ofTypeYBOCPUBoard              SYSTEM "YBOCPUBoard">
<!NOTATION ofTypeYBOBoard                 SYSTEM "YBOBoard">
<!NOTATION ofTypeYBODevice                SYSTEM "YBODevice">
<!NOTATION ofTypeYBOSignalGroup           SYSTEM "YBOSignalGroup">
<!NOTATION ofTypeYBOHWPort                SYSTEM "YBOHWPort">

<?SuperClass ESStandardResourcePoolIRQ->ESStandardResourcePool ?>
<?SuperClass ESStandardResourcePoolInstance->ESStandardResourcePool ?>
<?SuperClass ESStandardResourcePoolBoardSpecific->ESStandardResourcePool ?>

<?SuperClass ESNodeSubNode->ESNode ?>
<?SuperClass ESNodeMain->ESNodeSubNode ?>
<?SuperClass ESNodeDevice->ESNodeSubNode ?>
<?SuperClass ESNodeSignal->ESNodeSubNode ?>
<?SuperClass ESNodeSignalGroup->ESNodeSubNode ?>
<?SuperClass ESNodeController->ESNodeSubNode ?>
<?SuperClass ESNodeMultiplexGroup->ESNodeSubNode ?>

<?SuperClass ESNodeProcessor->ESNode ?>

<?SuperClass ESNodeProcessor->TreeViewNode ?>
<?SuperClass ESNodeMain->TreeViewNode ?>
<?SuperClass ESSystem->TreeViewNode ?>

<?SuperClass ESRTABasedSystem->ESSystem ?>

<?SuperClass ESNodeUnsortedMain->ESNodeMain ?>
<?SuperClass ESNodeUnsortedSignalGroup->ESNodeSignalGroup ?>

<!ELEMENT ESNode (ESNode.Parameters, ESNode.L1Generation)>
<!ATTLIST ESNode
    Name ID #REQUIRED
>


<!ELEMENT ESNode.Parameters (ESParameters)>
<!ELEMENT ESNode.L1Generation (ESL1Generation)>

<!ELEMENT ESNodeDevice (ESNodeDevice.Parameters, ESNodeDevice.L1Generation, ESNodeDevice.SubNodes)>
<!ATTLIST ESNodeDevice
    Name ID #REQUIRED
>


<!ELEMENT ESNodeDevice.Parameters (ESParameters)>
<!ELEMENT ESNodeDevice.L1Generation (ESL1Generation)>
<!ELEMENT ESNodeDevice.SubNodes (ESSubNodeList)>

<!ELEMENT ESNodeMain (ESNodeMain.Parameters, ESNodeMain.L1Generation, ESNodeMain.SubNodes)>
<!ATTLIST ESNodeMain
    Name ID #REQUIRED
>


<!ELEMENT ESNodeMain.Parameters (ESParameters)>
<!ELEMENT ESNodeMain.L1Generation (ESL1Generation)>
<!ELEMENT ESNodeMain.SubNodes (ESSubNodeRefList)>

<!ELEMENT ESNodeProcessor (ESNodeProcessor.Parameters, ESNodeProcessor.L1Generation, ESNodeProcessor.SubNodes)>
<!ATTLIST ESNodeProcessor
    Name ID #REQUIRED
>


<!ELEMENT ESNodeProcessor.Parameters (ESParameters)>
<!ELEMENT ESNodeProcessor.L1Generation (ESL1Generation)>
<!ELEMENT ESNodeProcessor.SubNodes (ESSubNodeRefList)>

<!ELEMENT ESNodeSignal (ESNodeSignal.Parameters, ESNodeSignal.L1Generation, ESNodeSignal.SubNodes)>
<!ATTLIST ESNodeSignal
    Name ID #REQUIRED
>


<!ELEMENT ESNodeSignal.Parameters (ESParameters)>
<!ELEMENT ESNodeSignal.L1Generation (ESL1Generation)>
<!ELEMENT ESNodeSignal.SubNodes (ESSubNodeList)>

<!ELEMENT ESNodeSignalGroup (ESNodeSignalGroup.Parameters, ESNodeSignalGroup.L1Generation, ESNodeSignalGroup.SubNodes)>
<!ATTLIST ESNodeSignalGroup
    Name ID #REQUIRED
>


<!ELEMENT ESNodeSignalGroup.Parameters (ESParameters)>
<!ELEMENT ESNodeSignalGroup.L1Generation (ESL1Generation)>
<!ELEMENT ESNodeSignalGroup.SubNodes (ESSubNodeList)>

<!ELEMENT ESL1Generation EMPTY>


<!ELEMENT ESL1GenerationNotRunning EMPTY>


<!ELEMENT ESL1GenerationReconnect EMPTY>


<!ELEMENT ESL1GenerationWriteToStream EMPTY>


<!ELEMENT ESNodeLink EMPTY>
<!ATTLIST ESNodeLink
    NodeLink.ofTypeESNode ENTITY #IMPLIED
>



<!ELEMENT ESParameter EMPTY>
<!ATTLIST ESParameter
    Name CDATA ""
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>



<!ELEMENT ESParameterBoolean EMPTY>
<!ATTLIST ESParameterBoolean
    Value ( False | True ) "False"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>


<!ELEMENT ESParameterBoolean.ValidElements (ESValidElements)>

<!ELEMENT ESParameterEnum (ESParameterEnum.ValidElements)>
<!ATTLIST ESParameterEnum
    IndexValue CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>
<!ELEMENT ESParameterEnum.ValidElements (ESValidElements)>

<!ELEMENT ESParameterDynamicEnum EMPTY>
<!ATTLIST ESParameterDynamicEnum
    IndexValue CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>

<!ELEMENT ESParameterFloat EMPTY>
<!ATTLIST ESParameterFloat
    Value CDATA "0.0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
    Min CDATA "-1.7976931348623158e+308"
    Max CDATA "1.7976931348623158e+308"
>



<!ELEMENT ESParameterFormula EMPTY>
<!ATTLIST ESParameterFormula
    Value CDATA "0"
    IndexValue CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>

<!ELEMENT ESParameterIdentityFormula EMPTY>
<!ATTLIST ESParameterIdentityFormula
    Value CDATA "0"
    IndexValue CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>

<!ELEMENT ESParameterInt EMPTY>
<!ATTLIST ESParameterInt
    Value CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
    Min CDATA "0"
    Max CDATA "0"
>

<!ELEMENT ESParameterUInt EMPTY>
<!ATTLIST ESParameterUInt
    Value CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
    Min CDATA "0"
    Max CDATA "4294967295"
>

<!ELEMENT ESParameterUIntWithPrevious EMPTY>
<!ATTLIST ESParameterUIntWithPrevious
    Value CDATA "0"
    PreviousValue CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
    Min CDATA "0"
    Max CDATA "4294967295"
>



<!ELEMENT ESParameterSInt EMPTY>
<!ATTLIST ESParameterSInt
    Value CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
    Min CDATA "-2147483648"
    Max CDATA "2147483647"

>



<!ELEMENT ESParameterLinearFormula EMPTY>
<!ATTLIST ESParameterLinearFormula
    NumeratorGradient  CDATA "1.0"
    DenominatorGradient CDATA "1.0"
    NumeratorOffset CDATA "0.0"
    DenominatorOffset CDATA "1.0"
    Value CDATA "0"
    IndexValue CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>

<!ELEMENT ESParameterName EMPTY>
<!ATTLIST ESParameterName
    Value CDATA ""
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>



<!ELEMENT ESParameterSelection (ESParameterSelection.ValidElements)>
<!ATTLIST ESParameterSelection
    IndexValue CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>


<!ELEMENT ESParameterSelection.ValidElements (ESValidElements)>

<!ELEMENT ESParameterString EMPTY>
<!ATTLIST ESParameterString
    Value CDATA ""
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>

<!ELEMENT ESParameterIPAddress EMPTY>
<!ATTLIST ESParameterIPAddress
    Value CDATA "0.0.0.0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>


<!ELEMENT ESParameterUnion (ESParameterUnion.ParameterList, ESParameterUnion.ValidElements)>
<!ATTLIST ESParameterUnion
    IndexValue CDATA "0"
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>

<!ELEMENT ESParameterStringList (ESParameterStringListItems)>
<!ATTLIST ESParameterStringList
    Value CDATA ""
    Comment CDATA ""
    ReadOnly ( False | True ) "False"
    Consistent ( False | True ) "True"
    Calibratable  ( False | True ) "False"
    Active ( False | True ) "True"
>

<!ELEMENT ESParameterStringListItems (ESParameterStringListItem)*>
<!ELEMENT ESParameterStringListItem EMPTY>
<!ATTLIST ESParameterStringListItem
    Value CDATA ""
>

<!ELEMENT ESParameterUnion.ParameterList (ESParameterList)>
<!ELEMENT ESParameterUnion.ValidElements (ESValidElements)>

<!ELEMENT ESParameters EMPTY>


<!ELEMENT ESValidElement EMPTY>
<!ATTLIST ESValidElement
    ValidElement CDATA "0"
>



<!ELEMENT ESSubNodeList (ESNode)*>

<!ELEMENT ESNodeRef EMPTY>
<!ATTLIST ESNodeRef 
    ref.ofTypeESNode ENTITY #IMPLIED
>

<!ELEMENT ESSubNodeRefList (ESNodeRef)*>

<!ELEMENT ESPoolSignalList (ESNode)*>

<!ELEMENT ESParameterList (ESParameterLinearFormula | ESParameterIdentityFormula )*>


<!ELEMENT ESValidElements (ESValidElement)*>


<!ELEMENT ESParameterListOfUnion (ESParameter)*>

<!ELEMENT ESL1GenerationCaseSignalGroupReconnect EMPTY>

<!ELEMENT ESL1GenerationCaseSignalReconnect EMPTY>

<!ELEMENT ESL1GenerationBlockEmptySubNode (ESL1GenerationBlockEmptySubNode.EmptyCase, ESL1GenerationBlockEmptySubNode.EmptyCaseReconnect)>
<!ATTLIST ESL1GenerationBlockEmptySubNode
    L1TreeIndex CDATA "-1"
>

<!ELEMENT ESL1GenerationBlockEmptySubNode.EmptyCase (ESL1GenerationCaseEmptySubNode)>
<!ELEMENT ESL1GenerationBlockEmptySubNode.EmptyCaseReconnect (ESL1GenerationCaseEmptySubNodeReconnect)>


<!ELEMENT ESL1GenerationCaseEmptySubNode EMPTY>

<!ELEMENT ESL1GenerationCaseEmptySubNodeReconnect EMPTY>
