Main_ECU/data.bak18/Data/DTD/ES1325NodeMain.dtd

<?DTDVersion "3.2.0"?>
<?CompatibleDTDVersion "2.0.2"?>
<?CompatibleDTDVersion "2.0.1"?>
<?CompatibleDTDVersion "2.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!NOTATION ofTypeES1325NodeDevice SYSTEM "ES1325NodeDevice">
<!NOTATION ofTypeES1325NodeDeviceInput SYSTEM "ES1325NodeDeviceInput">
<!NOTATION ofTypeES1325NodeDeviceLED SYSTEM "ES1325NodeDeviceLED">
<!NOTATION ofTypeES1325NodeDeviceOutput SYSTEM "ES1325NodeDeviceOutput">

<!NOTATION ofTypeES1325NodeMain SYSTEM "ES1325NodeMain">

<!NOTATION ofTypeES1325NodeSignal SYSTEM "ES1325NodeSignal">
<!NOTATION ofTypeES1325NodeSignalAdjustment SYSTEM "ES1325NodeSignalAdjustment">
<!NOTATION ofTypeES1325NodeSignalAdjustmentAngleDelay SYSTEM "ES1325NodeSignalAdjustmentAngleDelay">
<!NOTATION ofTypeES1325NodeSignalAdjustmentAngleInterval SYSTEM "ES1325NodeSignalAdjustmentAngleInterval">
<!NOTATION ofTypeES1325NodeSignalAdjustmentTimeDelay SYSTEM "ES1325NodeSignalAdjustmentTimeDelay">

<!NOTATION ofTypeES1325NodeSignalGroup SYSTEM "ES1325NodeSignalGroup">
<!NOTATION ofTypeES1325NodeSignalGroupAdjustment SYSTEM "ES1325NodeSignalGroupAdjustment">
<!NOTATION ofTypeES1325NodeSignalGroupInput SYSTEM "ES1325NodeSignalGroupInput">
<!NOTATION ofTypeES1325NodeSignalGroupLED SYSTEM "ES1325NodeSignalGroupLED">
<!NOTATION ofTypeES1325NodeSignalGroupOutput SYSTEM "ES1325NodeSignalGroupOutput">

<!NOTATION ofTypeES1325NodeSignalIn SYSTEM "ES1325NodeSignalIn">
<!NOTATION ofTypeES1325NodeSignalInOut SYSTEM "ES1325NodeSignalInOut">
<!NOTATION ofTypeES1325NodeSignalInput SYSTEM "ES1325NodeSignalInput">
<!NOTATION ofTypeES1325NodeSignalInputActiveTime SYSTEM "ES1325NodeSignalInputActiveTime">
<!NOTATION ofTypeES1325NodeSignalInputAdditiveActiveTime SYSTEM "ES1325NodeSignalInputAdditiveActiveTime">
<!NOTATION ofTypeES1325NodeSignalInputErrorState SYSTEM "ES1325NodeSignalInputErrorState">
<!NOTATION ofTypeES1325NodeSignalInputEventCounter SYSTEM "ES1325NodeSignalInputEventCounter">
<!NOTATION ofTypeES1325NodeSignalInputInactiveTime SYSTEM "ES1325NodeSignalInputInactiveTime">
<!NOTATION ofTypeES1325NodeSignalInputState SYSTEM "ES1325NodeSignalInputState">
<!NOTATION ofTypeES1325NodeSignalLED SYSTEM "ES1325NodeSignalLED">
<!NOTATION ofTypeES1325NodeSignalOutputActiveTime SYSTEM "ES1325NodeSignalOutputActiveTime">
<!NOTATION ofTypeES1325NodeSignalOutputAngleDelay SYSTEM "ES1325NodeSignalOutputAngleDelay">
<!NOTATION ofTypeES1325NodeSignalOutputInactiveTime SYSTEM "ES1325NodeSignalOutputInactiveTime">
<!NOTATION ofTypeES1325NodeSignalOutputNoOfPeriods SYSTEM "ES1325NodeSignalOutputNoOfPeriods">
<!NOTATION ofTypeES1325NodeSignalOutputState SYSTEM "ES1325NodeSignalOutputState">
<!NOTATION ofTypeES1325NodeSignalOutputTimeDelay SYSTEM "ES1325NodeSignalOutputTimeDelay">

<?SuperClass ES1325NodeMain->ESNodeMain ?>

<?SuperClass ES1325NodeDevice->ESNodeDevice ?>
<?SuperClass ES1325NodeDeviceInput->ES1325NodeDevice ?>
<?SuperClass ES1325NodeDeviceLED->ES1325NodeDevice ?>
<?SuperClass ES1325NodeDeviceOutput->ES1325NodeDevice ?>

<?SuperClass ES1325NodeSignalGroup->ESNodeSignalGroup ?>
<?SuperClass ES1325NodeSignalGroupAdjustment->ES1325NodeSignalGroup ?>
<?SuperClass ES1325NodeSignalGroupInput->ES1325NodeSignalGroup ?>
<?SuperClass ES1325NodeSignalGroupLED->ES1325NodeSignalGroup ?>
<?SuperClass ES1325NodeSignalGroupOutput->ES1325NodeSignalGroup ?>

<?SuperClass ES1325NodeSignal->ESNodeSignal ?>

<?SuperClass ES1325NodeSignalLED->ES1325NodeSignal ?>

<?SuperClass ES1325NodeSignalInOut->ES1325NodeSignal?>

<?SuperClass ES1325NodeSignalIn->ES1325NodeSignalInOut?>

<?SuperClass ES1325NodeSignalOutput->ES1325NodeSignalInOut?>

<?SuperClass ES1325NodeSignalInput->ES1325NodeSignalIn?>

<?SuperClass ES1325NodeSignalAdjustment->ES1325NodeSignalIn?>

<?SuperClass ES1325NodeSignalInputActiveTime->ES1325NodeSignalInput ?>
<?SuperClass ES1325NodeSignalInputInactiveTime->ES1325NodeSignalInput ?>
<?SuperClass ES1325NodeSignalInputState->ES1325NodeSignalInput ?>
<?SuperClass ES1325NodeSignalInputErrorState->ES1325NodeSignalInput ?>
<?SuperClass ES1325NodeSignalInputEventCounter->ES1325NodeSignalInput ?>
<?SuperClass ES1325NodeSignalInputAdditiveActiveTime->ES1325NodeSignalInput ?>

<?SuperClass ES1325NodeSignalAdjustmentAngleDelay->ES1325NodeSignalAdjustment ?>
<?SuperClass ES1325NodeSignalAdjustmentAngleInterval->ES1325NodeSignalAdjustment ?>
<?SuperClass ES1325NodeSignalAdjustmentTimeDelay->ES1325NodeSignalAdjustment ?>

<?SuperClass ES1325NodeSignalOutputActiveTime->ES1325NodeSignalOutput ?>
<?SuperClass ES1325NodeSignalOutputInactiveTime->ES1325NodeSignalOutput ?>
<?SuperClass ES1325NodeSignalOutputState->ES1325NodeSignalOutput ?>
<?SuperClass ES1325NodeSignalOutputAngleDelay->ES1325NodeSignalOutput ?>
<?SuperClass ES1325NodeSignalOutputTimeDelay->ES1325NodeSignalOutput ?>
<?SuperClass ES1325NodeSignalOutputNoOfPeriods->ES1325NodeSignalOutput ?>

<!-- node main -->

<!ELEMENT ES1325NodeMain (ES1325NodeMain.Parameters, ES1325NodeMain.L1Generation, ES1325NodeMain.SubNodes, _System)>
<!ATTLIST ES1325NodeMain
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOBoard ENTITY #REQUIRED
    GlobalParent.ofTypeYBOCPUBoard ENTITY #REQUIRED
>


<!ELEMENT ES1325NodeMain.Parameters (ES1325NodeMainParameters)>
<!ELEMENT ES1325NodeMain.L1Generation (ES1325NodeMainL1Generation)>
<!ELEMENT ES1325NodeMain.SubNodes (ES1325NodeMainSubNodeList)>

<!ELEMENT ES1325NodeMainL1Generation (ES1325NodeMainL1Generation.NotRunning, ES1325NodeMainL1Generation.Reconnect, ES1325NodeMainL1Generation.WriteToStream)>
<!ATTLIST ES1325NodeMainL1Generation
    L1TreeIndex CDATA "-1"

    ConfigROID CDATA "-1"
    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
>

<!ELEMENT ES1325NodeMainL1Generation.NotRunning (ES1325NodeMainL1GenerationNotRunning)>
<!ELEMENT ES1325NodeMainL1Generation.Reconnect (ES1325NodeMainL1GenerationReconnect)>
<!ELEMENT ES1325NodeMainL1Generation.WriteToStream (ES1325NodeMainL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeMainL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeMainL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeMainL1GenerationWriteToStream EMPTY>


<!ELEMENT ES1325NodeMainParameters (ES1325NodeMainParameters.Name, ES1325NodeMainParameters.Enabled, ES1325NodeMainParameters.BoardInstance, ES1325NodeMainParameters.HWTriggerMode, ES1325NodeMainParameters.HWTriggerGate, ES1325NodeMainParameters.ZeroTransition, ES1325NodeMainParameters.ToothWidth, ES1325NodeMainParameters.AnalyzeTask)>

<!ELEMENT ES1325NodeMainParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeMainParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1325NodeMainParameters.BoardInstance (ESParameterEnum)>
<!ATTLIST ES1325NodeMainParameters.BoardInstance
    EnumText1      CDATA "ID1"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ID2"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "ID3"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "ID4"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
>

<!ELEMENT ES1325NodeMainParameters.HWTriggerMode (ESParameterEnum)>
<!ATTLIST ES1325NodeMainParameters.HWTriggerMode 
    EnumText1      CDATA "Off"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Rising edge"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Signal state"
    EnumL1Value3     CDATA "3"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "Angle based"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"
>

<!ELEMENT ES1325NodeMainParameters.HWTriggerGate (ESParameterEnum)>
<!ATTLIST ES1325NodeMainParameters.HWTriggerGate
    EnumText1      CDATA "Off"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "On"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

>

<!ELEMENT ES1325NodeMainParameters.ZeroTransition (ESParameterFloat)>
<!ELEMENT ES1325NodeMainParameters.ToothWidth (ESParameterFloat)>
<!ELEMENT ES1325NodeMainParameters.AnalyzeTask (ESParameterString)>

<!ELEMENT ES1325NodeMainSubNodeList (ES1325NodeDeviceInput | ES1325NodeDeviceOutput | ES1325NodeDeviceLED)*>

<!-- node device (base) -->


<!ELEMENT ES1325NodeDevice (ES1325NodeDevice.Parameters>
<!ATTLIST ES1325NodeDevice
    Name ID #REQUIRED
>


<!ELEMENT ES1325NodeDevice.Parameters (ESParameters)>


<!ELEMENT ES1325NodeDeviceParameters (ES1325NodeDeviceParameters.Name,ES1325NodeDeviceParameters.Enabled)>
<!ELEMENT ES1325NodeDeviceParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeDeviceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1325NodeDeviceSubNodeList EMPTY>


<!ELEMENT ES1325NodeDeviceSendL1GenerationReconnect EMPTY>

<!-- node device input -->

<!ELEMENT ES1325NodeDeviceInput (ES1325NodeDeviceInput.Parameters, ES1325NodeDeviceInput.L1Generation, ES1325NodeDeviceInput.SubNodes)>
<!ATTLIST ES1325NodeDeviceInput
    Name ID #REQUIRED

    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeDeviceInput.Parameters (ES1325NodeDeviceInputParameters)>
<!ELEMENT ES1325NodeDeviceInput.L1Generation (ES1325NodeDeviceInputL1Generation)>
<!ELEMENT ES1325NodeDeviceInput.SubNodes (ES1325NodeDeviceInputSubNodeList)>

<!ELEMENT ES1325NodeDeviceInputL1Generation (ES1325NodeDeviceInputL1Generation.UnionCase, ES1325NodeDeviceInputL1Generation.Reconnect)>
<!ATTLIST ES1325NodeDeviceInputL1Generation
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
    
    SyncAPICount CDATA "-1"
>

<!ELEMENT ES1325NodeDeviceInputL1Generation.UnionCase (ES1325NodeDeviceInputL1GenerationUnionCase)>
<!ELEMENT ES1325NodeDeviceInputL1Generation.Reconnect (ES1325NodeDeviceInputL1GenerationReconnect)>

<!ELEMENT ES1325NodeDeviceInputL1GenerationUnionCase EMPTY>
<!ELEMENT ES1325NodeDeviceInputL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeDeviceInputParameters (ES1325NodeDeviceInputParameters.IRQSpacing, ES1325NodeDeviceInputParameters.Name, , ES1325NodeDeviceInputParameters.Enabled)>

<!ELEMENT ES1325NodeDeviceInputParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeDeviceInputParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1325NodeDeviceInputParameters.IRQSpacing (ESParameterFloat)>

<!ELEMENT ES1325NodeDeviceInputSubNodeList (ES1325NodeSignalGroupInput | ES1325NodeSignalGroupAdjustment)*>

<!-- node device LED -->

<!ELEMENT ES1325NodeDeviceLED (ES1325NodeDeviceLED.Parameters, ES1325NodeDeviceLED.L1Generation, ES1325NodeDeviceLED.SubNodes)>
<!ATTLIST ES1325NodeDeviceLED
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
>


<!ELEMENT ES1325NodeDeviceLED.Parameters (ES1325NodeDeviceLEDParameters)>
<!ELEMENT ES1325NodeDeviceLED.L1Generation (ES1325NodeDeviceLEDL1Generation)>
<!ELEMENT ES1325NodeDeviceLED.SubNodes (ES1325NodeDeviceLEDSubNodeList)>

<!ELEMENT ES1325NodeDeviceLEDL1Generation (ES1325NodeDeviceLEDL1Generation.UnionCase, ES1325NodeDeviceLEDL1Generation.Reconnect)>
<!ATTLIST ES1325NodeDeviceLEDL1Generation
    L1TreeIndex CDATA "-1"
    
    SyncAPICount CDATA "-1"
>

<!ELEMENT ES1325NodeDeviceLEDL1Generation.UnionCase (ES1325NodeDeviceLEDL1GenerationUnionCase)>
<!ELEMENT ES1325NodeDeviceLEDL1Generation.Reconnect (ES1325NodeDeviceSendL1GenerationReconnect)>

<!ELEMENT ES1325NodeDeviceLEDL1GenerationUnionCase EMPTY>
<!ELEMENT ES1325NodeDeviceLEDL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeDeviceLEDParameters (ES1325NodeDeviceLEDParameters.Name, ES1325NodeDeviceLEDParameters.Enabled)>

<!ELEMENT ES1325NodeDeviceLEDParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeDeviceLEDParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES1325NodeDeviceLEDSubNodeList (ES1325NodeSignalGroupLED)*>


<!-- node device Output -->

<!ELEMENT ES1325NodeDeviceOutput (ES1325NodeDeviceOutput.Parameters, ES1325NodeDeviceOutput.L1Generation, ES1325NodeDeviceOutput.SubNodes)>
<!ATTLIST ES1325NodeDeviceOutput
    Name ID #REQUIRED

    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
>


<!ELEMENT ES1325NodeDeviceOutput.Parameters (ES1325NodeDeviceOutputParameters)>
<!ELEMENT ES1325NodeDeviceOutput.L1Generation (ES1325NodeDeviceOutputL1Generation)>
<!ELEMENT ES1325NodeDeviceOutput.SubNodes (ES1325NodeDeviceOutputSubNodeList)>

<!ELEMENT ES1325NodeDeviceOutputL1Generation (ES1325NodeDeviceOutputL1Generation.UnionCase, ES1325NodeDeviceOutputL1Generation.Reconnect)>
<!ATTLIST ES1325NodeDeviceOutputL1Generation
    L1TreeIndex CDATA "-1"
    
    SyncAPICount CDATA "-1"
    
>

<!ELEMENT ES1325NodeDeviceOutputL1Generation.UnionCase (ES1325NodeDeviceOutputL1GenerationUnionCase)>
<!ELEMENT ES1325NodeDeviceOutputL1Generation.Reconnect (ES1325NodeDeviceSendL1GenerationReconnect)>

<!ELEMENT ES1325NodeDeviceOutputL1GenerationUnionCase EMPTY>
<!ELEMENT ES1325NodeDeviceOutputL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeDeviceOutputParameters (ES1325NodeDeviceOutputParameters.Name, ES1325NodeDeviceOutputParameters.Enabled)>

<!ELEMENT ES1325NodeDeviceOutputParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeDeviceOutputParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ES1325NodeDeviceOutputSubNodeList (ES1325NodeSignalGroupOutput)*>


<!-- node signal group (base) -->

<!ELEMENT ES1325NodeSignalGroup (ES1325NodeSignalGroup.Parameters)>
<!ATTLIST ES1325NodeSignalGroup
    Name ID #REQUIRED
>

<!ELEMENT ES1325NodeSignalGroup.Parameters (ESParameters)>


<!ELEMENT ES1325NodeSignalGroupParameters (ES1325NodeSignalGroupParameters.Name, ES1325NodeSignalGroupParameters.Enabled,ES1325NodeSignalGroupParameters.Direction, ES1325NodeSignalGroupParameters.Task)>

<!ELEMENT ES1325NodeSignalGroupParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeSignalGroupParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupParameters.Direction (ESParameterEnum)>
<!ELEMENT ES1325NodeSignalGroupParameters.Task (ESParameterString)>

<!ELEMENT ES1325NodeSignalGroupSubNodeList EMPTY>

<!ELEMENT ES1325NodeSignalGroupSendL1GenerationReconnect EMPTY>

<!-- node signal group input -->

<!ELEMENT ES1325NodeSignalGroupInput (ES1325NodeSignalGroupInput.Parameters, ES1325NodeSignalGroupInput.L1Generation, ES1325NodeSignalGroupInput.SubNodes, ES1325NodeSignalGroupInput.Parameters, ES1325NodeSignalGroupInput.L1Generation)>
<!ATTLIST ES1325NodeSignalGroupInput
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED  
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED

  Number CDATA "-1"

>


<!ELEMENT ES1325NodeSignalGroupInput.Parameters (ES1325NodeSignalGroupInputParameters)>
<!ELEMENT ES1325NodeSignalGroupInput.L1Generation (ES1325NodeSignalGroupInputL1Generation)>
<!ELEMENT ES1325NodeSignalGroupInput.SubNodes (ES1325NodeSignalGroupInputSubNodeList)>

<!ELEMENT ES1325NodeSignalGroupInputL1Generation (ES1325NodeSignalGroupInputL1Generation.UnionCase, ES1325NodeSignalGroupInputL1Generation.Reconnect, APIROIDList, SignalGroupIndexList)>
<!ATTLIST ES1325NodeSignalGroupInputL1Generation
    L1TreeIndex CDATA "-1"
    
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "-1"
    IRQTriggered ( False | True ) "False"
>

<!ELEMENT APIROIDList (IntAttributeValue*)>
<!ELEMENT SignalGroupIndexList (IntAttributeValue*)>

<!ELEMENT IntAttributeValue EMPTY>
<!ATTLIST IntAttributeValue
    Value CDATA "-1"
>

<!ELEMENT ES1325NodeSignalGroupInputL1Generation.UnionCase (ES1325NodeSignalGroupInputL1GenerationUnionCase)>
<!ELEMENT ES1325NodeSignalGroupInputL1Generation.Reconnect (ES1325NodeSignalGroupInputL1GenerationReconnect)>

<!ELEMENT ES1325NodeSignalGroupInputL1GenerationUnionCase EMPTY>
<!ELEMENT ES1325NodeSignalGroupInputL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalGroupInputParameters (ES1325NodeSignalGroupInputParameters.Enabled, ES1325NodeSignalGroupInputParameters.HWChannel, ES1325NodeSignalGroupInputParameters.ChannelModeInput, ES1325NodeSignalGroupInputParameters.UseHWTrigger, ES1325NodeSignalGroupInputParameters.ActiveState, ES1325NodeSignalGroupInputParameters.SignificantEdge, ES1325NodeSignalGroupInputParameters.Hysteresis, ES1325NodeSignalGroupInputParameters.LowThreshold, ES1325NodeSignalGroupInputParameters.HighThreshold, ES1325NodeSignalGroupInputParameters.Timeout, ES1325NodeSignalGroupInputParameters.AdjustmentMode, ES1325NodeSignalGroupInputParameters.PermitErrorState, ES1325NodeSignalGroupInputParameters.Polling, ES1325NodeSignalGroupInputParameters.dTMonitoring, ES1325NodeSignalGroupInputParameters.Name, ES1325NodeSignalGroupInputParameters.Direction, ES1325NodeSignalGroupInputParameters.Task)>

<!ELEMENT ES1325NodeSignalGroupInputParameters.HWChannel (ESParameterString)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.ChannelModeInput (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupInputParameters.ChannelModeInput 
    EnumText1      CDATA "Off"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Digital Input"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "PWM Input"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "Additive Time"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "Event Counter"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
>


<!ELEMENT ES1325NodeSignalGroupInputParameters.UseHWTrigger (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.ActiveState (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupInputParameters.ActiveState  
    EnumText1      CDATA "High"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Low"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>


<!ELEMENT ES1325NodeSignalGroupInputParameters.SignificantEdge (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupInputParameters.SignificantEdge
    EnumText1      CDATA "Inactive-Active"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Active-Inactive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "Both"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ES1325NodeSignalGroupInputParameters.Hysteresis (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupInputParameters.Hysteresis 
    EnumText1      CDATA "TTL"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "User defined"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>


<!ELEMENT ES1325NodeSignalGroupInputParameters.LowThreshold (ESParameterFloat)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.HighThreshold (ESParameterFloat)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.Timeout (ESParameterFloat)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.AdjustmentMode (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.PermitErrorState (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.Polling (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.dTMonitoring (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.Task (ESParameterString)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupInputParameters.Direction (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupInputParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES1325NodeSignalGroupInputSubNodeList (ES1325NodeSignalInputActiveTime | ES1325NodeSignalInputInactiveTime | ES1325NodeSignalInputState | ES1325NodeSignalInputErrorState | ES1325NodeSignalInputEventCounter | ES1325NodeSignalInputAdditiveActiveTime)*>

<!-- node signal group adjustment -->

<!ELEMENT ES1325NodeSignalGroupAdjustment (ES1325NodeSignalGroupAdjustment.Parameters, ES1325NodeSignalGroupAdjustment.L1Generation, ES1325NodeSignalGroupAdjustment.SubNodes)>
<!ATTLIST ES1325NodeSignalGroupAdjustment
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED

    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
    
    Number CDATA "-1"
>

<!ELEMENT ES1325NodeSignalGroupAdjustment.Parameters (ES1325NodeSignalGroupAdjustmentParameters)>
<!ELEMENT ES1325NodeSignalGroupAdjustment.L1Generation (ES1325NodeSignalGroupAdjustmentL1Generation)>
<!ELEMENT ES1325NodeSignalGroupAdjustment.SubNodes (ES1325NodeSignalGroupAdjustmentSubNodeList)>

<!ELEMENT ES1325NodeSignalGroupAdjustmentL1Generation (ES1325NodeSignalGroupAdjustmentL1Generation.UnionCase, ES1325NodeSignalGroupAdjustmentL1Generation.Reconnect, APIROIDList, SignalGroupIndexList)>
<!ATTLIST ES1325NodeSignalGroupAdjustmentL1Generation
    L1TreeIndex CDATA "-1"
>

<!ELEMENT ES1325NodeSignalGroupAdjustmentL1Generation.UnionCase (ES1325NodeSignalGroupAdjustmentL1GenerationUnionCase)>
<!ELEMENT ES1325NodeSignalGroupAdjustmentL1Generation.Reconnect (ES1325NodeSignalGroupSendL1GenerationReconnect)>

<!ELEMENT ES1325NodeSignalGroupAdjustmentL1GenerationUnionCase EMPTY>
<!ELEMENT ES1325NodeSignalGroupAdjustmentL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalGroupAdjustmentParameters (ES1325NodeSignalGroupAdjustmentParameters.Enabled, ES1325NodeSignalGroupAdjustmentParameters.HWChannel, ES1325NodeSignalGroupAdjustmentParameters.Name,ES1325NodeSignalGroupAdjustmentParameters.Direction, ES1325NodeSignalGroupAdjustmentParameters.Task)>

<!ELEMENT ES1325NodeSignalGroupAdjustmentParameters.HWChannel (ESParameterString)>
<!ELEMENT ES1325NodeSignalGroupAdjustmentParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeSignalGroupAdjustmentParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupAdjustmentParameters.Task (ESParameterString)>
<!ELEMENT ES1325NodeSignalGroupAdjustmentParameters.Direction (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupAdjustmentParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>


<!ELEMENT ES1325NodeSignalGroupAdjustmentSubNodeList (ES1325NodeSignalAdjustmentAngleDelay | ES1325NodeSignalAdjustmentAngleInterval | ES1325NodeSignalAdjustmentTimeDelay)*>

<!-- node signal group output -->

<!ELEMENT ES1325NodeSignalGroupOutput (ES1325NodeSignalGroupOutput.Parameters, ES1325NodeSignalGroupOutput.L1Generation, ES1325NodeSignalGroupOutput.SubNodes)>
<!ATTLIST ES1325NodeSignalGroupOutput
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED

    Number CDATA "-1"
>


<!ELEMENT ES1325NodeSignalGroupOutput.Parameters (ES1325NodeSignalGroupOutputParameters)>
<!ELEMENT ES1325NodeSignalGroupOutput.L1Generation (ES1325NodeSignalGroupOutputL1Generation)>
<!ELEMENT ES1325NodeSignalGroupOutput.SubNodes (ES1325NodeSignalGroupOutputSubNodeList)>

<!ELEMENT ES1325NodeSignalGroupOutputL1Generation (ES1325NodeSignalGroupOutputL1Generation.UnionCase, ES1325NodeSignalGroupOutputL1Generation.Reconnect, APIROIDList, SignalGroupIndexList)>
<!ATTLIST ES1325NodeSignalGroupOutputL1Generation
    L1TreeIndex CDATA "-1"
>

<!ELEMENT ES1325NodeSignalGroupOutputL1Generation.UnionCase (ES1325NodeSignalGroupOutputL1GenerationUnionCase)>
<!ELEMENT ES1325NodeSignalGroupOutputL1Generation.Reconnect (ES1325NodeSignalGroupSendL1GenerationReconnect)>

<!ELEMENT ES1325NodeSignalGroupOutputL1GenerationUnionCase EMPTY>
<!ELEMENT ES1325NodeSignalGroupOutputL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalGroupOutputParameters (ES1325NodeSignalGroupOutputParameters.Enabled, ES1325NodeSignalGroupOutputParameters.HWChannel, ES1325NodeSignalGroupOutputParameters.ChannelModeOutput, ES1325NodeSignalGroupOutputParameters.UseHWTrigger, ES1325NodeSignalGroupOutputParameters.ActiveState, ES1325NodeSignalGroupOutputParameters.AdjustmentMode, ES1325NodeSignalGroupOutputParameters.Name,ES1325NodeSignalGroupOutputParameters.Direction, ES1325NodeSignalGroupOutputParameters.Task)>

<!ELEMENT ES1325NodeSignalGroupOutputParameters.HWChannel (ESParameterString)>
<!ELEMENT ES1325NodeSignalGroupOutputParameters.ChannelModeOutput (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupOutputParameters.ChannelModeOutput
    EnumText1      CDATA "Off"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Digital Output"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "PWM Periodic Output"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "PWM Interval Output"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "Event Counter"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
>

<!ELEMENT ES1325NodeSignalGroupOutputParameters.UseHWTrigger (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupOutputParameters.ActiveState (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupOutputParameters.ActiveState 
    EnumText1      CDATA "High"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Low"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES1325NodeSignalGroupOutputParameters.AdjustmentMode (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupOutputParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeSignalGroupOutputParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupOutputParameters.Task (ESParameterString)>
<!ELEMENT ES1325NodeSignalGroupOutputParameters.Direction (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupOutputParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES1325NodeSignalGroupOutputSubNodeList (ES1325NodeSignalOutputActiveTime | ES1325NodeSignalOutputInactiveTime | ES1325NodeSignalOutputAngleDelay | ES1325NodeSignalOutputState | ES1325NodeSignalOutputTimeDelay | ES1325NodeSignalOutputNoOfPeriods)*>

<!-- node signal group LED -->

<!ELEMENT ES1325NodeSignalGroupLED (ES1325NodeSignalGroupLED.Parameters, ES1325NodeSignalGroupLED.L1Generation, ES1325NodeSignalGroupLED.SubNodes)>
<!ATTLIST ES1325NodeSignalGroupLED
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
  MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED

    Number CDATA "-1"
>


<!ELEMENT ES1325NodeSignalGroupLED.Parameters (ES1325NodeSignalGroupLEDParameters)>
<!ELEMENT ES1325NodeSignalGroupLED.L1Generation (ES1325NodeSignalGroupLEDL1Generation)>
<!ELEMENT ES1325NodeSignalGroupLED.SubNodes (ES1325NodeSignalGroupLEDSubNodeList)>

<!ELEMENT ES1325NodeSignalGroupLEDL1Generation (ES1325NodeSignalGroupLEDL1Generation.UnionCase, ES1325NodeSignalGroupLEDL1Generation.Reconnect, APIROIDList, SignalGroupIndexList)>
<!ATTLIST ES1325NodeSignalGroupLEDL1Generation
    L1TreeIndex CDATA "-1"
>

<!ELEMENT ES1325NodeSignalGroupLEDL1Generation.UnionCase (ES1325NodeSignalGroupLEDL1GenerationUnionCase)>
<!ELEMENT ES1325NodeSignalGroupLEDL1Generation.Reconnect (ES1325NodeSignalGroupSendL1GenerationReconnect)>

<!ELEMENT ES1325NodeSignalGroupLEDL1GenerationUnionCase EMPTY>
<!ELEMENT ES1325NodeSignalGroupLEDL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalGroupLEDParameters (ES1325NodeSignalGroupLEDParameters.Name, ES1325NodeSignalGroupLEDParameters.Enabled,ES1325NodeSignalGroupLEDParameters.Direction, ES1325NodeSignalGroupLEDParameters.Task)>

<!ELEMENT ES1325NodeSignalGroupLEDParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeSignalGroupLEDParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalGroupLEDParameters.Task (ESParameterString)>
<!ELEMENT ES1325NodeSignalGroupLEDParameters.Direction (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalGroupLEDParameters.Direction 
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ES1325NodeSignalGroupLEDSubNodeList (ES1325NodeSignalLED)*>

<!-- node signal (base) -->

<!ELEMENT ES1325NodeSignal (ES1325NodeSignal.Parameters)>
<!ATTLIST ES1325NodeSignal
    Name ID #REQUIRED
>


<!ELEMENT ES1325NodeSignal.Parameters (ES1325NodeSignalParameters)>

<!ELEMENT ES1325NodeSignalParameters (ES1325NodeSignalParameters.Name, ES1325NodeSignalParameters.Enabled, ES1325NodeSignalParameters.SignalType, ES1325NodeSignalParameters.Unit, ES1325NodeSignalParameters.Formula, ES1325NodeSignalParameters.Min, ES1325NodeSignalParameters.Max, ES1325NodeSignalParameters.InitValue, ES1325NodeSignalParameters.Pin, ES1325NodeSignalParameters.SignalMode, ES1325NodeSignalParameters.Message)>

<!ELEMENT ES1325NodeSignalParameters.Name (ESParameterName)>
<!ELEMENT ES1325NodeSignalParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES1325NodeSignalParameters.SignalType (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalParameters.SignalType  
    EnumText1      CDATA "cont"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "sdisc"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "udisc"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "boolean"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "enum"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
>

<!ELEMENT ES1325NodeSignalParameters.Unit (ESParameterString)>
<!ELEMENT ES1325NodeSignalParameters.Formula (ESParameterUnion)>
<!ELEMENT ES1325NodeSignalParameters.Min (ESParameterFloat)>
<!ELEMENT ES1325NodeSignalParameters.Max (ESParameterFloat)>
<!ELEMENT ES1325NodeSignalParameters.InitValue (ESParameterFloat)>
<!ELEMENT ES1325NodeSignalParameters.Pin (ESParameterString)>
<!ELEMENT ES1325NodeSignalParameters.SignalMode (ESParameterEnum)>
<!ATTLIST ES1325NodeSignalParameters.SignalMode
    EnumText1      CDATA "State"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Error State"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Active Time"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "Inactive Time"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "Additive Active Time"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "Counter Value"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"
    
    EnumText7      CDATA "Time Delay"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"
    
    EnumText8      CDATA "Angle Delay"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"
    
    EnumText9      CDATA "Angle Interval"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "Number of Periods"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "LED State"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"
>
<!ELEMENT ES1325NodeSignalParameters.Message (ESParameterString)>

<!ELEMENT ES1325NodeSignalSubNodeList EMPTY>

<!ELEMENT ES1325NodeSignalSendL1Generation (ES1325NodeSignalSendL1Generation.UnionCase, ES1325NodeSignalSendL1Generation.Reconnect)>
<!ATTLIST ES1325NodeSignalSendL1Generation 
    L1TreeIndex CDATA "-1"
    
    MappingROID CDATA "-1"
>

<!ELEMENT ES1325NodeSignalSendL1Generation.UnionCase (ES1325NodeSignalSendL1GenerationUnionCase)>
<!ELEMENT ES1325NodeSignalSendL1Generation.Reconnect (ES1325NodeSignalL1GenerationReconnect)>

<!ELEMENT ES1325NodeSignalSendL1GenerationUnionCase EMPTY>

<!-- node signal in out (base) -->

<!ELEMENT ES1325NodeSignalInOutL1Generation EMPTY>


<!ELEMENT ES1325NodeSignalInOutL1GenerationNotRunning EMPTY>


<!ELEMENT ES1325NodeSignalInOutL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalInOutL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalInOutSubNodeList EMPTY>

<!-- node signal LED -->

<!ELEMENT ES1325NodeSignalLED (ES1325NodeSignalLED.Parameters, ES1325NodeSignalLED.L1Generation, ES1325NodeSignalLED.SubNodes)>
<!ATTLIST ES1325NodeSignalLED
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>


<!ELEMENT ES1325NodeSignalLED.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalLED.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalLED.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalLEDL1Generation (ES1325NodeSignalLEDL1Generation.NotRunning, ES1325NodeSignalLEDL1Generation.Reconnect, ES1325NodeSignalLEDL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalLEDL1Generation.NotRunning (ES1325NodeSignalLEDL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalLEDL1Generation.Reconnect (ES1325NodeSignalLEDL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalLEDL1Generation.WriteToStream (ES1325NodeSignalLEDL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalLEDL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalLEDL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalLEDL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalLEDSubNodeList EMPTY>

<!-- node signal in (base) -->

<!ELEMENT ES1325NodeInOutSignal.Parameters (ESParameters)>

<!ELEMENT ES1325NodeInSignal EMPTY>
<!ATTLIST ES1325NodeInSignal
    Name ID #REQUIRED
>

<!ELEMENT ES1325NodeSignalInL1Generation EMPTY>


<!ELEMENT ES1325NodeSignalInL1GenerationNotRunning EMPTY>


<!ELEMENT ES1325NodeSignalInL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalInL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalInSubNodeList EMPTY>

<!-- node signal output (base) -->

<!ELEMENT ES1325NodeSignalOutputL1Generation EMPTY>


<!ELEMENT ES1325NodeSignalOutputL1GenerationNotRunning EMPTY>


<!ELEMENT ES1325NodeSignalOutputL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalOutputL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalOutputSubNodeList EMPTY>

<!-- node signal input (base) -->

<!ELEMENT ES1325NodeSignalInputL1Generation EMPTY>


<!ELEMENT ES1325NodeSignalInputL1GenerationNotRunning EMPTY>


<!ELEMENT ES1325NodeSignalInputL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalInputL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalInputSubNodeList EMPTY>

<!-- node signal adjustment (base) -->

<!ELEMENT ES1325NodeSignalAdjustmentL1Generation EMPTY>


<!ELEMENT ES1325NodeSignalAdjustmentL1GenerationNotRunning EMPTY>


<!ELEMENT ES1325NodeSignalAdjustmentL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalAdjustmentL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalAdjustmentSubNodeList EMPTY>

<!-- L1 generation -->

<!ELEMENT ES1325NodeSignalL1GenerationReconnect EMPTY>

<!ELEMENT ES1325NodeSignalReceiveL1Generation  (ES1325NodeSignalReceiveL1Generation.Reconnect, ES1325NodeSignalReceiveL1Generation.UnionCase)>
<!ATTLIST ES1325NodeSignalReceiveL1Generation     
    L1TreeIndex CDATA "-1"
    
    MappingROID CDATA "-1"
>

<!ELEMENT ES1325NodeSignalReceiveL1Generation.Reconnect (ES1325NodeSignalL1GenerationReconnect)> 
<!ELEMENT ES1325NodeSignalReceiveL1Generation.UnionCase (ES1325NodeSignalReceiveL1GenerationUnionCase)>

<!ELEMENT ES1325NodeSignalReceiveL1GenerationUnionCase EMPTY>


<!-- node signal adjustment angle delay -->

<!ELEMENT ES1325NodeSignalAdjustmentAngleDelay (ES1325NodeSignalAdjustmentAngleDelay.Parameters, ES1325NodeSignalAdjustmentAngleDelay.L1Generation, ES1325NodeSignalAdjustmentAngleDelay.SubNodes)>
<!ATTLIST ES1325NodeSignalAdjustmentAngleDelay
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>


<!ELEMENT ES1325NodeSignalAdjustmentAngleDelay.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalAdjustmentAngleDelay.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalAdjustmentAngleDelay.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalAdjustmentAngleDelayL1Generation (ES1325NodeSignalAdjustmentAngleDelayL1Generation.NotRunning, ES1325NodeSignalAdjustmentAngleDelayL1Generation.Reconnect, ES1325NodeSignalAdjustmentAngleDelayL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalAdjustmentAngleDelayL1Generation.NotRunning (ES1325NodeSignalAdjustmentAngleDelayL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalAdjustmentAngleDelayL1Generation.Reconnect (ES1325NodeSignalAdjustmentAngleDelayL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalAdjustmentAngleDelayL1Generation.WriteToStream (ES1325NodeSignalAdjustmentAngleDelayL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalAdjustmentAngleDelayL1GenerationNotRunning EMPTY>


<!ELEMENT ES1325NodeSignalAdjustmentAngleDelayL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalAdjustmentAngleDelayL1GenerationWriteToStream EMPTY>


<!ELEMENT ES1325NodeSignalAdjustmentAngleDelaySubNodeList EMPTY>

<!-- node signal adjustment angle interval -->

<!ELEMENT ES1325NodeSignalAdjustmentAngleInterval (ES1325NodeSignalAdjustmentAngleInterval.Parameters, ES1325NodeSignalAdjustmentAngleInterval.L1Generation, ES1325NodeSignalAdjustmentAngleInterval.SubNodes)>
<!ATTLIST ES1325NodeSignalAdjustmentAngleInterval
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalAdjustmentAngleInterval.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalAdjustmentAngleInterval.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalAdjustmentAngleInterval.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalAdjustmentAngleIntervalL1Generation (ES1325NodeSignalAdjustmentAngleIntervalL1Generation.NotRunning, ES1325NodeSignalAdjustmentAngleIntervalL1Generation.Reconnect, ES1325NodeSignalAdjustmentAngleIntervalL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalAdjustmentAngleIntervalL1Generation.NotRunning (ES1325NodeSignalAdjustmentAngleIntervalL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalAdjustmentAngleIntervalL1Generation.Reconnect (ES1325NodeSignalAdjustmentAngleIntervalL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalAdjustmentAngleIntervalL1Generation.WriteToStream (ES1325NodeSignalAdjustmentAngleIntervalL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalAdjustmentAngleIntervalL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalAdjustmentAngleIntervalL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalAdjustmentAngleIntervalL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalAdjustmentAngleIntervalSubNodeList EMPTY>

<!-- node signal adjustment time delay -->

<!ELEMENT ES1325NodeSignalAdjustmentTimeDelay (ES1325NodeSignalAdjustmentTimeDelay.Parameters, ES1325NodeSignalAdjustmentTimeDelay.L1Generation, ES1325NodeSignalAdjustmentTimeDelay.SubNodes)>
<!ATTLIST ES1325NodeSignalAdjustmentTimeDelay
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalAdjustmentTimeDelay.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalAdjustmentTimeDelay.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalAdjustmentTimeDelay.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalAdjustmentTimeDelayL1Generation (ES1325NodeSignalAdjustmentTimeDelayL1Generation.NotRunning, ES1325NodeSignalAdjustmentTimeDelayL1Generation.Reconnect, ES1325NodeSignalAdjustmentTimeDelayL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalAdjustmentTimeDelayL1Generation.NotRunning (ES1325NodeSignalAdjustmentTimeDelayL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalAdjustmentTimeDelayL1Generation.Reconnect (ES1325NodeSignalAdjustmentTimeDelayL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalAdjustmentTimeDelayL1Generation.WriteToStream (ES1325NodeSignalAdjustmentTimeDelayL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalAdjustmentTimeDelayL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalAdjustmentTimeDelayL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalAdjustmentTimeDelayL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalAdjustmentTimeDelaySubNodeList EMPTY>

<!-- node signal input active time -->

<!ELEMENT ES1325NodeSignalInputActiveTime (ES1325NodeSignalInputActiveTime.Parameters, ES1325NodeSignalInputActiveTime.L1Generation, ES1325NodeSignalInputActiveTime.SubNodes)>
<!ATTLIST ES1325NodeSignalInputActiveTime
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>


<!ELEMENT ES1325NodeSignalInputActiveTime.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalInputActiveTime.L1Generation (ES1325NodeSignalReceiveL1Generation)>
<!ELEMENT ES1325NodeSignalInputActiveTime.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalInputActiveTimeL1Generation (ES1325NodeSignalInputActiveTimeL1Generation.NotRunning, ES1325NodeSignalInputActiveTimeL1Generation.Reconnect, ES1325NodeSignalInputActiveTimeL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalInputActiveTimeL1Generation.NotRunning (ES1325NodeSignalInputActiveTimeL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalInputActiveTimeL1Generation.Reconnect (ES1325NodeSignalInputActiveTimeL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalInputActiveTimeL1Generation.WriteToStream (ES1325NodeSignalInputActiveTimeL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalInputActiveTimeL1GenerationNotRunning EMPTY>


<!ELEMENT ES1325NodeSignalInputActiveTimeL1GenerationReconnect EMPTY>


<!ELEMENT ES1325NodeSignalInputActiveTimeL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalInputActiveTimeSubNodeList EMPTY>

<!-- node signal input additive active time -->

<!ELEMENT ES1325NodeSignalInputAdditiveActiveTime (ES1325NodeSignalInputAdditiveActiveTime.Parameters, ES1325NodeSignalInputAdditiveActiveTime.L1Generation, ES1325NodeSignalInputAdditiveActiveTime.SubNodes)>
<!ATTLIST ES1325NodeSignalInputAdditiveActiveTime
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>


<!ELEMENT ES1325NodeSignalInputAdditiveActiveTime.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalInputAdditiveActiveTime.L1Generation (ES1325NodeSignalReceiveL1Generation)>
<!ELEMENT ES1325NodeSignalInputAdditiveActiveTime.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalInputAdditiveActiveTimeL1Generation (ES1325NodeSignalInputAdditiveActiveTimeL1Generation.NotRunning, ES1325NodeSignalInputAdditiveActiveTimeL1Generation.Reconnect, ES1325NodeSignalInputAdditiveActiveTimeL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalInputAdditiveActiveTimeL1Generation.NotRunning (ES1325NodeSignalInputAdditiveActiveTimeL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalInputAdditiveActiveTimeL1Generation.Reconnect (ES1325NodeSignalInputAdditiveActiveTimeL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalInputAdditiveActiveTimeL1Generation.WriteToStream (ES1325NodeSignalInputAdditiveActiveTimeL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalInputAdditiveActiveTimeL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalInputAdditiveActiveTimeL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalInputAdditiveActiveTimeL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalInputAdditiveActiveTimeSubNodeList EMPTY>

<!-- node signal input error state -->

<!ELEMENT ES1325NodeSignalInputErrorState (ES1325NodeSignalInputErrorState.Parameters, ES1325NodeSignalInputErrorState.L1Generation, ES1325NodeSignalInputErrorState.SubNodes)>
<!ATTLIST ES1325NodeSignalInputErrorState
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalInputErrorState.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalInputErrorState.L1Generation (ES1325NodeSignalReceiveL1Generation)>
<!ELEMENT ES1325NodeSignalInputErrorState.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalInputErrorStateL1Generation (ES1325NodeSignalInputErrorStateL1Generation.NotRunning, ES1325NodeSignalInputErrorStateL1Generation.Reconnect, ES1325NodeSignalInputErrorStateL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalInputErrorStateL1Generation.NotRunning (ES1325NodeSignalInputErrorStateL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalInputErrorStateL1Generation.Reconnect (ES1325NodeSignalInputErrorStateL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalInputErrorStateL1Generation.WriteToStream (ES1325NodeSignalInputErrorStateL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalInputErrorStateL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalInputErrorStateL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalInputErrorStateL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalInputErrorStateSubNodeList EMPTY>

<!-- node signal input event counter -->

<!ELEMENT ES1325NodeSignalInputEventCounter (ES1325NodeSignalInputEventCounter.Parameters, ES1325NodeSignalInputEventCounter.L1Generation, ES1325NodeSignalInputEventCounter.SubNodes)>
<!ATTLIST ES1325NodeSignalInputEventCounter
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalInputEventCounter.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalInputEventCounter.L1Generation (ES1325NodeSignalReceiveL1Generation)>
<!ELEMENT ES1325NodeSignalInputEventCounter.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalInputEventCounterL1Generation (ES1325NodeSignalInputEventCounterL1Generation.NotRunning, ES1325NodeSignalInputEventCounterL1Generation.Reconnect, ES1325NodeSignalInputEventCounterL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalInputEventCounterL1Generation.NotRunning (ES1325NodeSignalInputEventCounterL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalInputEventCounterL1Generation.Reconnect (ES1325NodeSignalInputEventCounterL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalInputEventCounterL1Generation.WriteToStream (ES1325NodeSignalInputEventCounterL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalInputEventCounterL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalInputEventCounterL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalInputEventCounterL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalInputEventCounterSubNodeList EMPTY>

<!-- node signal input inactive time -->

<!ELEMENT ES1325NodeSignalInputInactiveTime (ES1325NodeSignalInputInactiveTime.Parameters, ES1325NodeSignalInputInactiveTime.L1Generation, ES1325NodeSignalInputInactiveTime.SubNodes)>
<!ATTLIST ES1325NodeSignalInputInactiveTime
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalInputInactiveTime.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalInputInactiveTime.L1Generation (ES1325NodeSignalReceiveL1Generation)>
<!ELEMENT ES1325NodeSignalInputInactiveTime.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalInputInactiveTimeL1Generation (ES1325NodeSignalInputInactiveTimeL1Generation.NotRunning, ES1325NodeSignalInputInactiveTimeL1Generation.Reconnect, ES1325NodeSignalInputInactiveTimeL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalInputInactiveTimeL1Generation.NotRunning (ES1325NodeSignalInputInactiveTimeL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalInputInactiveTimeL1Generation.Reconnect (ES1325NodeSignalInputInactiveTimeL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalInputInactiveTimeL1Generation.WriteToStream (ES1325NodeSignalInputInactiveTimeL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalInputInactiveTimeL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalInputInactiveTimeL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalInputInactiveTimeL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalInputInactiveTimeSubNodeList EMPTY>

<!-- node signal input state -->

<!ELEMENT ES1325NodeSignalInputState (ES1325NodeSignalInputState.Parameters, ES1325NodeSignalInputState.L1Generation, ES1325NodeSignalInputState.SubNodes)>
<!ATTLIST ES1325NodeSignalInputState
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalInputState.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalInputState.L1Generation (ES1325NodeSignalReceiveL1Generation)>
<!ELEMENT ES1325NodeSignalInputState.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalInputStateL1Generation (ES1325NodeSignalInputStateL1Generation.NotRunning, ES1325NodeSignalInputStateL1Generation.Reconnect, ES1325NodeSignalInputStateL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalInputStateL1Generation.NotRunning (ES1325NodeSignalInputStateL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalInputStateL1Generation.Reconnect (ES1325NodeSignalInputStateL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalInputStateL1Generation.WriteToStream (ES1325NodeSignalInputStateL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalInputStateL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalInputStateL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalInputStateL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalInputStateSubNodeList EMPTY>

<!-- node signal output active time -->

<!ELEMENT ES1325NodeSignalOutputActiveTime (ES1325NodeSignalOutputActiveTime.Parameters, ES1325NodeSignalOutputActiveTime.L1Generation, ES1325NodeSignalOutputActiveTime.SubNodes)>
<!ATTLIST ES1325NodeSignalOutputActiveTime
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalOutputActiveTime.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalOutputActiveTime.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalOutputActiveTime.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalOutputActiveTimeL1Generation (ES1325NodeSignalOutputActiveTimeL1Generation.NotRunning, ES1325NodeSignalOutputActiveTimeL1Generation.Reconnect, ES1325NodeSignalOutputActiveTimeL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalOutputActiveTimeL1Generation.NotRunning (ES1325NodeSignalOutputActiveTimeL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalOutputActiveTimeL1Generation.Reconnect (ES1325NodeSignalOutputActiveTimeL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalOutputActiveTimeL1Generation.WriteToStream (ES1325NodeSignalOutputActiveTimeL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalOutputActiveTimeL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalOutputActiveTimeL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalOutputActiveTimeL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalOutputActiveTimeSubNodeList EMPTY>

<!-- node signal output angle delay -->

<!ELEMENT ES1325NodeSignalOutputAngleDelay (ES1325NodeSignalOutputAngleDelay.Parameters, ES1325NodeSignalOutputAngleDelay.L1Generation, ES1325NodeSignalOutputAngleDelay.SubNodes)>
<!ATTLIST ES1325NodeSignalOutputAngleDelay
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalOutputAngleDelay.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalOutputAngleDelay.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalOutputAngleDelay.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalOutputAngleDelayL1Generation (ES1325NodeSignalOutputAngleDelayL1Generation.NotRunning, ES1325NodeSignalOutputAngleDelayL1Generation.Reconnect, ES1325NodeSignalOutputAngleDelayL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalOutputAngleDelayL1Generation.NotRunning (ES1325NodeSignalOutputAngleDelayL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalOutputAngleDelayL1Generation.Reconnect (ES1325NodeSignalOutputAngleDelayL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalOutputAngleDelayL1Generation.WriteToStream (ES1325NodeSignalOutputAngleDelayL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalOutputAngleDelayL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalOutputAngleDelayL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalOutputAngleDelayL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalOutputAngleDelaySubNodeList EMPTY>

<!-- node signal output inactive time -->

<!ELEMENT ES1325NodeSignalOutputInactiveTime (ES1325NodeSignalOutputInactiveTime.Parameters, ES1325NodeSignalOutputInactiveTime.L1Generation, ES1325NodeSignalOutputInactiveTime.SubNodes)>
<!ATTLIST ES1325NodeSignalOutputInactiveTime
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalOutputInactiveTime.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalOutputInactiveTime.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalOutputInactiveTime.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalOutputInactiveTimeL1Generation (ES1325NodeSignalOutputInactiveTimeL1Generation.NotRunning, ES1325NodeSignalOutputInactiveTimeL1Generation.Reconnect, ES1325NodeSignalOutputInactiveTimeL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalOutputInactiveTimeL1Generation.NotRunning (ES1325NodeSignalOutputInactiveTimeL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalOutputInactiveTimeL1Generation.Reconnect (ES1325NodeSignalOutputInactiveTimeL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalOutputInactiveTimeL1Generation.WriteToStream (ES1325NodeSignalOutputInactiveTimeL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalOutputInactiveTimeL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalOutputInactiveTimeL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalOutputInactiveTimeL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalOutputInactiveTimeSubNodeList EMPTY>

<!-- node signal output noofperiods -->

<!ELEMENT ES1325NodeSignalOutputNoOfPeriods (ES1325NodeSignalOutputNoOfPeriods.Parameters, ES1325NodeSignalOutputNoOfPeriods.L1Generation, ES1325NodeSignalOutputNoOfPeriods.SubNodes)>
<!ATTLIST ES1325NodeSignalOutputNoOfPeriods
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalOutputNoOfPeriods.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalOutputNoOfPeriods.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalOutputNoOfPeriods.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalOutputNoOfPeriodsL1Generation (ES1325NodeSignalOutputNoOfPeriodsL1Generation.NotRunning, ES1325NodeSignalOutputNoOfPeriodsL1Generation.Reconnect, ES1325NodeSignalOutputNoOfPeriodsL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalOutputNoOfPeriodsL1Generation.NotRunning (ES1325NodeSignalOutputNoOfPeriodsL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalOutputNoOfPeriodsL1Generation.Reconnect (ES1325NodeSignalOutputNoOfPeriodsL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalOutputNoOfPeriodsL1Generation.WriteToStream (ES1325NodeSignalOutputNoOfPeriodsL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalOutputNoOfPeriodsL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalOutputNoOfPeriodsL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalOutputNoOfPeriodsL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalOutputNoOfPeriodsSubNodeList EMPTY>

<!-- node signal output state -->

<!ELEMENT ES1325NodeSignalOutputState (ES1325NodeSignalOutputState.Parameters, ES1325NodeSignalOutputState.L1Generation, ES1325NodeSignalOutputState.SubNodes)>
<!ATTLIST ES1325NodeSignalOutputState
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>

<!ELEMENT ES1325NodeSignalOutputState.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalOutputState.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalOutputState.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalOutputStateL1Generation (ES1325NodeSignalOutputStateL1Generation.NotRunning, ES1325NodeSignalOutputStateL1Generation.Reconnect, ES1325NodeSignalOutputStateL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalOutputStateL1Generation.NotRunning (ES1325NodeSignalOutputStateL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalOutputStateL1Generation.Reconnect (ES1325NodeSignalOutputStateL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalOutputStateL1Generation.WriteToStream (ES1325NodeSignalOutputStateL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalOutputStateL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalOutputStateL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalOutputStateL1GenerationWriteToStream EMPTY>

<!ELEMENT ES1325NodeSignalOutputStateSubNodeList EMPTY>

<!-- node signal output time delay -->

<!ELEMENT ES1325NodeSignalOutputTimeDelay (ES1325NodeSignalOutputTimeDelay.Parameters, ES1325NodeSignalOutputTimeDelay.L1Generation, ES1325NodeSignalOutputTimeDelay.SubNodes)>
<!ATTLIST ES1325NodeSignalOutputTimeDelay
    Name ID #REQUIRED
    
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>


<!ELEMENT ES1325NodeSignalOutputTimeDelay.Parameters (ES1325NodeSignalParameters)>
<!ELEMENT ES1325NodeSignalOutputTimeDelay.L1Generation (ES1325NodeSignalSendL1Generation)>
<!ELEMENT ES1325NodeSignalOutputTimeDelay.SubNodes (ES1325NodeSignalSubNodeList)>

<!ELEMENT ES1325NodeSignalOutputTimeDelayL1Generation (ES1325NodeSignalOutputTimeDelayL1Generation.NotRunning, ES1325NodeSignalOutputTimeDelayL1Generation.Reconnect, ES1325NodeSignalOutputTimeDelayL1Generation.WriteToStream)>

<!ELEMENT ES1325NodeSignalOutputTimeDelayL1Generation.NotRunning (ES1325NodeSignalOutputTimeDelayL1GenerationNotRunning)>
<!ELEMENT ES1325NodeSignalOutputTimeDelayL1Generation.Reconnect (ES1325NodeSignalOutputTimeDelayL1GenerationReconnect)>
<!ELEMENT ES1325NodeSignalOutputTimeDelayL1Generation.WriteToStream (ES1325NodeSignalOutputTimeDelayL1GenerationWriteToStream)>

<!ELEMENT ES1325NodeSignalOutputTimeDelayL1GenerationNotRunning EMPTY>
<!ELEMENT ES1325NodeSignalOutputTimeDelayL1GenerationReconnect EMPTY>
<!ELEMENT ES1325NodeSignalOutputTimeDelayL1GenerationWriteToStream EMPTY>


<!ELEMENT ES1325NodeSignalOutputTimeDelaySubNodeList EMPTY>
