Main_ECU/Data/DTD/ES800ES4XXNodeDevice.dtd

<?DTDVersion "5.0.0.1"?>
<?CompatibleDTDVersion "5.0.0.0"?>
<?CompatibleDTDVersion "4.7.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!ENTITY % ES4XXFoundationNodeMainBase SYSTEM "ES4XXFoundationNodeMainBase.dtd">
%ES4XXFoundationNodeMainBase;

<!NOTATION ofTypeES800ES4XXNodeDevice SYSTEM "ES800ES4XXNodeDevice">

<?SuperClass ES800ES4XXNodeDevice->ES4XXFoundationNodeDeviceBase ?>
<!-- only the ES800 Daisychain has a software interrupt, the ES900 Daisychain has a fix hardware interrupt -->
<?SuperClass ES800ES4XXNodeDevice->ESStandardResourcePoolIRQ ?>
<?SuperClass ES800ES4XXNodeDevice->ESStandardResourcePoolInstance ?>
<?SuperClass ES800ES4XXNodeDevice->StackLocationParametersNode ?>

<!-- node device -->

<!ELEMENT ES800ES4XXNodeDevice (ES800ES4XXNodeDevice.Parameters, ES800ES4XXNodeDevice.L1Generation, ES800ES4XXNodeDevice.SubNodes, ES800ES4XXNodeDevice.VariableParameters)>
<!ATTLIST ES800ES4XXNodeDevice
    Name ID #REQUIRED

    GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
    GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
>

<!ELEMENT ES800ES4XXNodeDevice.Parameters (ES800ES4XXNodeDeviceParameters)>
<!ELEMENT ES800ES4XXNodeDevice.L1Generation (ES800ES4XXNodeDeviceL1GenerationBlock)>
<!ELEMENT ES800ES4XXNodeDevice.SubNodes (ES800ES4XXNodeDeviceSubNodeList)>
<!ELEMENT ES800ES4XXNodeDevice.VariableParameters (ES4XXVariableParameters)>

<!ELEMENT ES800ES4XXNodeDeviceParameters (ES800ES4XXNodeDeviceParameters.Name,ES800ES4XXNodeDeviceParameters.Enabled,ES800ES4XXNodeDeviceParameters.ChainName,ES800ES4XXNodeDeviceParameters.ConfigurationFile,ES800ES4XXNodeDeviceParameters.ConfigurationFileVersion,ES800ES4XXNodeDeviceParameters.GCFFileName,ES800ES4XXNodeDeviceParameters.IPAddress,ES800ES4XXNodeDeviceParameters.ShowStatusSignalForDevice, ES800ES4XXNodeDeviceParameters.XCPVersion, ES800ES4XXNodeDeviceParameters.UDPIPVersion, ES800ES4XXNodeDeviceParameters.Port, ES800ES4XXNodeDeviceParameters.EPKValue, ES800ES4XXNodeDeviceParameters.EPKAddress, ES800ES4XXNodeDeviceParameters.EPKValueLength, ES800ES4XXNodeDeviceParameters.DAQ_MaxODTEntrySize, ES800ES4XXNodeDeviceParameters.DAQ_MaxEntries,ES800ES4XXNodeDeviceParameters.DAQ_MinEntries, ES800ES4XXNodeDeviceParameters.STIM_MaxODTEntrySize, ES800ES4XXNodeDeviceParameters.STIM_MaxEntries, ES800ES4XXNodeDeviceParameters.STIM_MinEntries, ES800ES4XXNodeDeviceParameters.TimestampSize, ES800ES4XXNodeDeviceParameters.ISR, ES800ES4XXNodeDeviceParameters.RapidPrototypingEnabled, ES800ES4XXNodeDeviceParameters.Instance, ES800ES4XXNodeDeviceParameters.IRQSource)>

<!ELEMENT ES800ES4XXNodeDeviceParameters.Name (ESParameterName)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.ChainName (ESParameterString)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.ConfigurationFile (ESParameterString)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.ConfigurationFileVersion (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.GCFFileName (ESParameterString)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.IPAddress (ESParameterIPAddress)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.ShowStatusSignalForDevice (ESParameterBoolean)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.XCPVersion (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.UDPIPVersion (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.Port (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.EPKValue (ESParameterString)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.EPKAddress (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.EPKValueLength (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.DAQ_MaxODTEntrySize (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.DAQ_MaxEntries (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.DAQ_MinEntries (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.STIM_MaxODTEntrySize (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.STIM_MaxEntries (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.STIM_MinEntries (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.TimestampSize (ESParameterEnum)>
<!ATTLIST ES800ES4XXNodeDeviceParameters.TimestampSize  
    EnumText1      CDATA "NO_TIME_STAMP"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "SIZE_DWORD"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ES800ES4XXNodeDeviceParameters.ISR (ESParameterString)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.RapidPrototypingEnabled (ESParameterBoolean)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.Instance (ESParameterUInt)>
<!ELEMENT ES800ES4XXNodeDeviceParameters.IRQSource (ESParameterString)>


<!ELEMENT ES800ES4XXNodeDeviceL1GenerationBlock (ES800ES4XXNodeDeviceL1GenerationBlock.UnionCase, ES800ES4XXNodeDeviceL1GenerationBlock.Reconnect)>
<!ATTLIST ES800ES4XXNodeDeviceL1GenerationBlock
    L1TreeIndex CDATA "-1"

    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
    APIROIDArray5 CDATA "-1"
    APIROIDArray6 CDATA "-1"

    IRQTriggeredSignalGroups CDATA "0"
    L1SignalGroupCount CDATA "0"
>
<!ELEMENT ES800ES4XXNodeDeviceL1GenerationBlock.UnionCase (ES800ES4XXNodeDeviceL1GenerationUnionCase)>
<!ELEMENT ES800ES4XXNodeDeviceL1GenerationBlock.Reconnect (ES4XXNodeDeviceL1GenerationReconnect)>

<!ELEMENT ES800ES4XXNodeDeviceL1GenerationUnionCase EMPTY>

<!ELEMENT ES800ES4XXNodeDeviceSubNodeList (ES4XXNodeSignalGroupSend | ES4XXNodeSignalGroupReceive | ES4XXNodeSignalGroupStatus)*>