Main_ECU/Data/DTD/ESCANFoundationNodeMainBase.dtd

<?DTDVersion "5.0.5.1"?>
<?CompatibleDTDVersion "4.7.3.1"?>
<?CompatibleDTDVersion "4.7.2"?>
<?CompatibleDTDVersion "4.7.0"?>
<?CompatibleDTDVersion "4.6.3"?>
<?CompatibleDTDVersion "4.6.2"?>
<?CompatibleDTDVersion "4.6.0"?>
<?CompatibleDTDVersion "4.2.0"?>
<?CompatibleDTDVersion "4.0.0"?>

<!ENTITY % System SYSTEM "_System.DTD">
%System;

<!ENTITY % ESNode SYSTEM "ESNode.DTD">
%ESNode;

<!ENTITY % ESXCPBNodeMain SYSTEM "ESXCPBNodeMain.DTD">
%ESXCPBNodeMain;

<!NOTATION ofTypeESCANFoundationNodeMainBase SYSTEM "ESCANFoundationNodeMainBase">
<!NOTATION ofTypeESCANFoundationNodeControllerBase SYSTEM "ESCANFoundationNodeControllerBase">
<!NOTATION ofTypeESCANFoundationNodeIODeviceBase SYSTEM "ESCANFoundationNodeIODeviceBase">
<!NOTATION ofTypeESCANBaseNodeMultiplexGroup SYSTEM "ESCANBaseNodeMultiplexGroup">
<!NOTATION ofTypeESCANBaseNodeSignal SYSTEM "ESCANBaseNodeSignal">
<!NOTATION ofTypeESCANBaseNodeSignalGroup SYSTEM "ESCANBaseNodeSignalGroup">
<!NOTATION ofTypeESCANBaseNodeSignalInstance SYSTEM "ESCANBaseNodeSignalInstance">
<!NOTATION ofTypeESCANFoundationSignalPool SYSTEM "ESCANFoundationSignalPool">
<!NOTATION ofTypeESCANBasePoolSignal SYSTEM "ESCANBasePoolSignal">
<!NOTATION ofTypeESCANBaseNodeXCPBDevice SYSTEM "ESCANBaseNodeXCPBDevice">


<?SuperClass ESCANFoundationNodeMainBase->ESNodeMain ?>
<?SuperClass ESCANFoundationNodeControllerBase->ESNodeController ?>

<?SuperClass ESCANFoundationNodeIODeviceBase->ESNodeDevice ?>
<?SuperClass ESCANFoundationNodeIODeviceBase->ESStandardResourcePoolIRQ ?>

<?SuperClass ESCANFoundationNodeXCPBDeviceBase->ESXCPBNodeDevice ?>
<?SuperClass ESCANBaseNodeXCPBDevice->ESCANFoundationNodeXCPBDeviceBase ?>

<?SuperClass ESCANFoundationSignalPool->ESPoolSignal ?>
<?SuperClass ESCANBasePoolSignal->ESCANFoundationSignalPool ?>

<?SuperClass ESCANBaseNodeSignalGroup->ESNodeSignalGroup ?>
<?SuperClass ESCANBaseNodeSignal->ESNodeSignal ?>
<?SuperClass ESCANBaseNodeSignalInstance->ESNodeSignal ?>
<?SuperClass ESCANBaseNodeMultiplexGroup->ESNodeMultiplexGroup ?>


<!-- dummy main node -->

<!ELEMENT ESCANFoundationNodeMainBase (ESCANFoundationNodeMainBase.Parameters, ESCANFoundationNodeMainBase.L1Generation, ESCANFoundationNodeMainBase.SubNodes, _System)>
<!ATTLIST ESCANFoundationNodeMainBase
    Name ID #REQUIRED
>

<!ELEMENT ESCANFoundationNodeMainBase.Parameters (ESCANFoundationNodeMainBaseParameters)>
<!ELEMENT ESCANFoundationNodeMainBase.L1Generation (ESCANFoundationNodeMainBaseL1Generation)>
<!ELEMENT ESCANFoundationNodeMainBase.SubNodes (ESCANFoundationNodeMainBaseSubNodeList)>

<!ELEMENT ESCANFoundationNodeMainBaseL1Generation (ESCANFoundationNodeMainBaseL1Generation.NotRunning, ESCANFoundationNodeMainBaseL1Generation.Reconnect, ESCANFoundationNodeMainBaseL1Generation.WriteToStream)>

<!ELEMENT ESCANFoundationNodeMainBaseL1Generation.NotRunning (ESCANFoundationNodeMainBaseL1GenerationNotRunning)>
<!ELEMENT ESCANFoundationNodeMainBaseL1Generation.Reconnect (ESCANFoundationNodeMainBaseL1GenerationReconnect)>
<!ELEMENT ESCANFoundationNodeMainBaseL1Generation.WriteToStream (ESCANFoundationNodeMainBaseL1GenerationWriteToStream)>

<!ELEMENT ESCANFoundationNodeMainBaseL1GenerationNotRunning EMPTY>
<!ELEMENT ESCANFoundationNodeMainBaseL1GenerationReconnect EMPTY>
<!ELEMENT ESCANFoundationNodeMainBaseL1GenerationWriteToStream EMPTY>

<!ELEMENT ESCANFoundationNodeMainBaseParameters (ESCANFoundationNodeMainBaseParameters.Name, ESCANFoundationNodeMainBaseParameters.Enabled)>

<!ELEMENT ESCANFoundationNodeMainBaseParameters.Name (ESParameterName)>
<!ELEMENT ESCANFoundationNodeMainBaseParameters.Enabled (ESParameterBoolean)>

<!ELEMENT ESCANFoundationNodeMainBaseSubNodeList EMPTY>

<!-- main node 	components -->

<!ELEMENT ESCANBaseNodeMainL1Generation (ESCANBaseNodeMainL1Generation.NotRunning, ESCANBaseNodeMainL1Generation.Reconnect, ESCANBaseNodeMainL1Generation.WriteToStream)>
<!ATTLIST ESCANBaseNodeMainL1Generation 
    L1TreeIndex CDATA "-1"

    ConfigROID CDATA "-1"
    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
    APIROIDArray5 CDATA "-1"
    
    IRQTriggeredSignalGroups CDATA "0"
>

<!ELEMENT ESCANBaseNodeMainL1Generation.NotRunning (ESCANBaseNodeMainL1GenerationNotRunning)>
<!ELEMENT ESCANBaseNodeMainL1Generation.Reconnect (ESCANBaseNodeMainL1GenerationReconnect)>
<!ELEMENT ESCANBaseNodeMainL1Generation.WriteToStream (ESCANBaseNodeMainL1GenerationWriteToStream)>

<!ELEMENT ESCANBaseNodeMainL1GenerationNotRunning EMPTY>

<!ELEMENT ESCANBaseNodeMainL1GenerationReconnect EMPTY>

<!ELEMENT ESCANBaseNodeMainL1GenerationWriteToStream EMPTY>

<!ELEMENT ESCANBaseNodeMainParameters (ESCANBaseNodeMainParameters.Name, ESCANBaseNodeMainParameters.Enabled, ESCANBaseNodeMainParameters.BoardInstance, ESCANBaseNodeMainParameters.AnalyzeTask)>
<!ELEMENT ESCANBaseNodeMainParameters.Name (ESParameterName)>
<!ELEMENT ESCANBaseNodeMainParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeMainParameters.BoardInstance (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeMainParameters.BoardInstance
    EnumText1      CDATA "ID1"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ID2"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "ID3"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "ID4"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
>
<!ELEMENT ESCANBaseNodeMainParameters.AnalyzeTask (ESParameterString)>

<!-- controller node components -->

<!ELEMENT ESCANBaseNodeCANControllerL1Generation (ESCANBaseNodeCANControllerL1Generation.Reconnect, ESCANBaseNodeCANControllerL1Generation.UnionCase)>
<!ATTLIST ESCANBaseNodeCANControllerL1Generation 
    L1TreeIndex CDATA "-1"

    AnalyzeApiIndexList CDATA ""
>

<!ELEMENT ESCANBaseNodeCANControllerL1Generation.UnionCase (ESCANBaseNodeCANControllerL1GenerationUnionCase)>

<!ELEMENT ESCANBaseNodeCANControllerL1Generation.Reconnect (ESCANBaseNodeCANControllerL1GenerationReconnect)>


<!ELEMENT ESCANBaseNodeCANControllerL1GenerationUnionCase EMPTY>

<!ELEMENT ESCANBaseNodeCANControllerL1GenerationReconnect EMPTY>


<!ELEMENT ESCANBaseNodeCANControllerParameters (ESCANBaseNodeCANControllerParameters.Name, 
                                                ESCANBaseNodeCANControllerParameters.Enabled, 
                                                ESCANBaseNodeCANControllerParameters.ModuleType, 
                                                ESCANBaseNodeCANControllerParameters.ModuleTypeInstance, 
                                                ESCANBaseNodeCANControllerParameters.Port, 
                                                ESCANBaseNodeCANControllerParameters.BaudRate, 
                                                ESCANBaseNodeCANControllerParameters.BaudRatePreScaler, 
                                                ESCANBaseNodeCANControllerParameters.SyncJumpWidth, 
                                                ESCANBaseNodeCANControllerParameters.TimeSegmentRegister1, 
                                                ESCANBaseNodeCANControllerParameters.TimeSegmentRegister2, 
                                                ESCANBaseNodeCANControllerParameters.SpecialBaudRate, 
                                                ESCANBaseNodeCANControllerParameters.SampleMode, 
                                                ESCANBaseNodeCANControllerParameters.CANdbFilee, 
                                                ESCANBaseNodeCANControllerParameters.CANMode,
                                                ESCANBaseNodeCANControllerParameters.TimingSpecificationMode,
                                                ESCANBaseNodeCANControllerParameters.ASAMBaudRate,
                                                ESCANBaseNodeCANControllerParameters.ASAMBTLCycles,
                                                ESCANBaseNodeCANControllerParameters.ASAMSyncJumpWidth,
                                                ESCANBaseNodeCANControllerParameters.ASAMSamplePoint,
                                                ESCANBaseNodeCANControllerParameters.ASAMSampleRate,
                                                ESCANBaseNodeCANControllerParameters.ASAMSyncEdge,
                                                ESCANBaseNodeCANControllerParameters.UseFDMode,
                                                ESCANBaseNodeCANControllerParameters.DataBaudRate,
                                                ESCANBaseNodeCANControllerParameters.ASAMDataBaudRate,
                                                ESCANBaseNodeCANControllerParameters.ASAMDataBTLCycles,
                                                ESCANBaseNodeCANControllerParameters.ASAMDataSyncJumpWidth,
                                                ESCANBaseNodeCANControllerParameters.ASAMDataSamplePoint,
                                                ESCANBaseNodeCANControllerParameters.FilterDuringBusIntegrationPhase,
                                                ESCANBaseNodeCANControllerParameters.TransceiverDelayCompensationMode,
                                                ESCANBaseNodeCANControllerParameters.TransceiverDelayCompensationOffset,
                                                ESCANBaseNodeCANControllerParameters.FrameFormat)>

<!ELEMENT ESCANBaseNodeCANControllerParameters.Name (ESParameterName)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.ModuleType (ESParameterDynamicEnum)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.ModuleTypeInstance (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.Port (ESParameterDynamicEnum)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.BaudRate (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeCANControllerParameters.BaudRate
    EnumText1      CDATA "1000000"
    EnumL1Value1     CDATA "1000000"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "800000"
    EnumL1Value2     CDATA "800000"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "666666"
    EnumL1Value3     CDATA "666667"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "500000"
    EnumL1Value4     CDATA "500000"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "250000"
    EnumL1Value5     CDATA "250000"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "125000"
    EnumL1Value6     CDATA "125000"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "100000"
    EnumL1Value7     CDATA "100000"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "83333"
    EnumL1Value8     CDATA "83333"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "50000"
    EnumL1Value9     CDATA "50000"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "20000"
    EnumL1Value10     CDATA "20000"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "10000"
    EnumL1Value11     CDATA "10000"
    EnumAvailable11 CDATA "1"

    EnumText12      CDATA "special settings"
    EnumL1Value12     CDATA "0"
    EnumAvailable12 CDATA "1"
>

<!ELEMENT ESCANBaseNodeCANControllerParameters.BaudRatePreScaler (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.SyncJumpWidth (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.TimeSegmentRegister1 (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.TimeSegmentRegister2 (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.SpecialBaudRate (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.SampleMode (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeCANControllerParameters.SampleMode
    EnumText1      CDATA "one sample (fast)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "three samples (safe)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeCANControllerParameters.CANdbFilee (ESParameterString)>

<!ELEMENT ESCANBaseNodeCANControllerParameters.CANMode (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeCANControllerParameters.CANMode
    EnumText1      CDATA "High Speed"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Low Speed"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeCANControllerParameters.TimingSpecificationMode (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeCANControllerParameters.TimingSpecificationMode 
    EnumText1      CDATA "CAN Controller compliant"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ASAM compliant"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Default Values"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMBaudRate (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMBTLCycles (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMSyncJumpWidth (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMSamplePoint (ESParameterUInt)>

<!--Leftovers from INTECRIO < 4.6.3 -->
<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMSampleRate (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeCANControllerParameters.ASAMSampleRate 
    EnumText1      CDATA "Undefined"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Single"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Triple"
    EnumL1Value3     CDATA "0"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMSyncEdge (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeCANControllerParameters.ASAMSyncEdge 
    EnumText1      CDATA "Undefined"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"
  
    EnumText2      CDATA "Single"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Dual"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>
<!-->>>>>>>>>>>>>>>>>>>>>>>>>>-->

<!ELEMENT ESCANBaseNodeCANControllerParameters.UseFDMode (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.DataBaudRate (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeCANControllerParameters.DataBaudRate
    EnumText1      CDATA "10000000"
    EnumL1Value1     CDATA "10000000"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "8000000"
    EnumL1Value2     CDATA "8000000"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "6666666"
    EnumL1Value3     CDATA "6666667"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "5000000"
    EnumL1Value4     CDATA "5000000"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "4000000"
    EnumL1Value5     CDATA "4000000"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "3333333"
    EnumL1Value6     CDATA "3333333"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "2000000"
    EnumL1Value7     CDATA "2000000"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "1000000"
    EnumL1Value8     CDATA "1000000"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "800000"
    EnumL1Value9     CDATA "800000"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "666666"
    EnumL1Value10     CDATA "666667"
    EnumAvailable10 CDATA "1"

    EnumText11      CDATA "500000"
    EnumL1Value11     CDATA "500000"
    EnumAvailable11 CDATA "1"

    EnumText12      CDATA "250000"
    EnumL1Value12     CDATA "250000"
    EnumAvailable12 CDATA "1"

    EnumText13      CDATA "125000"
    EnumL1Value13     CDATA "125000"
    EnumAvailable13 CDATA "1"

    EnumText14      CDATA "100000"
    EnumL1Value14     CDATA "100000"
    EnumAvailable14 CDATA "1"

    EnumText15      CDATA "83333"
    EnumL1Value15     CDATA "83333"
    EnumAvailable15 CDATA "1"

    EnumText16      CDATA "50000"
    EnumL1Value16     CDATA "50000"
    EnumAvailable16 CDATA "1"

    EnumText17      CDATA "20000"
    EnumL1Value17     CDATA "20000"
    EnumAvailable17 CDATA "1"

    EnumText18      CDATA "10000"
    EnumL1Value18     CDATA "10000"
    EnumAvailable18 CDATA "1"
>
<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMDataBaudRate (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMDataBTLCycles (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMDataSyncJumpWidth (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.ASAMDataSamplePoint (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.FilterDuringBusIntegrationPhase (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.TransceiverDelayCompensationMode (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeCANControllerParameters.TransceiverDelayCompensationMode
    EnumText1      CDATA "automatic"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "off"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ESCANBaseNodeCANControllerParameters.TransceiverDelayCompensationOffset (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeCANControllerParameters.FrameFormat (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeCANControllerParameters.FrameFormat
    EnumText1      CDATA "ISO"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "non-ISO"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!-- IO device node -->

<!ELEMENT ESCANBaseNodeDeviceL1Generation (ESCANBaseNodeDeviceL1Generation.UnionCase, ESCANBaseNodeDeviceL1Generation.Reconnect)>
<!ATTLIST ESCANBaseNodeDeviceL1Generation 
    L1TreeIndex CDATA "-1"

    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
    APIROIDArray5 CDATA "-1"
    APIROIDArray6 CDATA "-1"

    DriverIndex CDATA "-1"
    DeviceIndex CDATA "-1"
    FrameCountSend CDATA "0"
    FrameCountReceive CDATA "0"
    IRQTriggeredSignalGroups CDATA "0"
>

<!ELEMENT ESCANBaseNodeDeviceL1Generation.UnionCase (ESCANBaseNodeDeviceL1GenerationUnionCase)>
<!ELEMENT ESCANBaseNodeDeviceL1Generation.Reconnect (ESCANBaseNodeDeviceL1GenerationReconnect)>


<!ELEMENT ESCANBaseNodeDeviceL1GenerationUnionCase EMPTY>

<!ELEMENT ESCANBaseNodeDeviceL1GenerationReconnect EMPTY>


<!ELEMENT ESCANBaseNodeDeviceParameters (ESCANBaseNodeDeviceParameters.Name, 
                                        ESCANBaseNodeDeviceParameters.Enabled, 
                                        ESCANBaseNodeDeviceParameters.DefaultByteOrder, 
                                        ESCANBaseNodeDeviceParameters.DefaultCANIdentifierType, 
                                        ESCANBaseNodeDeviceParameters.ISR,
                                        ESCANBaseNodeDeviceParameters.IRQSource,
                                        ESCANBaseNodeDeviceParameters.DefaultFrameMode)>

<!ELEMENT ESCANBaseNodeDeviceParameters.Name (ESParameterName)>
<!ELEMENT ESCANBaseNodeDeviceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeDeviceParameters.DefaultByteOrder (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeDeviceParameters.DefaultByteOrder
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeDeviceParameters.DefaultCANIdentifierType (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeDeviceParameters.DefaultCANIdentifierType
    EnumText1      CDATA "standard (11 bit)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "extended (29 bit)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>
<!ELEMENT ESCANBaseNodeDeviceParameters.ISR (ESParameterString)>
<!ELEMENT ESCANBaseNodeDeviceParameters.IRQSource (ESParameterString)>

<!ELEMENT ESCANBaseNodeDeviceParameters.DefaultFrameMode (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeDeviceParameters.DefaultFrameMode
    EnumText1      CDATA "classic"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "FD"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeDeviceSubNodeList (ESCANBaseNodeSignalGroup)*>

<!-- Signal Group node -->

<!ELEMENT ESCANBaseNodeSignalGroup (ESCANBaseNodeSignalGroup.Parameters, ESCANBaseNodeSignalGroup.L1Generation, ESCANBaseNodeSignalGroup.SubNodes)>
<!ATTLIST ESCANBaseNodeSignalGroup
    Name ID #REQUIRED

    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBODevice ENTITY #REQUIRED
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
>
<!ELEMENT ESCANBaseNodeSignalGroup.Parameters (ESCANBaseNodeSignalGroupParameters)>
<!ELEMENT ESCANBaseNodeSignalGroup.L1Generation (ESCANBaseNodeSignalGroupL1Generation)>
<!ELEMENT ESCANBaseNodeSignalGroup.SubNodes (ESCANBaseNodeSignalGroupSubNodeList)>

<!ELEMENT ESCANBaseNodeSignalGroupL1Generation (ESCANBaseNodeSignalGroupL1Generation.UnionCase, ESCANBaseNodeSignalGroupL1Generation.Reconnect)>
<!ATTLIST ESCANBaseNodeSignalGroupL1Generation  
    L1TreeIndex CDATA "-1"

    APIROID CDATA "-1"
    MonitoringROID CDATA "-1"
    ActivationCount CDATA "0"
    IRQTriggered ( False | True ) "False"
    SignalGroupIndex CDATA "-1"
    ExecutionROID CDATA "-1"
>

<!ELEMENT ESCANBaseNodeSignalGroupL1Generation.UnionCase (ESCANBaseNodeSignalGroupL1GenerationUnionCase)>
<!ELEMENT ESCANBaseNodeSignalGroupL1Generation.Reconnect (ESCANBaseNodeSignalGroupL1GenerationReconnect)>


<!ELEMENT ESCANBaseNodeSignalGroupL1GenerationUnionCase EMPTY>

<!ELEMENT ESCANBaseNodeSignalGroupL1GenerationReconnect EMPTY>


<!ELEMENT ESCANBaseNodeSignalGroupParameters (ESCANBaseNodeSignalGroupParameters.Name, 
                                            ESCANBaseNodeSignalGroupParameters.Enabled, 
                                            ESCANBaseNodeSignalGroupParameters.Direction, 
                                            ESCANBaseNodeSignalGroupParameters.Polling, 
                                            ESCANBaseNodeSignalGroupParameters.CANIdentifierType, 
                                            ESCANBaseNodeSignalGroupParameters.CANIdentifier, 
                                            ESCANBaseNodeSignalGroupParameters.DLC, 
                                            ESCANBaseNodeSignalGroupParameters.SubsamplingRate,
                                            ESCANBaseNodeSignalGroupParameters.dTMonitoring, 
                                            ESCANBaseNodeSignalGroupParameters.Task,
                                            ESCANBaseNodeSignalGroupParameters.IsFDFrame,
                                            ESCANBaseNodeSignalGroupParameters.UseDataBaudRate,
                                            ESCANBaseNodeSignalGroupParameters.DefaultExecutionPeriod )>

<!ELEMENT ESCANBaseNodeSignalGroupParameters.Name (ESParameterName)>
<!ELEMENT ESCANBaseNodeSignalGroupParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeSignalGroupParameters.Task (ESParameterString)>
<!ELEMENT ESCANBaseNodeSignalGroupParameters.Direction (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeSignalGroupParameters.Direction
    EnumText1      CDATA "send"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "receive"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeSignalGroupParameters.Polling (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeSignalGroupParameters.CANIdentifierType (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeSignalGroupParameters.CANIdentifierType 
    EnumText1      CDATA "standard (11 bit)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "extended (29 bit)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeSignalGroupParameters.CANIdentifier (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeSignalGroupParameters.DLC (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeSignalGroupParameters.SubsamplingRate (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeSignalGroupParameters.dTMonitoring (ESParameterBoolean)>

<!ELEMENT ESCANBaseNodeSignalGroupParameters.IsFDFrame (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeSignalGroupParameters.UseDataBaudRate (ESParameterBoolean)>

<!ELEMENT ESCANBaseNodeSignalGroupParameters.DefaultExecutionPeriod (ESParameterFloat)>

<!ELEMENT ESCANBaseNodeSignalGroupSubNodeList (ESCANBaseNodeSignalInstance)*>

<!-- Multiplex Group node -->

<!ELEMENT ESCANBaseNodeMultiplexGroup (ESCANBaseNodeMultiplexGroup.Parameters, ESCANBaseNodeMultiplexGroup.L1Generation, ESCANBaseNodeMultiplexGroup.SubNodes)>
<!ATTLIST ESCANBaseNodeMultiplexGroup
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOSignalGroup ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
    MonitoringSignaldT.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSignalRec.ofTypeYBOHWPort ENTITY #REQUIRED
    MonitoringSendSignalGroup.ofTypeYBOSignalGroup ENTITY #REQUIRED
    OldName CDATA ""
>
<!ELEMENT ESCANBaseNodeMultiplexGroup.Parameters (ESCANBaseNodeMultiplexGroupParameters)>
<!ELEMENT ESCANBaseNodeMultiplexGroup.L1Generation (ESCANBaseNodeMultiplexGroupL1Generation)>
<!ELEMENT ESCANBaseNodeMultiplexGroup.SubNodes (ESCANBaseNodeMultiplexGroupSubNodeList)>

<!ELEMENT ESCANBaseNodeMultiplexGroupL1Generation (ESCANBaseNodeMultiplexGroupL1Generation.UnionCase, ESCANBaseNodeMultiplexGroupL1Generation.Reconnect)>
<!ATTLIST ESCANBaseNodeMultiplexGroupL1Generation  
    L1TreeIndex CDATA "-1"
    MonitoringROID CDATA "-1"
>

<!ELEMENT ESCANBaseNodeMultiplexGroupL1Generation.UnionCase (ESCANBaseNodeMultiplexGroupL1GenerationUnionCase)>
<!ELEMENT ESCANBaseNodeMultiplexGroupL1Generation.Reconnect (ESCANBaseNodeMultiplexGroupL1GenerationReconnect)>

<!ELEMENT ESCANBaseNodeMultiplexGroupL1GenerationUnionCase EMPTY>

<!ELEMENT ESCANBaseNodeMultiplexGroupL1GenerationReconnect EMPTY>

<!ELEMENT ESCANBaseNodeMultiplexGroupParameters (ESCANBaseNodeMultiplexGroupParameters.Name, ESCANBaseNodeMultiplexGroupParameters.Enabled, ESCANBaseNodeMultiplexGroupParameters.MultiplexValue,ESCANBaseNodeMultiplexGroupParameters.dTMonitoring)>

<!ELEMENT ESCANBaseNodeMultiplexGroupParameters.Name (ESParameterName)>
<!ELEMENT ESCANBaseNodeMultiplexGroupParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeMultiplexGroupParameters.MultiplexValue (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeMultiplexGroupParameters.dTMonitoring (ESParameterBoolean)>

<!ELEMENT ESCANBaseNodeMultiplexGroupSubNodeList (ESCANBaseNodeSignalInstance)*>

<!-- Signal node -->

<!ELEMENT ESCANBaseNodeSignal (ESCANBaseNodeSignal.Parameters, ESCANBaseNodeSignal.SubNodes)>
<!ATTLIST ESCANBaseNodeSignal
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>
<!ELEMENT ESCANBaseNodeSignal.Parameters (ESCANBaseNodeSignalParameters)>
<!ELEMENT ESCANBaseNodeSignal.SubNodes (ESCANBaseNodeSignalSubNodeList)>

<!ELEMENT ESCANBaseNodeSignalParameters (ESCANBaseNodeSignalParameters.Name, ESCANBaseNodeSignalParameters.SignalType, ESCANBaseNodeSignalParameters.Unit, ESCANBaseNodeSignalParameters.Formula, ESCANBaseNodeSignalParameters.Min, ESCANBaseNodeSignalParameters.Max, ESCANBaseNodeSignalParameters.InitValue, ESCANBaseNodeSignalParameters.DataType, ESCANBaseNodeSignalParameters.SignalSize, ESCANBaseNodeSignalParameters.SignalLength, ESCANBaseNodeSignalParameters.SignalByteOrder, ESCANBaseNodeSignalParameters.AutoMinMax)>
<!ELEMENT ESCANBaseNodeSignalParameters.Name (ESParameterName)>
<!ELEMENT ESCANBaseNodeSignalParameters.SignalType (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeSignalParameters.SignalType
    EnumText1      CDATA "cont"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "sdisc"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "udisc"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "boolean"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "enum"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "0"
>

<!ELEMENT ESCANBaseNodeSignalParameters.Unit (ESParameterString)>
<!ELEMENT ESCANBaseNodeSignalParameters.Formula (ESParameterUnion)>
<!ELEMENT ESCANBaseNodeSignalParameters.Min (ESParameterFloat)>
<!ELEMENT ESCANBaseNodeSignalParameters.Max (ESParameterFloat)>
<!ELEMENT ESCANBaseNodeSignalParameters.InitValue (ESParameterFloat)>
<!ELEMENT ESCANBaseNodeSignalParameters.DataType (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeSignalParameters.DataType
    EnumText1      CDATA "boolean"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "uint8"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "sint8"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "uint16"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "sint16"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "uint32"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "sint32"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "real32"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "real64"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"
>

<!ELEMENT ESCANBaseNodeSignalParameters.SignalSize (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeSignalParameters.SignalLength (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeSignalParameters.SignalByteOrder (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeSignalParameters.SignalByteOrder 
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeSignalParameters.AutoMinMax (ESParameterBoolean)>

<!ELEMENT ESCANBaseNodeSignalSubNodeList EMPTY>


<!-- Signal instance node -->

<!ELEMENT ESCANBaseNodeSignalInstance (ESCANBaseNodeSignalInstance.Parameters, ESCANBaseNodeSignalInstance.L1Generation, ESCANBaseNodeSignalInstance.SubNodes, ESCANBaseNodeSignalInstance.NodeLink)>
<!ATTLIST ESCANBaseNodeSignalInstance
    Name ID #REQUIRED
    GlobalObject.ofTypeYBOHWPort ENTITY #REQUIRED
    GlobalParent.ofTypeYBOSignalGroup ENTITY #REQUIRED
>
<!ELEMENT ESCANBaseNodeSignalInstance.Parameters (ESCANBaseNodeSignalInstanceParameters)>
<!ELEMENT ESCANBaseNodeSignalInstance.L1Generation (ESCANBaseNodeSignalInstanceL1Generation)>
<!ELEMENT ESCANBaseNodeSignalInstance.SubNodes (ESCANBaseNodeSignalInstanceSubNodeList)>
<!ELEMENT ESCANBaseNodeSignalInstance.NodeLink (ESCANBaseNodeLink)>

<!ELEMENT ESCANBaseNodeSignalInstanceL1Generation (ESCANBaseNodeSignalInstanceL1Generation.UnionCase, ESCANBaseNodeSignalInstanceL1Generation.Reconnect)>
<!ATTLIST ESCANBaseNodeSignalInstanceL1Generation   
    L1TreeIndex CDATA "-1"
    
    MappingROID CDATA "-1"
    MultiplexROID CDATA "-1"

    DirectionReceive ( False | True ) "False"
>

<!ELEMENT ESCANBaseNodeSignalInstanceL1Generation.UnionCase (ESCANBaseNodeSignalInstanceL1GenerationUnionCase)>
<!ELEMENT ESCANBaseNodeSignalInstanceL1Generation.Reconnect (ESCANBaseNodeSignalInstanceL1GenerationReconnect)>


<!ELEMENT ESCANBaseNodeSignalInstanceL1GenerationUnionCase EMPTY>

<!ELEMENT ESCANBaseNodeSignalInstanceL1GenerationReconnect EMPTY>

<!ELEMENT ESCANBaseNodeSignalInstanceParameters (ESCANBaseNodeSignalInstanceParameters.Enabled, ESCANBaseNodeSignalInstanceParameters.StartBit, ESCANBaseNodeSignalInstanceParameters.InstanceType, ESCANBaseNodeSignalInstanceParameters.Message)>
<!ELEMENT ESCANBaseNodeSignalInstanceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeSignalInstanceParameters.StartBit (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeSignalInstanceParameters.InstanceType (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeSignalInstanceParameters.InstanceType  
    EnumText1      CDATA "Standard Signal"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Multiplexor Signal"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "Multiplexed Signal"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>
<!ELEMENT ESCANBaseNodeSignalInstanceParameters.Message (ESParameterString)>

<!ELEMENT ESCANBaseNodeSignalInstanceSubNodeList (ESCANBaseNodeMultiplexGroup)*>

<!-- node Link -->

<!ELEMENT ESCANBaseNodeLink EMPTY>
<!ATTLIST ESCANBaseNodeLink
    NodeLink.ofTypeESNode ENTITY #IMPLIED
>

<!-- Signalpool -->

<!ELEMENT ESCANBasePoolSignal (ESCANBasePoolSignal.SignalList)>
<!ATTLIST ESCANBasePoolSignal
    Name ID #REQUIRED
>

<!ELEMENT ESCANBasePoolSignal.SignalList (ESCANBasePoolSignalList)>

<!ELEMENT ESCANBasePoolSignalList (ESCANBaseNodeSignal)*>


<!-- XCP bypass -->

<!-- XCPB device -->

<!ELEMENT ESCANBaseNodeXCPBDevice (ESCANBaseNodeXCPBDevice.Parameters, ESCANBaseNodeXCPBDevice.L1Generation, ESCANBaseNodeXCPBDevice.SubNodes)>
<!ATTLIST ESCANBaseNodeXCPBDevice
    Name ID #REQUIRED

  GlobalObject.ofTypeYBODevice ENTITY #REQUIRED
  GlobalParent.ofTypeYBOBoard ENTITY #REQUIRED
  
  a2lFile.ofTypeA2LFile ENTITY #REQUIRED
  BypassEnableLabel.ofTypeCharacteristic ENTITY #REQUIRED
    
>

<!ELEMENT ESCANBaseNodeXCPBDevice.SubNodes (ESCANBaseNodeXCPBDeviceSubNodeList)>
<!ELEMENT ESCANBaseNodeXCPBDevice.L1Generation (ESCANBaseNodeXCPBDeviceL1GenerationBlock)>
<!ELEMENT ESCANBaseNodeXCPBDevice.Parameters (ESCANBaseNodeXCPBDeviceParameters)>

<!ELEMENT ESCANBaseNodeXCPBDeviceL1GenerationBlock (ESCANBaseNodeXCPBDeviceL1GenerationBlock.UnionCase, ESCANBaseNodeXCPBDeviceL1GenerationBlock.Reconnect)>
<!ATTLIST ESCANBaseNodeXCPBDeviceL1GenerationBlock 
    L1TreeIndex CDATA "-1"

    APIROIDArray1 CDATA "-1"
    APIROIDArray2 CDATA "-1"
    APIROIDArray3 CDATA "-1"
    APIROIDArray4 CDATA "-1"
    APIROIDArray5 CDATA "-1"
    APIROIDArray6 CDATA "-1"

    IRQTriggeredSignalGroups CDATA "0"
    RelevantSignalGroups CDATA "0"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceL1GenerationBlock.UnionCase (ESCANBaseNodeXCPBDeviceL1GenerationUnionCase)>
<!ELEMENT ESCANBaseNodeXCPBDeviceL1GenerationBlock.Reconnect (ESXCPBNodeDeviceL1GenerationReconnect)>

<!ELEMENT ESCANBaseNodeXCPBDeviceL1GenerationUnionCase EMPTY>


<!ELEMENT ESCANBaseNodeXCPBDeviceParameters (ESCANBaseNodeXCPBDeviceParameters.Name, 
                                             ESCANBaseNodeXCPBDeviceParameters.Enabled,
                                             ESCANBaseNodeXCPBDeviceParameters.ASAMMCD2File, 
                                             ESCANBaseNodeXCPBDeviceParameters.ECUByteOrder, 
                                             ESCANBaseNodeXCPBDeviceParameters.ECUSWVersion, 
                                             ESCANBaseNodeXCPBDeviceParameters.SWConsistencyCheck, 
                                             ESCANBaseNodeXCPBDeviceParameters.EPK, 
                                             ESCANBaseNodeXCPBDeviceParameters.EPKAddress, 
                                             ESCANBaseNodeXCPBDeviceParameters.AutomaticBypassActivation, 
                                             ESCANBaseNodeXCPBDeviceParameters.BypassEnableLabel, 
                                             ESCANBaseNodeXCPBDeviceParameters.BypassEnableLabelTransferMethod,
                                             ESCANBaseNodeXCPBDeviceParameters.BypassEnableDelay, 
                                             ESCANBaseNodeXCPBDeviceParameters.SignalSelectionMode, 
                                             ESCANBaseNodeXCPBDeviceParameters.TransferMode, 
                                             ESCANBaseNodeXCPBDeviceParameters.XCPProtocolLayerVersion, 
                                             ESCANBaseNodeXCPBDeviceParameters.TimeoutT1,
                                             ESCANBaseNodeXCPBDeviceParameters.TimeoutT2,
                                             ESCANBaseNodeXCPBDeviceParameters.TimeoutT3,
                                             ESCANBaseNodeXCPBDeviceParameters.TimeoutT4,
                                             ESCANBaseNodeXCPBDeviceParameters.TimeoutT5,
                                             ESCANBaseNodeXCPBDeviceParameters.TimeoutT6,
                                             ESCANBaseNodeXCPBDeviceParameters.TimeoutT7,
                                             ESCANBaseNodeXCPBDeviceParameters.MaxCTO, 
                                             ESCANBaseNodeXCPBDeviceParameters.MaxDTO, 
                                             ESCANBaseNodeXCPBDeviceParameters.AddressGranularity, 
                                             ESCANBaseNodeXCPBDeviceParameters.DAQConfigType, 
                                             ESCANBaseNodeXCPBDeviceParameters.MaxDAQ, 
                                             ESCANBaseNodeXCPBDeviceParameters.MinDAQ, 
                                             ESCANBaseNodeXCPBDeviceParameters.MaxEventChannel, 
                                             ESCANBaseNodeXCPBDeviceParameters.OptimisationType, 
                                             ESCANBaseNodeXCPBDeviceParameters.AddressExtensionType, 
                                             ESCANBaseNodeXCPBDeviceParameters.IdentificationFieldType, 
                                             ESCANBaseNodeXCPBDeviceParameters.GranularityODTEntrySizeDAQ, 
                                             ESCANBaseNodeXCPBDeviceParameters.MaxODTEntrySizeDAQ, 
                                             ESCANBaseNodeXCPBDeviceParameters.OverloadIndication, 
                                             ESCANBaseNodeXCPBDeviceParameters.PrescalerSupported, 
                                             ESCANBaseNodeXCPBDeviceParameters.ResumeSupported, 
                                             ESCANBaseNodeXCPBDeviceParameters.ResumeMode, 
                                             ESCANBaseNodeXCPBDeviceParameters.GranularityODTEntrySizeSTIM, 
                                             ESCANBaseNodeXCPBDeviceParameters.MaxODTEntrySizeSTIM, 
                                             ESCANBaseNodeXCPBDeviceParameters.BitSTIMSupported, 
                                             ESCANBaseNodeXCPBDeviceParameters.TimestampSupported, 
                                             ESCANBaseNodeXCPBDeviceParameters.TimestampTicks, 
                                             ESCANBaseNodeXCPBDeviceParameters.TimestampUnit, 
                                             ESCANBaseNodeXCPBDeviceParameters.TimestampFixed, 
                                             ESCANBaseNodeXCPBDeviceParameters.TimestampSize, 
                                             ESCANBaseNodeXCPBDeviceParameters.PIDOffSupported, 
                                             ESCANBaseNodeXCPBDeviceParameters.AutomaticBypassDetection, 
                                             ESCANBaseNodeXCPBDeviceParameters.BypassReceiveNamePrefix, 
                                             ESCANBaseNodeXCPBDeviceParameters.BypassReceiveNameSuffix, 
                                             ESCANBaseNodeXCPBDeviceParameters.BypassSendNamePrefix, 
                                             ESCANBaseNodeXCPBDeviceParameters.BypassSendNameSuffix, 
                                             ESCANBaseNodeXCPBDeviceParameters.LogCTO, 
                                             ESCANBaseNodeXCPBDeviceParameters.LogDTO, 
                                             ESCANBaseNodeXCPBDeviceParameters.LogCalibration, 
                                             ESCANBaseNodeXCPBDeviceParameters.LogWarnings, 
                                             ESCANBaseNodeXCPBDeviceParameters.LogInformation, 
                                             ESCANBaseNodeXCPBDeviceParameters.BehaviorOnInconsistentA2LandECUConfiguration,
                                             ESCANBaseNodeXCPBDeviceParameters.IRQSource,
                                             ESCANBaseNodeXCPBDeviceParameters.XCPByteOrder,
                                             ESCANBaseNodeXCPBDeviceParameters.XCPInstance,
                                             ESCANBaseNodeXCPBDeviceParameters.XCPonCANVersion, 
                                             ESCANBaseNodeXCPBDeviceParameters.CANIdentifierTypeMaster, 
                                             ESCANBaseNodeXCPBDeviceParameters.CANIdentifierMaster, 
                                             ESCANBaseNodeXCPBDeviceParameters.CANIdentifierTypeSlave, 
                                             ESCANBaseNodeXCPBDeviceParameters.CANIdentifierSlave, 
                                             ESCANBaseNodeXCPBDeviceParameters.MaxDLCRequired,
                                             ESCANBaseNodeXCPBDeviceParameters.CANFDMaxDLC,
                                             ESCANBaseNodeXCPBDeviceParameters.CANFDMaxDLCRequired,
                                             ESCANBaseNodeXCPBDeviceParameters.MeasurementSplitAllowed,
                                             ESCANBaseNodeXCPBDeviceParameters.Checksum,
                                             ESCANBaseNodeXCPBDeviceParameters.ISR,
                                             ESCANBaseNodeXCPBDeviceParameters.SeedAndKeyLibrary,
                                             ESCANBaseNodeXCPBDeviceParameters.TransportLayerName,
                                             ESCANBaseNodeXCPBDeviceParameters.MaxDTOSTIM,
                                             ESCANBaseNodeXCPBDeviceParameters.StoreDAQSupported,
                                             ESCANBaseNodeXCPBDeviceParameters.DTOCTRFieldSupported,
                                             ESCANBaseNodeXCPBDeviceParameters.MaxDAQTotal,
                                             ESCANBaseNodeXCPBDeviceParameters.MaxODTTotal,
                                             ESCANBaseNodeXCPBDeviceParameters.MaxODTDAQTotal,
                                             ESCANBaseNodeXCPBDeviceParameters.MaxODTSTIMTotal,
                                             ESCANBaseNodeXCPBDeviceParameters.MaxODTEntriesDAQTotal,
                                             ESCANBaseNodeXCPBDeviceParameters.MaxODTEntriesSTIMTotal,
                                             ESCANBaseNodeXCPBDeviceParameters.MaxODTEntriesTotal,
                                             ESCANBaseNodeXCPBDeviceParameters.DAQMemoryLimit,
                                             ESCANBaseNodeXCPBDeviceParameters.DAQSize,
                                             ESCANBaseNodeXCPBDeviceParameters.ODTSize,
                                             ESCANBaseNodeXCPBDeviceParameters.ODTEntrySize,
                                             ESCANBaseNodeXCPBDeviceParameters.ODTDAQBufferElementSize,
                                             ESCANBaseNodeXCPBDeviceParameters.ODTSTIMBufferElementSize,
                                             ESCANBaseNodeXCPBDeviceParameters.ODTDAQBufferElementReserve,
                                             ESCANBaseNodeXCPBDeviceParameters.ODTSTIMBufferElementReserve,
                                             ESCANBaseNodeXCPBDeviceParameters.OptimisationTypeODTStrict,
                                             ESCANBaseNodeXCPBDeviceParameters.MinSTSTIM,
                                             ESCANBaseNodeXCPBDeviceParameters.ImportSignalGroupforXCPEventwithoutConsistency,
                                             ESCANBaseNodeXCPBDeviceParameters.RespectDataConsistencyDeclarationfromECUforSignalLists)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.Name (ESParameterName)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.Enabled (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ASAMMCD2File (ESParameterString)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ECUByteOrder (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.ECUByteOrder
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ECUSWVersion (ESParameterString)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.SWConsistencyCheck (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.SWConsistencyCheck 
    EnumText1      CDATA "enabled"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "disabled"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.EPK (ESParameterString)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.EPKAddress (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.AutomaticBypassActivation (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.BypassEnableLabel (ESXCPBParameterBypassEnableLabel)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.BypassEnableLabelTransferMethod (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.BypassEnableLabelTransferMethod  
    EnumText1      CDATA "DOWNLOAD"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "DAQ_STIM_LIST"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.BypassEnableDelay (ESParameterUInt)>


<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.SignalSelectionMode (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.SignalSelectionMode 
    EnumText1      CDATA "Declared Fixed or Default for Event"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "Declared Fixed, Default or Available for Event"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "All"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TransferMode (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.TransferMode 
    EnumText1      CDATA "Bypass"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Bypass and Measurement"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Bypass, Measurement and Calibration"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>


<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.XCPProtocolLayerVersion (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.XCPProtocolLayerVersion  
    EnumText1      CDATA "1.0"
    EnumL1Value1     CDATA "256"
    EnumAvailable1 CDATA "1"
    
    EnumText2      CDATA "1.1"
    EnumL1Value2     CDATA "257"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "1.2"
    EnumL1Value3     CDATA "258"
    EnumAvailable3 CDATA "1"
    
    EnumText4      CDATA "1.3"
    EnumL1Value4    CDATA "259"
    EnumAvailable4 CDATA "1"
    
    EnumText5      CDATA "1.4"
    EnumL1Value5     CDATA "260"
    EnumAvailable5 CDATA "1"
    
    EnumText6      CDATA "1.5"
    EnumL1Value6     CDATA "261"
    EnumAvailable6 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimeoutT1 (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimeoutT2 (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimeoutT3 (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimeoutT4 (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimeoutT5 (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimeoutT6 (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimeoutT7 (ESParameterUInt)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxCTO (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxDTO (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.AddressGranularity (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.AddressGranularity   
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.DAQConfigType (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.DAQConfigType  
    EnumText1      CDATA "Static"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Dynamic"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxDAQ (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MinDAQ (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxEventChannel (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.OptimisationType (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.OptimisationType   
    EnumText1      CDATA "Default"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ODT_Type_16"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "ODT_Type_32"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "ODT_Type_64"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
  
    EnumText5      CDATA "ODT_Type_Alignment"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"
  
    EnumText6      CDATA "Max_Entry_Size"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.AddressExtensionType (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.AddressExtensionType    
    EnumText1      CDATA "Free"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "ODT"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "DAQ"
    EnumL1Value3     CDATA "3"
    EnumAvailable3 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.IdentificationFieldType (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.IdentificationFieldType     
    EnumText1      CDATA "Absolute"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Relative Byte"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Relative Word"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "Relative Word Aligned"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.GranularityODTEntrySizeDAQ (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.GranularityODTEntrySizeDAQ      
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxODTEntrySizeDAQ (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.OverloadIndication (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.OverloadIndication       
    EnumText1      CDATA "No"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "PID"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Event"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
>


<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.PrescalerSupported (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ResumeSupported (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ResumeMode (ESParameterBoolean)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.GranularityODTEntrySizeSTIM (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.GranularityODTEntrySizeSTIM     
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxODTEntrySizeSTIM (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.BitSTIMSupported (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimestampSupported (ESParameterBoolean)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimestampTicks (ESParameterUInt)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimestampUnit (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.TimestampUnit        
    EnumText1      CDATA "1 ns"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "10 ns"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "100 ns"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "1 us"
    EnumL1Value4     CDATA "3"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "10 us"
    EnumL1Value5     CDATA "4"
    EnumAvailable5 CDATA "1"

    EnumText6      CDATA "100 us"
    EnumL1Value6     CDATA "5"
    EnumAvailable6 CDATA "1"

    EnumText7      CDATA "1 ms"
    EnumL1Value7     CDATA "6"
    EnumAvailable7 CDATA "1"

    EnumText8      CDATA "10 ms"
    EnumL1Value8     CDATA "7"
    EnumAvailable8 CDATA "1"

    EnumText9      CDATA "100 ms"
    EnumL1Value9     CDATA "8"
    EnumAvailable9 CDATA "1"

    EnumText10      CDATA "1 s"
    EnumL1Value10     CDATA "9"
    EnumAvailable10 CDATA "1"
    
    EnumText11      CDATA "1 ps"
    EnumL1Value11     CDATA "10"
    EnumAvailable11 CDATA "1"
    
    EnumText12      CDATA "10 ps"
    EnumL1Value12     CDATA "11"
    EnumAvailable12 CDATA "1"
    
    EnumText13      CDATA "100 ps"
    EnumL1Value13     CDATA "12"
    EnumAvailable13 CDATA "1"
 >


<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimestampFixed (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TimestampSize (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.TimestampSize        
    EnumText1      CDATA "Missing"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "BYTE"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "WORD"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"

    EnumText4      CDATA "DWORD"
    EnumL1Value4     CDATA "4"
    EnumAvailable4 CDATA "1"

    EnumText5      CDATA "DLONG"
    EnumL1Value5     CDATA "8"
    EnumAvailable5 CDATA "1"
  >

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.PIDOffSupported (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.AutomaticBypassDetection (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.BypassReceiveNamePrefix (ESParameterString)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.BypassReceiveNameSuffix (ESParameterString)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.BypassSendNamePrefix (ESParameterString)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.BypassSendNameSuffix (ESParameterString)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.LogCTO (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.LogDTO (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.LogCalibration (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.LogWarnings (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.LogInformation (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.BehaviorOnInconsistentA2LandECUConfiguration (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.BehaviorOnInconsistentA2LandECUConfiguration          
    EnumText1      CDATA "Use Configuration from ASAM-MCD2 file"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "Use Configuration reported from ECU"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"

    EnumText3      CDATA "Abort start of XCP System"
    EnumL1Value3     CDATA "2"
    EnumAvailable3 CDATA "1"
 >
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.IRQSource (ESParameterString)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.XCPByteOrder (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.XCPByteOrder         
    EnumText1      CDATA "little endian (Intel)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "big endian (Motorola)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.XCPInstance (ESParameterUInt)>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.XCPonCANVersion (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.XCPonCANVersion         
    EnumText1      CDATA "1.0"
    EnumL1Value1     CDATA "256"
    EnumAvailable1 CDATA "1"
        
    EnumText2      CDATA "1.1"
    EnumL1Value2     CDATA "257"
    EnumAvailable2 CDATA "1"
    
    EnumText3      CDATA "1.2"
    EnumL1Value3     CDATA "258"
    EnumAvailable3 CDATA "1"
    
    EnumText4      CDATA "1.3"
    EnumL1Value4     CDATA "259"
    EnumAvailable4 CDATA "1"
    
    EnumText5      CDATA "1.4"
    EnumL1Value5     CDATA "260"
    EnumAvailable5 CDATA "1"
    
    EnumText6      CDATA "1.5"
    EnumL1Value6     CDATA "261"
    EnumAvailable6 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.CANIdentifierTypeMaster (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.CANIdentifierTypeMaster    
    EnumText1      CDATA "standard (11 bit)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "extended (29 bit)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.CANIdentifierMaster (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.CANIdentifierTypeSlave (ESParameterEnum)>
<!ATTLIST ESCANBaseNodeXCPBDeviceParameters.CANIdentifierTypeSlave     
    EnumText1      CDATA "standard (11 bit)"
    EnumL1Value1     CDATA "0"
    EnumAvailable1 CDATA "1"

    EnumText2      CDATA "extended (29 bit)"
    EnumL1Value2     CDATA "1"
    EnumAvailable2 CDATA "1"
>

<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.CANIdentifierSlave (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxDLCRequired (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.CANFDMaxDLC (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.CANFDMaxDLCRequired (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MeasurementSplitAllowed (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.Checksum (ESParameterString)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ISR (ESParameterString)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.SeedAndKeyLibrary (ESParameterString)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.TransportLayerName (ESParameterString)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxDTOSTIM (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.StoreDAQSupported (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.DTOCTRFieldSupported (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxDAQTotal (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxODTTotal (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxODTDAQTotal (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxODTSTIMTotal (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxODTEntriesDAQTotal (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxODTEntriesSTIMTotal (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MaxODTEntriesTotal (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.DAQMemoryLimit (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.DAQSize (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ODTSize (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ODTEntrySize (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ODTDAQBufferElementSize (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ODTSTIMBufferElementSize (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ODTDAQBufferElementReserve (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ODTSTIMBufferElementReserve (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.OptimisationTypeODTStrict (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.MinSTSTIM (ESParameterUInt)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.ImportSignalGroupforXCPEventwithoutConsistency (ESParameterBoolean)>
<!ELEMENT ESCANBaseNodeXCPBDeviceParameters.RespectDataConsistencyDeclarationfromECUforSignalLists (ESParameterBoolean)>

<!ELEMENT ESCANBaseNodeXCPBDeviceSubNodeList (ESXCPBNodeStatus| ESXCPBNodeRasters)*>

