Main_ECU/Data/DTD/YBOAction.dtd

<?DTDVersion "4.6.0"?>
<?CompatibleDTDVersion "4.5.0"?>
<?CompatibleDTDVersion "4.4.1"?>
<?CompatibleDTDVersion "4.4"?>
<?CompatibleDTDVersion "4.2"?>
<?CompatibleDTDVersion "3.1"?>
<?CompatibleDTDVersion "3.0"?>
<?CompatibleDTDVersion "2.2"?>
<?CompatibleDTDVersion "2.1.3"?>
<?CompatibleDTDVersion "2.1.2"?>
<?CompatibleDTDVersion "2.1.1"?>
<?CompatibleDTDVersion "2.1"?>
<?CompatibleDTDVersion "2.0.2"?>
<?CompatibleDTDVersion "2.0.1"?>
<?CompatibleDTDVersion "2.0"?>

<!NOTATION ofTypeYBO SYSTEM "YBO">
<!NOTATION ofTypeYBOAction SYSTEM "YBOAction">
<!NOTATION ofTypeYBOAppMode SYSTEM "YBOAppMode">
<!NOTATION ofTypeYBOArCSource SYSTEM "YBOArCSource">
<!NOTATION ofTypeYBOArEventRef SYSTEM "YBOArEventRef">
<!NOTATION ofTypeYBOArXMLSource SYSTEM "YBOArXMLSource">
<!NOTATION ofTypeYBOBoard SYSTEM "YBOBoard">
<!NOTATION ofTypeYBOBoardConfig SYSTEM "YBOBoardConfig">
<!NOTATION ofTypeYBOCPUBoard SYSTEM "YBOCPUBoard">
<!NOTATION ofTypeYBOConnectable SYSTEM "YBOConnectable">
<!NOTATION ofTypeYBOConnection SYSTEM "YBOConnection">
<!NOTATION ofTypeYBOCrossbarHook SYSTEM "YBOCrossbarHook">
<!NOTATION ofTypeYBODataElementConfig SYSTEM "YBODataElementConfig">
<!NOTATION ofTypeYBODevice SYSTEM "YBODevice">
<!NOTATION ofTypeYBOECU SYSTEM "YBOECU">
<!NOTATION ofTypeYBOECUs SYSTEM "YBOECUs">
<!NOTATION ofTypeYBOETargetConfig SYSTEM "YBOETargetConfig">
<!NOTATION ofTypeYBOEvent SYSTEM "YBOEvent">
<!NOTATION ofTypeYBOEventDependentActions SYSTEM "YBOEventDependentActions">
<!NOTATION ofTypeYBOFunction SYSTEM "YBOFunction">
<!NOTATION ofTypeYBOFunctions SYSTEM "YBOFunctions">
<!NOTATION ofTypeYBOHWPort SYSTEM "YBOHWPort">
<!NOTATION ofTypeYBOHardware SYSTEM "YBOHardware">
<!NOTATION ofTypeYBOHardwareConfig SYSTEM "YBOHardwareConfig">
<!NOTATION ofTypeYBOMappedAction SYSTEM "YBOMappedAction">
<!NOTATION ofTypeYBOMappedCPUBoard SYSTEM "YBOMappedCPUBoard">
<!NOTATION ofTypeYBOMappedDependencyAction SYSTEM "YBOMappedDependencyAction">
<!NOTATION ofTypeYBOMappedECU SYSTEM "YBOMappedECU">
<!NOTATION ofTypeYBOMappedSoftwareSystem SYSTEM "YBOMappedSoftwareSystem">
<!NOTATION ofTypeYBOModule SYSTEM "YBOModule">
<!NOTATION ofTypeYBOModuleConfig SYSTEM "YBOModuleConfig">
<!NOTATION ofTypeYBOModules SYSTEM "YBOModules">
<!NOTATION ofTypeYBONotificationInfo SYSTEM "YBONotificationInfo">
<!NOTATION ofTypeYBOOS SYSTEM "YBOOS">
<!NOTATION ofTypeYBOPort SYSTEM "YBOPort">
<!NOTATION ofTypeYBOPortConfig SYSTEM "YBOPortConfig">
<!NOTATION ofTypeYBOProcess SYSTEM "YBOProcess">
<!NOTATION ofTypeYBOSAP SYSTEM "YBOSAP">
<!NOTATION ofTypeYBOSWPort SYSTEM "YBOSWPort">
<!NOTATION ofTypeYBOSignalGroup SYSTEM "YBOSignalGroup">
<!NOTATION ofTypeYBOSoftware SYSTEM "YBOSoftware">
<!NOTATION ofTypeYBOSoftwareSystem SYSTEM "YBOSoftwareSystem">
<!NOTATION ofTypeYBOSoftwareSystems SYSTEM "YBOSoftwareSystems">
<!NOTATION ofTypeYBOSystemProject SYSTEM "YBOSystemProject">
<!NOTATION ofTypeYBOSystemProjects SYSTEM "YBOSystemProjects">
<!NOTATION ofTypeYBOSystems SYSTEM "YBOSystems">
<!NOTATION ofTypeYBOTask SYSTEM "YBOTask">
<!NOTATION ofTypeYBOWorkspace SYSTEM "YBOWorkspace">


<?SuperClass YBOAction->YBO ?>
<?SuperClass YBOAppMode->YBO ?>
<?SuperClass YBOArCSource->YBO ?>
<?SuperClass YBOArEventRef->YBO ?>
<?SuperClass YBOArXMLSource->YBO ?>
<?SuperClass YBOBoard->YBO ?>
<?SuperClass YBOBoardConfig->YBO ?>
<?SuperClass YBOCPUBoard->YBO ?>
<?SuperClass YBOConnectable->YBO ?>
<?SuperClass YBOConnection->YBO ?>
<?SuperClass YBOCrossbarHook->YBO ?>
<?SuperClass YBODataElementConfig->YBO ?>
<?SuperClass YBODevice->YBO ?>
<?SuperClass YBOECUs->YBO ?>
<?SuperClass YBOEvent->YBO ?>
<?SuperClass YBOEventDependentActions->YBO ?>
<?SuperClass YBOFunctions->YBO ?>
<?SuperClass YBOHWPort->YBOPort ?>
<?SuperClass YBOHardware->YBO ?>
<?SuperClass YBOHardwareConfig->YBO ?>
<?SuperClass YBOMappedAction->YBO ?>
<?SuperClass YBOMappedCPUBoard->YBO ?>
<?SuperClass YBOMappedDependencyAction->YBOMappedAction ?>
<?SuperClass YBOMappedECU->YBO ?>
<?SuperClass YBOMappedSoftwareSystem->YBO ?>
<?SuperClass YBOModules->YBO ?>
<?SuperClass YBOOS->YBO ?>
<?SuperClass YBOPort->YBO ?>
<?SuperClass YBOProcess->YBO ?>
<?SuperClass YBOSAP->YBOPort ?>
<?SuperClass YBOSWPort->YBOPort ?>
<?SuperClass YBOSignalGroup->YBOConnectable ?>
<?SuperClass YBOSoftware->YBO ?>
<?SuperClass YBOSoftwareSystems->YBO ?>
<?SuperClass YBOSystemProjects->YBO ?>
<?SuperClass YBOSystems->YBOSystemProjects ?>
<?SuperClass YBOTask->YBO ?>

<?SuperClass YBOConnectable->TreeViewNode ?>

<!ELEMENT YBOAction EMPTY>
<!ATTLIST YBOAction
    Name ID #REQUIRED
    Visible ( FALSE | TRUE ) "FALSE"
    Hidden ( FALSE | TRUE ) "FALSE"
    Kind ( NONE | INIT | START | STOP | EXIT | READ | WRITE | CONFIG | ANALYSE | MANAGE | SYNC_READ | SYNC_WRITE | MULTI_ANALYSE | PROCESS | SOURCE_COPY | SINK_COPY | ANALYSE_V2 | MULTI_ANALYSE_V2 | ACKNOWLEDGE ) "NONE"
    VisibleName CDATA ""
>



<!ELEMENT YBOAppMode (YBOAppMode.Tasks)>
<!ATTLIST YBOAppMode
    Name ID #REQUIRED
    Visible ( FALSE | TRUE ) "FALSE"
    StartingMode ( FALSE | TRUE ) "FALSE"
    VisibleName CDATA ""
>


<!ELEMENT YBOAppMode.Tasks (YBOTaskList)>

<!ELEMENT YBOArCSource EMPTY>
<!ATTLIST YBOArCSource
	Name ID #REQUIRED
	CSource CDATA ""
	VisibleName CDATA ""
	Visible ( FALSE | TRUE ) "TRUE"
>



<!ELEMENT YBOArEventRef EMPTY>
<!ATTLIST YBOArEventRef
    Name ID #REQUIRED
    ArEventRef CDATA ""
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>



<!ELEMENT YBOArXMLSource EMPTY>
<!ATTLIST YBOArXMLSource
	Name ID #REQUIRED
	XMLSource CDATA ""
	VisibleName CDATA ""
	Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOBoard (YBOBoard.Devices, YBOBoard.Actions)>
<!ATTLIST YBOBoard
    Name ID #REQUIRED
    Enabled ( FALSE | TRUE ) "TRUE"
    BoardType CDATA ""
    Instance CDATA "0"
    IRQTriggered ( FALSE | TRUE ) "FALSE"
    PseudoBoard ( FALSE | TRUE ) "FALSE"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOBoard.Devices (YBODeviceList)>
<!ELEMENT YBOBoard.Actions (YBOActionList)>

<!ELEMENT YBOBoardConfig (YBOBoardConfig.PortConfigs, YBOBoardConfig.Boards)>
<!ATTLIST YBOBoardConfig
    Name ID #REQUIRED
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "FALSE"
>


<!ELEMENT YBOBoardConfig.PortConfigs (YBOPortConfigList)>
<!ELEMENT YBOBoardConfig.Boards (YBOBoardRefList)>

<!ELEMENT YBOCPUBoard (YBOCPUBoard.Boards, YBOCPUBoard.OSs)>
<!ATTLIST YBOCPUBoard
    Name ID #REQUIRED
    BoardType CDATA ""
    Instance CDATA "0"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOCPUBoard.Boards (YBOBoardList)>
<!ELEMENT YBOCPUBoard.OSs (YBOOSList)>

<!ELEMENT YBOConnection EMPTY>
<!ATTLIST YBOConnection
    Name ID #REQUIRED
    Flag ( STATIC | DYNAMIC | VIRTUAL ) "DYNAMIC"
    Enabled ( FALSE | TRUE ) "TRUE"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>



<!ELEMENT YBOCrossbarHook (YBOCrossbarHook.Actions, YBOCrossbarHook.SWPorts)>
<!ATTLIST YBOCrossbarHook
    Name ID #REQUIRED
    Visible ( FALSE | TRUE ) "FALSE"
    Kind ( SOURCE | SINK ) "SOURCE"
    VisibleName CDATA ""
>


<!ELEMENT YBOCrossbarHook.Actions (YBOActionList)>
<!ELEMENT YBOCrossbarHook.SWPorts (YBOSWPortRefList)>

<!ELEMENT YBODataElementConfig EMPTY>
<!ATTLIST YBODataElementConfig
    Name ID #REQUIRED
    OffsetAddress CDATA ""
    NumberOfAddressLevels CDATA "0"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "FALSE"
>



<!ELEMENT YBODevice (YBODevice.SignalGroups, YBODevice.Actions, YBODevice.Events)>
<!ATTLIST YBODevice
    Name ID #REQUIRED
    PseudoDevice ( FALSE | TRUE ) "FALSE"
    CommunicationType ( IO | NETWORK ) "IO"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
    AutoMappable ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBODevice.SignalGroups (YBOSignalGroupList)>
<!ELEMENT YBODevice.Actions (YBOActionList)>
<!ELEMENT YBODevice.Events (YBOEventList)>

<!ELEMENT YBOECUs (YBOECUs.ECUs)>
<!ATTLIST YBOECUs
    Name ID #REQUIRED
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
    ECUMaxCount CDATA "-1"
>


<!ELEMENT YBOECUs.ECUs (YBOECURefList)>

<!ELEMENT YBOETargetConfig (YBOETargetConfig.ModuleConfigs)>
<!ATTLIST YBOETargetConfig
    Name ID #REQUIRED
    ProgramIdentifier CDATA "{00000000-0000-0000-0000-000000000000}"
    BasisAddress CDATA ""
>


<!ELEMENT YBOETargetConfig.ModuleConfigs (YBOModuleConfigList)>

<!ELEMENT YBOEvent EMPTY>
<!ATTLIST YBOEvent
    Name ID #REQUIRED
    Visible ( FALSE | TRUE ) "FALSE"
    Hidden ( FALSE | TRUE ) "FALSE"
    Kind ( TASKACTIVATION | INTERRUPT ) "TASKACTIVATION"
    AnalyzeCapable ( FALSE | TRUE ) "FALSE"
    Source CDATA ""
    VisibleName CDATA ""
>



<!ELEMENT YBOEventDependentActions (YBOEventDependentActions.Events, YBOEventDependentActions.MappedActions)>
<!ATTLIST YBOEventDependentActions
    Name ID #REQUIRED
    ISRFunctionIndex CDATA "-1"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOEventDependentActions.Events (YBOEventRefList)>
<!ELEMENT YBOEventDependentActions.MappedActions (YBOMappedActionList)>

<!ELEMENT YBOFunctions (YBOFunctions.Functions)>
<!ATTLIST YBOFunctions
    Name ID #REQUIRED
    Kind ( SOFTWARE | ENVIRONMENT | SYSTEM | HARDWARE ) "SOFTWARE"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOFunctions.Functions (YBOFunctionRefList)>

<!-- ReferenceID, Open and ValidRange are obsolete and unused -->
<!ELEMENT YBOHWPort (YBOHWPort.Connections)>
<!ATTLIST YBOHWPort
    Name ID #REQUIRED
    ReferenceID CDATA "0"
    Unit CDATA ""
    Size ( UINT8 | SINT8 | UINT16 | SINT16 | UINT32 | SINT32 | REAL32 | REAL64 | BOOLEAN | COMPLEX | VOID ) "VOID"
    PortType ( CONTINUOUS | DISCRETE | UDISCRETE | BOOLEAN | COMPOUND | ENUMERATION | OTHER ) "OTHER"
    Saturated ( FALSE | TRUE ) "TRUE"
    Direction ( IN | OUT | NA ) "NA"
    Open ( FALSE | TRUE ) "FALSE"
    Format ( PHYSICAL | IMPLEMENTED ) "PHYSICAL"
    QuantizationFormula_m CDATA "1.0"
    QuantizationFormula_t CDATA "0.0"
    ValidRange ( FALSE | TRUE ) "FALSE"
    LowerBound CDATA "0.0"
    UpperBound CDATA "0.0"
    InitValue CDATA "0.0"
    PortInterfaceType ( OUT_IN | SENDER_RECEIVER | SERVER_CLIENT ) "OUT_IN"
    ArTRef CDATA ""
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOHWPort.Connections (YBOConnectionRefList)>

<!ELEMENT YBOHardware (YBOHardware.ECUs)>
<!ATTLIST YBOHardware
    Name ID #REQUIRED
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOHardware.ECUs (YBOECUs)>

<!ELEMENT YBOHardwareConfig (YBOHardwareConfig.BoardConfigs)>
<!ATTLIST YBOHardwareConfig
    Name ID #REQUIRED
    ProgramIdentifier CDATA "{00000000-0000-0000-0000-000000000000}"
    ResultPath CDATA ""
    ASAPFileName CDATA ""
    HEXFileName CDATA ""
    RTPFileName CDATA ""
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "FALSE"
>


<!ELEMENT YBOHardwareConfig.BoardConfigs (YBOBoardConfigList)>

<!ELEMENT YBOMappedAction (YBOMappedAction.Actions)>
<!ATTLIST YBOMappedAction
    Name ID #REQUIRED
    TaskID CDATA "-1"
    HookID CDATA "-1"
    HookPosition CDATA "-1"
    SystemAction ( FALSE | TRUE ) "FALSE"
    IRQProtection ( FALSE | TRUE ) "FALSE"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOMappedAction.Actions (YBOActionRefList)>

<!-- The attribute HardwareIdentifier is an artefact. The access method was removed with revision 64019. It is only part of the data model to avoid an updater. --> 
<!ELEMENT YBOMappedCPUBoard (YBOMappedCPUBoard.CPUBoards, YBOMappedCPUBoard.OS, YBOMappedCPUBoard.SignalGroups, YBOMappedCPUBoard.HardwareConfigs)>
<!ATTLIST YBOMappedCPUBoard
    Name ID #REQUIRED
    HardwareIdentifier CDATA ""
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "FALSE"
>


<!ELEMENT YBOMappedCPUBoard.CPUBoards (YBOCPUBoardRefList)>
<!ELEMENT YBOMappedCPUBoard.OS (YBOOS)>
<!ELEMENT YBOMappedCPUBoard.SignalGroups (YBOSignalGroupRefList)>
<!ELEMENT YBOMappedCPUBoard.HardwareConfigs (YBOHardwareConfigList)>

<!ELEMENT YBOMappedDependencyAction (YBOMappedDependencyAction.EventDependentActions, YBOMappedDependencyAction.Actions)>
<!ATTLIST YBOMappedDependencyAction
    Name ID #REQUIRED
    TaskID CDATA "-1"
    HookID CDATA "-1"
    HookPosition CDATA "-1"
    SystemAction ( FALSE | TRUE ) "FALSE"
    IRQProtection ( FALSE | TRUE ) "FALSE"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOMappedDependencyAction.EventDependentActions (EventDependentActionsList)>
<!ELEMENT YBOMappedDependencyAction.Actions (YBOActionRefList)>

<!ELEMENT YBOMappedECU (YBOMappedECU.MappedCPUBoards)>
<!ATTLIST YBOMappedECU
    Name ID #REQUIRED
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
    ECU.ofTypeYBOECU ENTITY #IMPLIED
>


<!ELEMENT YBOMappedECU.MappedCPUBoards (YBOMappedCPUBoardList)>

<!ELEMENT YBOMappedSoftwareSystem (YBOMappedSoftwareSystem.ETargetConfigs)>
<!ATTLIST YBOMappedSoftwareSystem
    Name ID #REQUIRED
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
    SoftwareSystem.ofTypeYBOSoftwareSystem ENTITY #IMPLIED
>


<!ELEMENT YBOMappedSoftwareSystem.ETargetConfigs (YBOETargetConfigList)>

<!ELEMENT YBOModuleConfig (YBOModuleConfig.DataElementConfigs)>
<!ATTLIST YBOModuleConfig
    Name ID #REQUIRED
    OffsetAddress CDATA ""
>


<!ELEMENT YBOModuleConfig.DataElementConfigs (YBODataElementConfigList)>

<!ELEMENT YBOModules (YBOModules.Modules)>
<!ATTLIST YBOModules
    Name ID #REQUIRED
    Kind ( SOFTWARE | ENVIRONMENT | SYSTEM | HARDWARE ) "SOFTWARE"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOModules.Modules (YBOModuleRefList)>

<!ELEMENT YBOOS (YBOOS.AppModes, YBOOS.Tasks)>
<!ATTLIST YBOOS
    Name ID #REQUIRED
    RTEnable ( FALSE | TRUE ) "FALSE"
    RTTraceProcess ( FALSE | TRUE ) "FALSE"
    MinPreempPrio CDATA "0"
    TimerBase CDATA "0.0"
    StatusMode ( STANDARD | EXTENDED ) "STANDARD"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
    ExpertMode ( FALSE | TRUE ) "FALSE"
>


<!ELEMENT YBOOS.AppModes (YBOAppModeList)>
<!ELEMENT YBOOS.Tasks (YBOTaskList)>

<!ELEMENT YBOPortConfig (YBOPortConfig.HWPorts)>
<!ATTLIST YBOPortConfig
    Name ID #REQUIRED
>


<!ELEMENT YBOPortConfig.HWPorts (YBOHWPortRefList)>

<!ELEMENT YBOProcess (YBOProcess.Actions, YBOProcess.CrossbarHooks, YBOProcess.ArEventRefs)>
<!ATTLIST YBOProcess
    Name ID #REQUIRED
    Visible ( FALSE | TRUE ) "FALSE"
    Kind ( INITIALIZATION | TIMER | INTERRUPT | SOFTWARE | TERMINATION | NONE ) "NONE"
    Period CDATA "0.0"
    Offset CDATA "0.0"
    Priority CDATA "0.0"
    VisibleName CDATA ""
    ArTRef CDATA ""
>


<!ELEMENT YBOProcess.Actions (YBOActionList)>
<!ELEMENT YBOProcess.CrossbarHooks (YBOCrossbarHookList)>
<!ELEMENT YBOProcess.ArEventRefs (YBOArEventRefList)>

<!-- ReferenceID, Open and ValidRange are obsolete and unused -->
<!ELEMENT YBOSAP (YBOSAP.Connections)>
<!ATTLIST YBOSAP
    Name ID #REQUIRED
    Unit CDATA ""
    Size ( UINT8 | SINT8 | UINT16 | SINT16 | UINT32 | SINT32 | REAL32 | REAL64 | BOOLEAN | COMPLEX | VOID ) "VOID"
    PortType ( CONTINUOUS | DISCRETE | UDISCRETE | BOOLEAN | COMPOUND | ENUMERATION | OTHER ) "OTHER"
    Saturated ( FALSE | TRUE ) "TRUE"
    Direction ( IN | OUT | NA ) "NA"
    Open ( FALSE | TRUE ) "FALSE"
    Format ( PHYSICAL | IMPLEMENTED ) "PHYSICAL"
    QuantizationFormula_m CDATA "1.0"
    QuantizationFormula_t CDATA "0.0"
    ValidRange ( FALSE | TRUE ) "FALSE"
    LowerBound CDATA "0.0"
    UpperBound CDATA "0.0"
    InitValue CDATA "0.0"
    PortInterfaceType ( OUT_IN | SENDER_RECEIVER | SERVER_CLIENT ) "OUT_IN"
    ArTRef CDATA ""
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOSAP.Connections (YBOConnectionRefList)>

<!-- ReferenceID, Open and ValidRange are obsolete and unused -->
<!ELEMENT YBOSWPort (YBOSWPort.Connections)>
<!ATTLIST YBOSWPort
    Name ID #REQUIRED
    Unit CDATA ""
    Size ( UINT8 | SINT8 | UINT16 | SINT16 | UINT32 | SINT32 | REAL32 | REAL64 | BOOLEAN | COMPLEX | VOID ) "VOID"
    PortType ( CONTINUOUS | DISCRETE | UDISCRETE | BOOLEAN | COMPOUND | ENUMERATION | OTHER ) "OTHER"
    Saturated ( FALSE | TRUE ) "TRUE"
    Direction ( IN | OUT | NA ) "NA"
    Open ( FALSE | TRUE ) "FALSE"
    Format ( PHYSICAL | IMPLEMENTED ) "PHYSICAL"
    QuantizationFormula_m CDATA "1.0"
    QuantizationFormula_t CDATA "0.0"
    ValidRange ( FALSE | TRUE ) "FALSE"
    LowerBound CDATA "0.0"
    UpperBound CDATA "0.0"
    InitValue CDATA "0.0"
    PortInterfaceType ( OUT_IN | SENDER_RECEIVER | SERVER_CLIENT ) "OUT_IN"
    ArTRef CDATA ""
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOSWPort.Connections (YBOConnectionRefList)>

<!ELEMENT YBOSignalGroup (YBOSignalGroup.Events, YBOSignalGroup.Actions, YBOSignalGroup.Ports)>
<!ATTLIST YBOSignalGroup
    Name ID #REQUIRED
    Direction ( SEND | RECEIVE | NA ) "NA"
    Enabled ( FALSE | TRUE ) "TRUE"
    IRQTriggered ( FALSE | TRUE ) "FALSE"
    Kind ( SOFTWARE | ENVIRONMENT | SYSTEM | HARDWARE ) "HARDWARE"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
    Period CDATA "0.0"
>


<!ELEMENT YBOSignalGroup.Events (YBOEventList)>
<!ELEMENT YBOSignalGroup.Actions (YBOActionList)>
<!ELEMENT YBOSignalGroup.Ports (YBOPortList)>

<!ELEMENT YBOSoftware (YBOSoftware.Modules, YBOSoftware.Functions, YBOSoftware.SoftwareSystems)>
<!ATTLIST YBOSoftware
    Name ID #REQUIRED
    Kind ( SOFTWARE | ENVIRONMENT | SYSTEM | HARDWARE ) "SOFTWARE"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOSoftware.Modules (YBOModules)>
<!ELEMENT YBOSoftware.Functions (YBOFunctions)>
<!ELEMENT YBOSoftware.SoftwareSystems (YBOSoftwareSystems)>

<!ELEMENT YBOSoftwareSystems (YBOSoftwareSystems.SoftwareSystems)>
<!ATTLIST YBOSoftwareSystems
    Name ID #REQUIRED
    Kind ( SOFTWARE | ENVIRONMENT | SYSTEM | HARDWARE ) "SOFTWARE"
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOSoftwareSystems.SoftwareSystems (YBOSoftwareSystemRefList)>

<!ELEMENT YBOSystemProjects (YBOSystemProjects.SystemProjects)>
<!ATTLIST YBOSystemProjects
    Name ID #REQUIRED
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOSystemProjects.SystemProjects (YBOSystemProjectRefList)>

<!ELEMENT YBOSystems (YBOSystems.SystemProjects)>
<!ATTLIST YBOSystems
    Name ID #REQUIRED
    VisibleName CDATA ""
    Visible ( FALSE | TRUE ) "TRUE"
>


<!ELEMENT YBOSystems.SystemProjects (YBOSystemProjectRefList)>

<!ELEMENT YBOTask (YBOTask.Events, YBOTask.MappedActions)>
<!ATTLIST YBOTask
    Name ID #REQUIRED
    Visible ( FALSE | TRUE ) "FALSE"
    Enable ( FALSE | TRUE ) "TRUE"
    TaskID CDATA "-1"
    Scheduling ( FULL | NON ) "FULL"
    Priority CDATA "0"
    Timebase ( ALARM | TIMETABLE ) "ALARM"
    Period CDATA "0.01"
    Delay CDATA "0.0"
    Deadline CDATA "0.0"
    MaxNumOfActivation CDATA "1"
    Autostart ( FALSE | TRUE ) "FALSE"
    Hooks ( MONITORING ) "MONITORING"
    Monitoring ( FALSE | TRUE ) "FALSE"
    ExcludeFromTrace ( FALSE | TRUE ) "TRUE"
    Owner CDATA ""
    Hidden ( FALSE | TRUE ) "FALSE"
    ReadOnly ( FALSE | TRUE ) "FALSE"
    TaskType ( INIT | EXIT | SOFTWARE | TIMER | INTERNAL | NONE | ISR ) "NONE"
    OSExecutionBudget CDATA "0.0"
    VisibleName CDATA ""
    TaskCreator.ofTypeYBO ENTITY #IMPLIED
>


<!ELEMENT YBOTask.Events (YBOEventRefList)>
<!ELEMENT YBOTask.MappedActions (YBOMappedActionList)>

<!ELEMENT YBORefList (YBORefList.EmbeddedLink)*>

<!ELEMENT YBORefList.EmbeddedLink EMPTY>
<!ATTLIST YBORefList.EmbeddedLink
    EmbeddedLink ENTITY #IMPLIED
>


<!ELEMENT YBOECURefList (YBOECURefList.EmbeddedLink)*>

<!ELEMENT YBOECURefList.EmbeddedLink EMPTY>
<!ATTLIST YBOECURefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOECU ENTITY #IMPLIED
>


<!ELEMENT YBOCPUBoardRefList (YBOCPUBoardRefList.EmbeddedLink)*>

<!ELEMENT YBOCPUBoardRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOCPUBoardRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOCPUBoard ENTITY #IMPLIED
>


<!ELEMENT YBOBoardRefList (YBOBoardRefList.EmbeddedLink)*>

<!ELEMENT YBOBoardRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOBoardRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOBoard ENTITY #IMPLIED
>


<!ELEMENT YBOSignalGroupRefList (YBOSignalGroupRefList.EmbeddedLink)*>

<!ELEMENT YBOSignalGroupRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOSignalGroupRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOSignalGroup ENTITY #IMPLIED
>


<!ELEMENT YBOHWPortRefList (YBOHWPortRefList.EmbeddedLink)*>

<!ELEMENT YBOHWPortRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOHWPortRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOHWPort ENTITY #IMPLIED
>


<!ELEMENT YBOSystemProjectRefList (YBOSystemProjectRefList.EmbeddedLink)*>

<!ELEMENT YBOSystemProjectRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOSystemProjectRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOSystemProject ENTITY #IMPLIED
>


<!ELEMENT YBOSoftwareSystemRefList (YBOSoftwareSystemRefList.EmbeddedLink)*>

<!ELEMENT YBOSoftwareSystemRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOSoftwareSystemRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOSoftwareSystem ENTITY #IMPLIED
>


<!ELEMENT YBOFunctionRefList (YBOFunctionRefList.EmbeddedLink)*>

<!ELEMENT YBOFunctionRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOFunctionRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOFunction ENTITY #IMPLIED
>


<!ELEMENT YBOModuleRefList (YBOModuleRefList.EmbeddedLink)*>

<!ELEMENT YBOModuleRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOModuleRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOModule ENTITY #IMPLIED
>


<!ELEMENT YBOConnectionRefList (YBOConnectionRefList.EmbeddedLink)*>

<!ELEMENT YBOConnectionRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOConnectionRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOConnection ENTITY #IMPLIED
>


<!ELEMENT YBOSWPortRefList (YBOSWPortRefList.EmbeddedLink)*>

<!ELEMENT YBOSWPortRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOSWPortRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOSWPort ENTITY #IMPLIED
>


<!ELEMENT YBOSAPRefList (YBOSAPRefList.EmbeddedLink)*>

<!ELEMENT YBOSAPRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOSAPRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOSAP ENTITY #IMPLIED
>


<!ELEMENT YBOOSRefList (YBOOSRefList.EmbeddedLink)*>

<!ELEMENT YBOOSRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOOSRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOOS ENTITY #IMPLIED
>


<!ELEMENT YBOEventRefList (YBOEventRefList.EmbeddedLink)*>

<!ELEMENT YBOEventRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOEventRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOEvent ENTITY #IMPLIED
>


<!ELEMENT YBOActionRefList (YBOActionRefList.EmbeddedLink)*>

<!ELEMENT YBOActionRefList.EmbeddedLink EMPTY>
<!ATTLIST YBOActionRefList.EmbeddedLink
	EmbeddedLink.ofTypeYBOAction ENTITY #IMPLIED
>


<!ELEMENT YBOConnectionList (YBOConnection)*>


<!ELEMENT YBOSAPList (YBOSAP)*>


<!ELEMENT YBOSWPortList (YBOSWPort)*>


<!ELEMENT YBOPortList (YBOSAP | YBOHWPort | YBOSWPort)*>


<!ELEMENT YBOProcessList (YBOProcess)*>


<!ELEMENT YBOCrossbarHookList (YBOCrossbarHook)*>


<!ELEMENT YBOActionList (YBOAction)*>


<!ELEMENT YBOETargetConfigList (YBOETargetConfig)*>


<!ELEMENT YBOModuleConfigList (YBOModuleConfig)*>


<!ELEMENT YBODataElementConfigList (YBODataElementConfig)*>


<!ELEMENT YBOCPUBoardList (YBOCPUBoard)*>


<!ELEMENT YBOBoardList (YBOBoard)*>


<!ELEMENT YBODeviceList (YBODevice)*>


<!ELEMENT YBOSignalGroupList (YBOSignalGroup)*>


<!ELEMENT YBOHWPortList (YBOHWPort)*>


<!ELEMENT YBOMappedCPUBoardList (YBOMappedCPUBoard)*>


<!ELEMENT YBOHardwareConfigList (YBOHardwareConfig)*>


<!ELEMENT YBOBoardConfigList (YBOBoardConfig)*>


<!ELEMENT YBOPortConfigList (YBOPortConfig)*>


<!ELEMENT YBOOSList (YBOOS)*>


<!ELEMENT YBOAppModeList (YBOAppMode)*>


<!ELEMENT YBOTaskList (YBOTask)*>


<!ELEMENT YBOEventList (YBOEvent)*>


<!ELEMENT YBOMappedActionList (YBOMappedAction | YBOMappedDependencyAction)*>


<!ELEMENT YBOMappedSoftwareSystemList (YBOMappedSoftwareSystem)*>


<!ELEMENT EventDependentActionsList (YBOEventDependentActions)*>


<!ELEMENT YBOArXMLSourceList (YBOArXMLSource)*>


<!ELEMENT YBOArCSourceList (YBOArCSource)*>


<!ELEMENT YBOArEventRefList (YBOArEventRef)*>


